<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>银行账户管理</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>学员管理<span class="c-gray en">&gt;</span> 银行账户管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
    <form method="post" action="{:U('Student/searchUsersWallet')}" name="search">
		<div class="pd-20">
			<div class=""> 
				 <label for="search_info">按账户信息 </label>
				 <select class="" name="search_info" id="search_info" style="width:150px;height:30px">				   
				    <option style="" value="" >--不限账户信息--</option>
				    <option style="" value="s_real_name" <if condition = "$search_info eq s_real_name">selected</if>>姓名</option>
				    <option style="" value="s_username" <if condition = "$search_info eq s_username">selected</if>>昵称</option>
				    <option style="" value="bank_user_name" <if condition = "$search_info eq bank_user_name">selected</if>>账户名</option>
				    <option style="" value="bank_phone" <if condition = "$search_info eq bank_phone">selected</if>>手机号</option>
				    <option style="" value="bank_identifyid" <if condition = "$search_info eq bank_identifyid">selected</if>>身份证号</option>
				    <option style="" value="bank_name" <if condition = "$search_info eq bank_name">selected</if>>银行名称</option>
				    <option style="" value="bank_account" <if condition = "$search_info eq bank_account">selected</if>>银行账号</option>
				 </select>    
				   
                 <input id="s_keyword" class="input-text default size-M" type="text" name="s_keyword" value="{$s_keyword}" placeholder="账户信息" style="width:240px;"/>
				 <input type="submit" id="search_student" class="btn btn-primary size-M default" style="width:100px" value="搜索" />
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="r">账户信息共有：<strong>{$count}</strong> 条</span> 
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>	
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="80">ID</th>
							<th width="80">姓名</th>
							<th width="80">昵称</th>
							<th width="100">账户名</th>
							<th width="100">银行名称</th>
							<th width="100">银行账号</th>
							<th width="100">手机号</th>
							<th width="100">身份证号</th>
							<th width="100">添加时间</th>
							<!-- <th width="50">操作</th> -->
						</tr>
					</thead>
					<tbody>
						<foreach name="userswalletlist" item="obj">
							<tr class="text-c">
								<td><input type="checkbox" value="1" name=""></td>
								<td>{$obj.id}</td>
								<td>{$obj.s_real_name}</td>
								<td>{$obj.s_username}</td>
								<td>{$obj.bank_user_name}</td>
								<td>{$obj.bank_name}</td>
								<td>{$obj.bank_account}</td>
								<td>{$obj.bank_phone}</td>
								<td>{$obj.bank_identifyid}</td>
								<td>{$obj.addtime}</td>
								<!-- <td class="td-manage">
									<a title="删除" href="javascript:;" onclick="member_del(this,{$obj.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
								</td> -->
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
			<div class="page pagination" style="">
				<empty name="count">
					<br /><strong>暂无列表</strong><br /><br /><br />
				</empty>
				<p>{$page}</p>
			</div>
		</div>
	</form>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript">
/*用户-删除*/
// function member_del(obj,id){
// 	layer.confirm('确认要删除吗？',function(index){
// 		$.ajax({
// 			type:"POST",
// 			url:"__URL__/delUsersWallet",
// 			data:{'id':id},
// 			dataType:'JSON',
// 			success:function(data) {
// 				if(data.code == 200) {
// 					$(obj).parents("tr").remove();
// 					layer.msg('已删除!',{icon:1,time:1000});
// 				} else if (data.code == 400) {
// 					layer.msg(data.msg,{icon:2,time:1000});
// 				} else {
// 					layer.msg('操作故障!',{icon:2,time:1000});
// 				}
					
// 			},
// 			error:function() {
// 				layer.msg('网络错误，请检查网络!',{icon:2,time:1000});	
// 			}
// 		});
// 	});
// }
</script> 
</body>
</html>
