{template "content","zizhan_header"}
<div id="container_page">
	{template "content", "zizhan_navbar"}
	<div id="content">
		<table width="1166" border="0" cellspacing="0" cellpadding="0">
  			<tr>
    			<td width="306" align="left" valign="top">
				    <table width="320" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#FCFAFB">
				    	
				      	<tr>
				        	<td>
				        		<div style="margin-bottom: 10px; width:320px; height:30px; background: #CDE6FA;">
				        			<p style="color: #fff; font-weight: bold; text-align:center; line-height: 30px; width: 100px; background: #3789B8;">信息公告</p>
				        		</div>
				        	</td>
				      	</tr>
				      	<tr>
				        	<td height="200" valign="top">
					        	<table width="320" border="0" cellspacing="0" cellpadding="0">
						          	<!--list-->
						          	<tr>
							            <td width="30" height="25" align="center"><img src="{IMG_PATH}xb.gif" width="9" height="10" /></td>
							            <td>
							            	<table width=100%  cellpadding=0 cellspacing=0 border=0><tr>
							            		<td align=left>
							            			<a href="" target=_blank title="关于开展新闻培训的通知">关于开展新闻培训的通知</a>
							            		</td>
							            	</tr>
							            	</table>
							            </td>
						          	</tr>
						          	<!--list-->
					    		</table>
					        	<div align=right><a href="list-23.htm"  target="_self">更多>></a></div>
					        </td>
				      	</tr>

				   		<tr>
				        	<td>
				        		<div align="left">
				        			<div style="margin-bottom: 10px; width:320px; height:30px; background: #CDE6FA;">
					        			<p style="color: #fff; font-weight: bold; text-align:center; line-height: 30px; width: 100px; background: #3789B8;">最新动态</p>
					        		</div>
				        			<!-- <a href="#"><img src="{IMG_PATH}3.jpg" width="320" height="30" /></a> -->
				        		</div>
				        	</td>
				      	</tr>
      					<tr>
						    <td height="200" valign="top">
								<div id='Divc8fcb761dd8c401b8aae24c984d9e24c_Top' style="overflow:hidden; height:300px;">
									
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<!--list-->
							         	<tr>
								            <td width="30" height="25" align="center"><img src="{IMG_PATH}xb.gif" width="9" height="10" /></td>
								            <td>
								            	<table width=100%  cellpadding=0 cellspacing=0 border=0><tr>
								            		<td align=left>
								            			<a href="" target=_blank title="关于开展新闻培训的通知">关于开展新闻培训的通知</a>
								            		</td>
								            	</tr>
								            	</table>
								            </td>
							          	</tr>
										<!--list-->
							          
							        </table>
								</div>
								
								<div align=right>
									<a href="list-24.htm"  target="_self">更多>></a>
								</div>
						    </td>
      					</tr>
    				</table>
				</td>
    			<td width="15" >&nbsp;</td>
			    <td width="470" valign="top">
				    <table width="470" border="0" cellspacing="0" cellpadding="0">
				      <tr>
				      	<td>
					      	<div style="margin-bottom: 10px; width:470px; height:30px; background: #CDE6FA;">
			        			<p style="color: #fff; font-weight: bold; text-align:center; line-height: 30px; width: 100px; background: #3789B8;">科系新闻</p>
			        		</div>
				      	</td>
				        <!-- <td height="50" valign="top" ><img src="{IMG_PATH}4.jpg"  width="470" height="30" /></td> -->
				      </tr>
				      <tr>
				        <td height="170" valign="top">
					        <table width="100%" border="0" cellspacing="0" cellpadding="0">
					        	<!--list-->
						        <tr>
							        <td width="30" height="20" align="right"><img src="{IMG_PATH}xb.gif" width="9" height="10" /></td>
							        <td width="10">&nbsp;</td>
							        <td>
							        	<table width=100% cellpadding=0 cellspacing=0 border=0>
								        	<tr>
								        		<td align=left>
								        			<a href="info29832.htm" target='_blank' title="六十余名校友回母校共话武职情">六十余名校友回母校共话武职情</a>
								        		</td>
								        		<td  width='30' align=right><div style='white-space:nowrap'>05-24</div></td>
								        	</tr>
								        </table>
							        </td>
						        </tr>
					        	<!--list-->
					        
					        </table>
					        <div align=right>
					        	<a href="list-25.htm"  target="_self">更多>></a>
					        </div>
				        </td>
				      </tr>
				      <tr>
				        <td height="50" background="{IMG_PATH}tz.jpg" >
				        	<div style="margin-bottom: 10px; width:470px; height:30px; background: #CDE6FA;">
			        			<p style="color: #fff; font-weight: bold; text-align:center; line-height: 30px; width: 100px; background: #3789B8;">信息公告</p>
			        		</div>
				        	<!-- <img src="{IMG_PATH}5.jpg"  width="470" height="30" /> -->
				        </td>
				      </tr>
				      <tr>
				        <td height="150" valign="top">
				        <table width="100%" border="0" cellspacing="0" cellpadding="0">
				        	<!--list-->
					        <tr>
						        <td width="30" height="20" align="right"><img src="{IMG_PATH}xb.gif" width="9" height="10" /></td>
						        <td width="10">&nbsp;</td>
						        <td>
						        	<table width=100%  cellpadding=0 cellspacing=0 border=0><tr><td align=left>
							        	<a href="info28955.htm"  target=_blank title="学生创业再结硕果&nbsp;&nbsp;“衣来衣往”牵手“校导网”">学生创业再结硕果  “衣来衣往”牵手“校导网”</a></td>
							        	<td  width='30' align=right><div style='white-space:nowrap'>03-31</div></td></tr>
							        </table>
						        </td>
					        </tr>
				        	<!--list-->
				        
				        </table>
				        <div align=right><a href="list-26.htm"  target="_self">更多>></a></div></td>
				      </tr>
				      <tr>
				        <td height="50" background="{IMG_PATH}dt.jpg" >
				        	<div style="margin-bottom: 10px; width:470px; height:30px; background: #CDE6FA;">
			        			<p style="color: #fff; font-weight: bold; text-align:center; line-height: 30px; width: 100px; background: #3789B8;">教学管理</p>
			        		</div>
			        	</td>
				        	<!-- <img src="{IMG_PATH}6.jpg"  width="470" height="30" /></td> -->
				      </tr>
				      <tr>
				        <td height="150" valign="top">
				        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				        		<!--list-->
					          	<tr>
						            <td width="30" height="20" align="right"><img src="{IMG_PATH}xb.gif" width="9" height="10" /></td>
						            <td width="10">&nbsp;</td>
						            <td>
						            	<table width=100%  cellpadding=0 cellspacing=0 border=0>
						            		<tr>
						            			<td align=left><a href="info29839.htm" target=_blank title="团省委第八调研督导组来校督导共青团重点工作">团省委第八调研督导组来校督导共青团重点工作</a></td>
						            			<td  width='30' align=right><div style='white-space:nowrap'>05-26</div></td>
						            		</tr>
						            	</table>
						            </td>
				     			</tr>
				        		<!--list-->
					        
				        </table>
				        <div align=right><a href="list-27.htm"  target="_self">更多>></a></div></td>
				      </tr>
				    </table>
			    </td>
			    <td width="15">&nbsp;</td>
			    <td width="306"  valign="top">
				    <table width="320" border="0" align="right" cellpadding="0" cellspacing="0" bgcolor="#FCFAFB">
				      <tr>
				      	<td>
				      		<div style="margin-bottom: 10px; width:320px; height:30px; background: #CDE6FA;">
			        			<p style="color: #fff; font-weight: bold; text-align:center; line-height: 30px; width: 100px; background: #3789B8;">文化长廊</p>
			        		</div>
				      	</td>
				        <!-- <td><div align="center"><img src="{IMG_PATH}7.jpg"  alt="" width="320" height="30" /></div></td> -->
				      </tr>
				      <tr>
				        <td height="200" valign="top">
				        	<!--轮播图-->
				        	<div class="swiper-container" style="width:320px; height: 188px;">
	                            <div class="swiper-wrapper">
	                                <div class="swiper-slide"><img src="{IMG_PATH}main-01.jpg" style="width: 100%;" alt="" /></div>
	                                <div class="swiper-slide"><img src="{IMG_PATH}8689a700-8aa7-44ac-ae63-673ee35f007f.jpg" style="width: 100%;" alt="" /></div>
	                                <div class="swiper-slide"><img src="{IMG_PATH}main-02.jpg" style="width: 100%;" alt="" /></div>
	                                <div class="swiper-slide"><img src="{IMG_PATH}main-03.jpg" style="width: 100%;" alt="" /></div>
	                                <div class="swiper-slide"><img src="{IMG_PATH}4ac5db63-7c5d-4916-858b-1f6fbba18e24.jpg" style="width: 100%;" alt="" /></div>
	                                <div class="swiper-slide"><img src="{IMG_PATH}8c485d55-a784-4f33-8d58-981655cfaa4f.jpg" style="width: 100%;" alt="" /></div>
	                                <div class="swiper-slide"><img src="{IMG_PATH}843bef3c-8abf-47d9-baae-d7916f0b111d.jpg" style="width: 100%;" alt="" /></div>
	                                <div class="swiper-slide"><img src="{IMG_PATH}7b8c119d-97a9-434b-a0aa-547adc86fee1.jpg" style="width: 100%;" alt="" /></div>
	                                <div class="swiper-slide"><img src="{IMG_PATH}96acb881-6f99-4ddc-8bd2-ceba8bf1a71f.jpg" style="width: 100%;" alt="" /></div>
	                            </div>

	                            <!-- Add Pagination -->
	                            <div class="swiper-pagination"></div>
	                            <!-- Add Arrows -->
	                            <div class="swiper-button-next"></div>
	                            <div class="swiper-button-prev"></div>
	                        </div>
	                        <script language="JavaScript" class="" >
		                        var swiper = new Swiper('.swiper-container', {
		                            pagination: '.swiper-pagination',
		                            paginationClickable: true,
		                            nextButton: '.swiper-button-next',
		                            prevButton: '.swiper-button-prev',
		                            spaceBetween: 30,
		                            loop: true,
		                        });
		                        
		                    </script>

				        </td>
				      </tr>
				      <tr>
				        <td height="200" valign="top">
					         <table cellspacing=0 cellpadding=0 border=0 class='tbl_ArticlePortlet_picTitleClass'>
					         	<tr>
					         		<td>
							      		<div style="margin-bottom: 10px; width:320px; height:30px; background: #CDE6FA;">
						        			<p style="color: #fff; font-weight: bold; text-align:center; line-height: 30px; width: 100px; background: #3789B8;">新闻频道</p>
						        		</div>
							      	</td>
						        	<!-- <td>
						        		<div align="left"><img src="{IMG_PATH}1.jpg" width="320" height="30" /></div>
						        	</td> -->
						      	</tr>
						      	<tr>
						        	<td height="200" valign="top">
							        	<table width="320" border="0" cellspacing="0" cellpadding="0">
								          	<!--list-->
								          	<tr>
									            <td width="30" height="25" align="center"><img src="{IMG_PATH}xb.gif" width="9" height="10" /></td>
									            <td>
									            	<table width=100%  cellpadding=0 cellspacing=0 border=0><tr>
									            		<td align=left>
									            			<a href="" target=_blank title="关于开展新闻培训的通知">关于开展新闻培训的通知</a>
									            		</td>
									            	</tr>
									            	</table>
									            </td>
								          	</tr>
								          	<!--list-->
							    		</table>
							        	<div align=right><a href="list-23.htm"  target="_self">更多>></a></div>
							        </td>
						      	</tr>
					         	
					         </table>
				        </td>
				      </tr>
				      
			       	  <!-- <tr>
				        <td>
				        	<div align="center"><img src="{IMG_PATH}8.jpg" alt="" width="320" height="30" /></div>
				        </td>
				      </tr>
      					<tr>
					        <td height="50" valign="top">
					         <table width="100%" border="0" cellspacing="0" cellpadding="0">
					        	
						          <tr>
						            <td width="30" height="25" align="center"><img src="{IMG_PATH}xb.gif" alt="" width="9" height="10" /></td>
						            <td>
						            	<table width=100%  cellpadding=0 cellspacing=0 border=0>
						            		<tr>
						            			<td align=left><a href="list-16.htm" target=_blank title="院系校友会">院系校友会</a></td>
						            		</tr>
						            	</table>
						            </td>
						          </tr>

					        </table>
					        </td>
				      	</tr>
				      	 -->
    				</table>
    			</td>
  			</tr>
		</table>
		
		<!--底部切换-->
	  	<table class="area-sub" bgcolor="#FCFAFB" width="1166" border="0" cellspacing="0" cellpadding="0">
		     <tr>
		      <td  valign="top"  height="180">
		    	<div class="mod">
		      	<div class="tt">
			       <ul id="tabmenu1" class="tabmenu">
			         	<li class="hover"><span>活动照片</span></li>
			         	<li ><span>校园掠影</span></li>
			         	<li ><span>老照片</span></li>
			       </ul>
			       <div id="tabmore1" class="tabmore">
				        <span class="more" style="display:block;">
				        	<div align=right><a href="list-28.htm" target="_self">更多>></a></div>
				        </span>
				        <span class="more"><div align=right><a href="list-29.htm" target="_self">更多>></a></div></span>
				      	<span class="more"><div align=right><a href="list-30.htm" target="_self">更多>></a></div></span>
			       </div>
		      	</div>
		      	<div class="con">
		       		<ul id="tablist1" class="tablist">
		       			
						<!--活动照片-->
		    			<li style="display:block;">
							<div id='Divc8ca7436e8254f40975c7450b634ac7a_Outer' style="overflow:hidden;width:100%;">
								<table id='HSc8ca7436e8254f40975c7450b634ac7a' align=left cellpadding=0 cellspacing=0 border=0>
									<tr>
										<td id='Tdc8ca7436e8254f40975c7450b634ac7a_Left' valign=top nowrap width='100%'>
											<div id='Divc8ca7436e8254f40975c7450b634ac7a_Adjust_Left' style='width:100%;'>
												<table cellspacing=0 cellpadding=0 border=0 class='tbl_ArticlePortlet_picTitleClass'>
													<tr>
														<!--list-->
														<td height=1 valign=top>
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
															  <tr>
															    <td class="nlink" id="hdzp">
															    	<table>    
															    		<tr>  
															    			<td>
															    				<a href="info29003.htm" target='_blank' title='讲述青春故事'>
															    					<img border=0 width='140.0'  height='110.0' src="{IMG_PATH}5bc46fdf-3272-48f6-a3a8-287ac8fc78d2_s.jpg" ></a>
														    				</td>    
															    		</tr> 
															    		<tr>
															    			<td height=3></td>
															    		</tr> 
															    		<tr> 
															    			<td nowrap height=1 width="100%" align=center  >
															    				<a href="info29003.htm" target='_blank' title='讲述青春故事'>讲述青春故事</a>
															    			</td> 
															    		</tr>
															    	</table>
															    </td>
															  </tr>
															</table>
														</td>
														<td height=1 valign=top>
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
															  <tr>
															    <td class="nlink" id="hdzp">
															    	<table>    
															    		<tr>  
															    			<td>
															    				<a href="info29003.htm" target='_blank' title='讲述青春故事'>
															    					<img border=0 width='140.0'  height='110.0' src="{IMG_PATH}5bc46fdf-3272-48f6-a3a8-287ac8fc78d2_s.jpg" ></a>
														    				</td>    
															    		</tr> 
															    		<tr>
															    			<td height=3></td>
															    		</tr> 
															    		<tr> 
															    			<td nowrap height=1 width="100%" align=center  >
															    				<a href="info29003.htm" target='_blank' title='讲述青春故事'>讲述青春故事</a>
															    			</td> 
															    		</tr>
															    	</table>
															    </td>
															  </tr>
															</table>
														</td>
														<!--list-->
													</tr>
												</table>
											</div>
										</td>
										
									</tr>
								</table>
							</div>
						</li>
						
						<!--校园掠影-->
						<li style="display:none;"> 
							<div id='Div61a9be35375e45c8975064365e1f937c_Outer' style="overflow:hidden;width:100%;">
								<table id='HS61a9be35375e45c8975064365e1f937c' align=left cellpadding=0 cellspacing=0 border=0>
									<tr>
										<td id='Td61a9be35375e45c8975064365e1f937c_Left' valign=top nowrap width='100%'>
											<div id='Div61a9be35375e45c8975064365e1f937c_Adjust_Left' style='width:100%;'>
												<table cellspacing=0 cellpadding=0 border=0 class='tbl_ArticlePortlet_picTitleClass'>
													<tr>
														<td height=1 valign=top>
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
															  <tr>
															    <td class="nlink">
															    	<table> 
															    		<tr> 
															    			<td>
															    				<a href="info28602.htm" target='_blank' title='凌曦广场'>
															    					<img border='0' width='140.0'  height='110.0' src="{IMG_PATH}0e045af2-1a66-45a3-8422-8f697a54562a_s.jpg" ></a>
															    			</td> 
															    		</tr> 
															    		<tr>
															    			<td height=3></td>
															    		</tr> 
															    		<tr>
															    			<td nowrap height=1 width="100%" align=center  >
															    				<a href="info28602.htm" target='_blank' title='凌曦广场'>凌曦广场</a>
															    			</td>   
															    		</tr>
															    	</table>
															    </td>
															  </tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
								</table>
							</div>
				        </li>
				        
						<!--老照片-->
						<li style="display:none;"> 
							<div id='Div3807442be34143d4881bc804417e33bd_Outer' style="overflow:hidden;width:100%;">
								<table id='HS3807442be34143d4881bc804417e33bd' align=left cellpadding=0 cellspacing=0 border=0>
									<tr>
										<!--list-->
										<td id='Td3807442be34143d4881bc804417e33bd_Left' valign=top nowrap width='100%'>
											<div id='Div3807442be34143d4881bc804417e33bd_Adjust_Left' style='width:100%;'>
												<table cellspacing=0 cellpadding=0 border=0 class='tbl_ArticlePortlet_picTitleClass'>
													<tr>
														<td height=1 valign=top>
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
															  <tr>
															    <td class="nlink">
															    	<table>   
															    		<tr>        
															    		<td>
															    			<a href="info28751.htm"  target='_blank' title='79111班老照片'>
															    			<img border=0 width='140.0'  height='110.0' src="{IMG_PATH}f2d5f7b9-8896-4784-ba73-1be7fd1c1d16_s.jpg" ></a>
															    		</td>
															    		</tr> 
															    		<tr>
															    			<td height=3></td>
															    		</tr>
															    		<tr> 
															    			<td nowrap height=1 width="100%" align=center  >
															    				<a href="info28751.htm"  target='_blank' title='79111班老照片'>79111班老照片</a></td>  
															    		</tr>
															    	</table>
															    </td>
															  </tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
										</td>
										<!--list-->
									</tr>
								</table>
							</div>
				        </li>
			       </ul>
		      </div>
		    </div>
		</td>
	  	</tr>
		</table>
		<!--底部热点链接-->
		{template "content", "footer_category"}
	</div>
</body>
</html>