{include file="wap/header"/}
{css href="__PUBLIC__/static/css/swiper.min.css"}
<div class="container-fluid" style="padding: 0px; background: #ebebeb;">
	<img src="__PUBLIC__/static/images/contact-banner.png" style="width: 100%;" alt="" />
	
	<div class="container" style="padding: 2.5rem; border-bottom: 1px solid #E7E7E7; margin-bottom: 10px; background: #fff;">
		<h2 style="color: #5cb85c; font-size: 22px; margin-bottom: 20px;">商务合作</h2>
		<p style="font-size: 16px; color#666; line-height: 30px;">
			合作邮箱：<a href="mailto:yanglilin@xihaxueche.com">yanglilin@xihaxueche.com</a><br />
			QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=2833313974&site=qq&menu=yes">2833313974</a><br />
			电话：<a href="tel:18855183783">18855183783</a>（7*8小时）
		</p>
	</div>
	
	<div class="container" style="padding: 2.5rem; background: #fff;">
		<h2 style="color: #5cb85c; font-size: 22px; margin-bottom: 20px;">客服帮助</h2>
		<p style="font-size: 16px; color#666; line-height: 30px;">
			客服1：<a href="tel:055165610256">0551-65610256</a> <br /> 
			客服2：<a href="tel:055165610258">0551-65610258</a> <br /> 
			客服3：<a href="tel:055165612290">0551-65612290</a> <br />
			客服4：<a href="tel:055165619550">0551-65619550</a> <br />
		</p>
	</div>
	
</div>
{include file="wap/footer"/}