{js href="__PUBLIC__/static/js/bootstrap.min.js"}
{js href="__PUBLIC__/static/js/ripples.min.js"}
{js href="__PUBLIC__/static/js/material.min.js"}
{js href="__PUBLIC__/static/js/snackbar.min.js"}
{js href="__PUBLIC__/static/js/jquery.nouislider.min.js"}
<script> 
    $(function() {
        $.material.init();
    });
</script>

<div class="footer">
	&copy;2016 安徽嘻哈网络技术有限公司<br />
	皖ICP备15016679号
	<script src="https://s95.cnzz.com/z_stat.php?id=1260294736&web_id=1260294736" language="JavaScript"></script>
	<!--<script src="http://www.sobot.com/chat/h5/h5.min.js?sysNum=6fa9153617464a568a60fffef4da678a" id="zhichiload" ></script>-->
    <script>
        var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?2a10046cca061a9fa7a3a3610613ef2e"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); 
    </script> 
    <script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=10689255"></script>
</div>
</body>
</html>
