<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>{$title}</title>    
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" content="嘻哈学车是一款免费的学车手机APP，以“促公平、节时间、省金钱、易学车”为出发点和落脚点；“网上学车，让学车更轻松、更便捷”理念吸引大量用户。APP可实现在线报名、在线支付等功能。学员能就近找到最近、最合适的教练。学员可以随时随地练车。使用“嘻哈学车”APP的学员，可一人一车享受专车接送，实行计时收费。"/>
    <meta name="keywords" content="嘻哈学车APP|安徽嘻哈网络技术有限公司|驾驶人学车APP|驾驶人自学自考学车APP|学员自主预约报名学员APP|学车APP|学车软件|考驾照软件 IOS版 安卓版 "/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    {css href="__PUBLIC__/static/css/bootstrap-material-design.min.css" /}
    {css href="__PUBLIC__/static/css/bootstrap.min.css" /}
    {css href="__PUBLIC__/static/css/ripples.min.css" /}
    {css href="__PUBLIC__/static/css/iconfont/iconfont.css" /}
    {css href="__PUBLIC__/static/css/m.app.css" /}
    {js href="__PUBLIC__/static/js/jquery-1.10.2.min.js"}
    {js href="__PUBLIC__/static/js/device.min.js"}
    <script>
    	if(!device.mobile()) {
    		location.href="{:url('/index')}";
    	}
    </script>    
</head>
<body>
<div class="navbar navbar-default" style="">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{:url('/m/index')}" style="padding:5px; z-index: 999;"><img src="__PUBLIC__/static/images/logo.png" style="height:40px;" alt=""></a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav navbar-right ">
        <li {if condition="$Request.action eq 'index'"}class="active"{/if}><a href="{:url('/m/index')}">首页</a></li>
        <li {if condition="$Request.action eq 'coach'"}class="active"{/if}><a href="{:url('/m/coach')}">教练端</a></li>
        <li {if condition="$Request.action eq 'student'"}class="active"{/if}><a href="{:url('/m/student')}">学员端</a></li>
        <li {if condition="$Request.action eq 'ecoach'"}class="active"{/if}><a href="{:url('/m/ecoach')}">电子教练</a></li>
        <li {if condition="$Request.action eq 'aboutus'"}class="active"{/if}><a href="{:url('/m/aboutus')}">关于我们</a></li>
        <li {if condition="$Request.action eq 'join'"}class="active"{/if}><a href="{:url('/m/join')}">加入我们</a></li>
        <li {if condition="$Request.action eq 'contact'"}class="active"{/if}><a href="{:url('/m/contact')}">联系我们</a></li>
      </ul>
    </div>
  </div>
</div>