{include file="wap/header"/}
{css href="__PUBLIC__/static/css/swiper.min.css"}
<div class="container-fluid" style="padding: 0px; background: #ebebeb;">
	<img src="__PUBLIC__/static/images/join-banner.png" style="width: 100%;" alt="" />
	<div class="container" style="padding: 2.5rem; border-bottom: 1px solid #E7E7E7; margin-bottom: 10px; background: #fff;">
		<h2 style="color: #5cb85c; font-size: 22px; margin-bottom: 20px;">我们期待您的加入</h2>
		<p style="text-indent: 2rem; font-size: 16px; color#2d2d2d; line-height: 30px;">
			嘻哈学车团队正在积极发展之中，我们一直为优秀人才提供多元化的空间和在职培养；我们长期面向社会招
			募不同用户体验设计与开发岗位和营销类的专业人才， 配合我们不断提升嘻哈产品线上的用户体验，打造一
			流的互联网驾考产品。是不是迫不及待的想加入我们的团队！~快联系我们吧！
		</p>
	</div>
	
	<div class="container" style="padding: 2.5rem; border-bottom: 1px solid #E7E7E7; margin-bottom: 10px; border-top: 1px solid #E7E7E7; background: #fff;">
		<h2 style="color: #5cb85c; font-size: 22px; margin-bottom: 20px;">PHP高级工程师</h2>
		<p style="font-size: 16px; color#2d2d2d; line-height: 30px;">
		    <span style="color: #009688; font-size: 18px;">●</span> 大学本科及以上学历，1年以上相关经验；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 熟悉互联网产品和服务的开发过程，有至少一门动态语言或脚本语言的开发经验，对互联网后端技术架构有基础的见解；<br />
		    <span style="color: #009688; font-size: 18px;">●</span>认可创业团队氛围，有上进心与自我驱动力，能够承受一定额工作压力。
		</p>
	</div>
	
	<div class="container" style="padding: 2.5rem; border-bottom: 1px solid #E7E7E7; margin-bottom: 10px; border-top: 1px solid #E7E7E7; background: #fff;">
		<h2 style="color: #5cb85c; font-size: 22px; margin-bottom: 20px;">IOS/Android工程师</h2>
		<p style="font-size: 16px; color#2d2d2d; line-height: 30px;">
		    <span style="color: #009688; font-size: 18px;">●</span> 大学本科及以上学历，1年以上相关经验；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 至少完整经历过1-3个移动设备客户端产品的开发及上线；<br />
		    <span style="color: #009688; font-size: 18px;">●</span>学习能力较强，对移动端的技术活产品有浓厚的兴趣；<br />
		    <span style="color: #009688; font-size: 18px;">●</span>具备较好的团队协作能力，乐于分享和交流。<br />
		</p>
	</div>
	
	<div class="container" style="padding: 2.5rem; border-bottom: 1px solid #E7E7E7; margin-bottom: 10px; border-top: 1px solid #E7E7E7; background: #fff;">
		<h2 style="color: #5cb85c; font-size: 22px; margin-bottom: 20px;">UI高级设计师</h2>
		<p style="font-size: 16px; color#2d2d2d; line-height: 30px;">
		    <span style="color: #009688; font-size: 18px;">●</span> 大学本科及以上学历，3年以上相关经验；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 有基础的设计理论知识和对流行趋势敏锐的洞察力，对视觉设计趋势有灵敏触觉和领悟能力；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 具有多平台界面风格设定，整套界面输出以及VI设定（包括界面，图标风格与统一规范等）经验，有成功上线案例；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 对项目管理有初步认识和理解，能够独自负责项目设计。懂交互设计，进行视觉设计起来更为顺利。对视觉用户研究有一定经验和见解，对软件可用性 有一定的认识；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 精通Photoshop、Illustrator等设计工具，了解动效设计者优先；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 美术、设计或相关专业本科以上学历（优秀人才，专业和学历可适当放宽），具备良好合作态度及团队精神，并富有工作激情、创造力和责任感，能承受高强度的工作压力；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 认可创业团队氛围，有上进心与自我驱动力，能够承受一定额工作压力。<br />
		</p>
	</div>
	
	<div class="container" style="padding: 2.5rem; border-top: 1px solid #E7E7E7; background: #fff;">
		<h2 style="color: #5cb85c; font-size: 22px; margin-bottom: 20px;">运营主管</h2>
		<p style="font-size: 16px; color#2d2d2d; line-height: 30px;">
		    <span style="color: #009688; font-size: 18px;">●</span> 大学本科及以上学历，3年以上相关经验；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 具备较强的传播方案策划能力，能够提升用户对嘻哈学车的熟悉度和信任度；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 具备良好的活动策划，文案撰写能力；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 具有极强的执行力和沟通能力，能够快速把创意螺栓，行动力超强；<br />
		    <span style="color: #009688; font-size: 18px;">●</span> 认可创业团队氛围，有上进心与自我驱动力，能够承担一定的工作压力。<br />
		</p>
	</div>
	
</div>
{include file="wap/footer"/}