.posSplit {
	background-image: url(../images/posSplit.gif)/*tpa=http://wzxyh.wtc.edu.cn/images/posSplit.gif*/;
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 12px;
	background-position: center;

}