<!--{include file="library/header.lbi"}-->

<div class="line-middle bg-success" style="height:40px; background:#5cb85c"> 
	<div class="x4 text-left" style="padding-left:20px;">
		<a href="this.finish();"><span class="icon-chevron-left text-large text-yellow-light height-large"></span></a>
	</div> 
	<div class="x4 text-center text-white height-large text-big" >嘻哈学车</div> 
	<div class="x4 text-right" style="padding-right:20px;">
		<a href=""><span class="icon-share text-large text-yellow-light height-large"></span></a>
	</div>
</div>

<div class="body">

	<!-- <div class="line-big"> 
		<div class="x6">
			<div class="media padding-bottom clearfix"> 
				<a href="#"><img src="templates/about/images/iosdown.png" class="radius img-responsive" alt="..."></a> 
				<div class="media-body"> 
					<strong class="text-center">ios下载</strong>
				</div> 
			</div> 
		</div> 
		<div class="x6">
			<div class="media padding-bottom clearfix"> 
				<a href="#"><img src="templates/about/images/andown.png" class="radius img-responsive" alt="..."></a> 
				<div class="media-body"> 
					<strong class="text-center">安卓下载</strong>
				</div> 
			</div> 
		</div> 
	</div>
 -->

	<!-- <div class="keypoint bg-green bg-inverse radius text-center"> 

		<img src="templates/about/images/iosdown.png" alt="">
		<img src="templates/about/images/andown.png" alt="">
	</div> -->
<!-- 	<ul class="list-group"> 
		<li><span class="icon-circle-o float-left text-yellow" style="margin-right:10px;"></span><span class="text-center text-yellow">嘻哈简介</span><span class="float-right icon-chevron-right text-gray"></span></li> 
		<li><span class="icon-circle-o float-left text-yellow" style="margin-right:10px;"></span><span class="text-center text-yellow">功能介绍</span><span class="float-right icon-chevron-right text-gray"></span></li> 
		<li><span class="icon-circle-o float-left text-yellow" style="margin-right:10px;"></span><span class="text-center text-yellow">常见问题</span><span class="float-right icon-chevron-right text-gray"></span></li> 
		<li><span class="icon-circle-o float-left text-yellow" style="margin-right:10px;"></span><span class="text-center text-yellow">最新版本</span><span class="float-right icon-chevron-right text-gray"></span></li> 
		<li><span class="icon-circle-o float-left text-yellow" style="margin-right:10px;"></span><span class="text-center text-yellow">商务介绍</span><span class="float-right icon-chevron-right text-gray"></span></li> 
	</ul> -->
	<div class="collapse"> 
		<div class="panel active"> 
			<div class="panel-head"><span class="icon-circle-o float-left" style="margin-right:10px;color:#5cb85c"></span><span class="text-center" style="color:#5cb85c">嘻哈简介</span><span class="float-right icon-chevron-right text-gray"></span></div> 
			<div class="panel-body">
				
				<h1 class="text-center">嘻哈简介</h1>
				<p>
					<a href="http://www.xihaxueche.com">嘻哈学车</a>是一款立足于LBS（地理位置）的O2O（线上到线下）学车应用，主要面向日常国民学车和驾校教练员。第一版APP于2015年6月6日正式推出，短短2个月时间注册用户就已超过20万人，一举成为使用人数最多的学车约车软件。<br> 
					嘻哈学车由安徽国华光电技术有限公司旗下专业互联网科技公司安徽嘻哈网络技术有限公司研发推出，将传统教学教练车与学车人的被动等待，转化为主动联系。学车者可以轻松发单，随时随地练车；驾校可以通过嘻哈学车APP对教练有效管理，提高服务质量和效率，轻轻松松多赚钱。<br> 
					软件已有iOS版和Android版两个版本，适用于市面上大部分的智能手机。不仅比传统的电话预约教练、驾校统一安排练车操作简单，省时省力，还开发出“驾考圈、视频教学模式、云视频监管模式、汽车商城、智能算法推送等诸多创新功能。 <br>
					简洁清爽的操作页面，像QQ一样方便使用。GPS自动定位，智能推荐练车场地，就近自主选择教练和驾培机构。教练员语音对讲系统不止方便了学员，也大大降低了教练车辆空档期。为学、教双方提供便利的嘻哈学车，已成为目前市场上用户量及综合口碑最高的专业练车平台软件。
				</p>
			</div> 
		</div> 
		<div class="panel"> 
			<div class="panel-head"><span class="icon-circle-o float-left" style="margin-right:10px;color:#5cb85c"></span><span class="text-center" style="color:#5cb85c">常见问题</span><span class="float-right icon-chevron-right text-gray"></span></div> 
			<div class="panel-body">
				<h1 class="text-center">常见问题</h1>
				<h2>1，怎么下载嘻哈学车学员APP?</h2>
				<p>答：通过嘻哈学车官网（<a class="text-main" href="http://www.xihaxueche.com">http://www.xihaxueche.com</a>）或是扫一扫驾校提供的二维码，也可以通过腾讯应用宝，360手机助手，豌豆荚等应用商店下载，苹果手机登录itunes应用商店下载。</p>
				<h2>2，你们是驾校吗？你们专业吗？</h2>
				<p>答：我们是一家从事智能交通行业的高新技术企业，全国第一家使用北斗卫星高精度GNSS全球卫星定位系统应用于驾考的高科技企业，中国交通运输协会联合会常务理事单位，公司依托中国科大，合肥工大，中科院合肥分院等科学院所杰出科研人员打造的精英团队，开发了完整的智能交通（IIS）产品线。公司最新推出网络智能学车平台-嘻哈学车，为广大学车人提供一个便捷，实用，经济，安全的学车平台，专注解决百姓学车难，学车累，学车贵等学车带来的困扰问题，成为智慧驾考，驾培开拓者！</p>
				<h2>3，目前我们报名还需要报驾校吗？怎么收费的？</h2>
				<p>答：目前自主约考没有全面放开的情况下，建议报我们嘻哈学车合作单位的驾校，我们会为您提供体检，报名，学车，考试，拿证等一站式服务。</p>
			</div> 
		</div>

		<div class="panel"> 
			<div class="panel-head"><span class="icon-circle-o float-left" style="margin-right:10px;color:#5cb85c"></span><span class="text-center" style="color:#5cb85c">商务合作</span><span class="float-right icon-chevron-right text-gray"></span></div> 
			<div class="panel-body">
				<h1 class="text-center">商务合作</h1>
				<p>嘻哈学车上午客户真诚为您服务，我们24H为您提供产品咨询，商务合作，售后服务以及您使用嘻哈学车遇到的问题与烦恼，我们真诚欢迎你的来电和来信。</p>
				<ul class="list-unstyle height"> 
					<li>地址：安徽省合肥市高新区望江西路800号创业产业园区C3栋1104</li> 
					<li>邮编：320088</li>
					<li>服务热线：0551-65653272（转601）</li>
					<li>商户热线：18019997632</li>
					<li>邮箱：895523031@qq.com</li>
					<li>网址：www.chinaguohua.com.cn</li>
				</ul>
			</div> 
		</div> 
	</div>
</div>


<!--{include file="library/footer.lbi"}-->