table th {
    font-weight: bold;
}
a {
    text-decoration: none;
}
.main {
}
.breadcrumb {
    margin: 10px;
}
.main-top {
    padding: 10px;
    margin: 10px 0;
    background: #EFF2F7;
}
.main-content {
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 148px;
    height: 148px;
    line-height: 148px;
    text-align: center;
}
.avatar {
    width: 148px;
    height: 148px;
    display: block;
}
