<!--{include file="library/header.lbi"}-->
<div class="tab-body" style="margin-top:10px;">

	<div class="tab"> 
		<div class="tab-head border-main"> 
			<ul class="tab-nav"> 
				<li class="active">
					<a href="index.php?action=sysconfig&op=school">驾校设置</a>
				</li> 
				<li>
					<a href="index.php?action=sysconfig&op=coach">教练设置</a>
				</li> 

			</ul> 
		</div> 
		<div class="tab-body" style="padding-top:10px;"> 
			<!-- 基本信息 -->
			<div class="tab-panel form-x active">

				<div class="media media-x">
					<div class="media-body">
						<div class="table-responsive"> 
							
						</div>
					</div> 
				</div> 
			</div>

		</div> 
	</div>
</div>
<!--{include file="library/footer.lbi"}-->