<!--{include file="library/header.lbi"}-->
  <div class="tab-body">
    <br />
    <div class="tab-panel active" id="tab-set">
        <form method="post" class="form-x" style="width:80%" action="index.php?action=manager&op=editroleoperate">

            <div class="form-group">
                <div class="label"><label for="manage_role_name">管理角色名称</label></div>
                <div class="field">
                     <input type="text" class="input" id="manage_role_name" name="manage_role_name" value="<!--{$roleinfo.s_rolename}-->" size="50" placeholder="请填写管理角色名称" data-validate="required:请填写管理角色名称" />
                </div>
            </div>
    
            <div class="form-group">
                <div class="label"><label for="manage_role_content">权限描述</label></div>
                <div class="field">
                     <input type="text" class="input" id="manage_role_content" name="manage_role_content" value="<!--{$roleinfo.s_description}-->" size="50" placeholder="请填写管理权限描述" data-validate="required:请填写管理权限描述" />
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="manage_name">权限设置</label></div>
                <!-- <div class="field"> -->
                    <div class="button-group border-main checkbox"> 
                        <!--{foreach $manage_config as $key => $value}-->
                        <label class="button"><input name="permission_id[]" value="<!--{$key}-->" type="checkbox"><!--{$value['bigcate_name']}--></label> 
                        <!--{/foreach}-->
                    </div><span class="tips icon-exclamation-circle" style="color:#f60; cursor:pointer;" data-toggle="hover" data-place="right" title="这个是设置管理员可查看的上面的模块"></span>
                <!-- </div> -->
<!--                 <div class="button-group border-main checkbox"> 
                    <label class="button active"><input name="pintuer" value="1" type="checkbox" checked="checked">开始</label> 
                    <label class="button"><input name="pintuer" value="2" type="checkbox">CSS</label> 
                    <label class="button"><input name="pintuer" value="3" type="checkbox">元件</label> 
                    <label class="button"><input name="pintuer" value="4" type="checkbox">JS组件</label> 
                    <label class="button"><input name="pintuer" value="5" type="checkbox">模块</label> 
                </div> -->
            </div>
            <input type="hidden" value="<!--{$id}-->" name="id">
            <div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
        </form>
    </div>

    <script>


    // // 上传图片预览
    //     window.onload = function () { 
    //         new uploadPreview({ UpBtn: "license_img", DivShow: "imgdiv", ImgShow: "imgShow" });
    //     }

    //     // 城市联动
    //     $('#province').change(function() {
    //         var province_id = $(this).val();
    //         $("#city").load("index.php?action=school&op=getcity&province_id="+province_id);
    //     });

    //     $('#city').change(function() {
    //         var city_id = $(this).val();
    //         $('#area').load('index.php?action=school&op=getarea&city_id='+city_id);
    //         var city_html = $(this).find('option:selected').html();
    //         var province_html = $('#province').find('option:selected').html();
    //         $('#s_address').val(province_html+city_html);
    //     })

    //     $('#area').change(function() {
    //         var city_html = $('#city').find('option:selected').html();
    //         var province_html = $('#province').find('option:selected').html();
    //         var area_html = $(this).find('option:selected').html();
    //         $('#s_address').val(province_html+city_html+area_html);
    //     })
    </script>
<!--{include file="library/footer.lbi"}-->
