<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2-bootstrap.css">
<!-- <link href="__PUBLIC__/Admin/assets/js/icheck/icheck.css" rel="stylesheet" type="text/css" /> -->
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加角色</title>
</head>
<body>
<div class="pd-20">
  <form method="post" action="{:U('Manager/addManager')}" class="form form-horizontal" id="addmanager_form">
    <input type="hidden" name="role_permission_id"　value="{$roles_list['l_role_id']}" id="role_permission_id">
    <div class="row cl">
      <label class="form-label col-1 text-r" for="role_name">登录账号: </label>
      <div class="formControls col-3">
        <input id="name" type="text" class="input-text" name="name" placeholder="请输入角色描述" value="" datatype="*2-16" nullmsg="角色不能为空"/>
      </div>
    </div>
	
   
    <if condition = "$school_id eq 0" >
      <div class="form-group row cl">
                <div ><label for="school_id" class="form-label col-1 text-r" style="color:#555; font-size:14px;">所属驾校:</label></div>
                <div class="field" style="width:auto;margin-left:120px;margin-top:-15px;width:1320px;">
                    <div class="container-fluid" ng-controller="appCtrl" style="padding-left:0px;">
                        <div class="row c1" >
                            <div class="formControls col-3" > 
                                <select select2 ng-model="b" id="content" class="form-control" name="school_id" placeholder="请选择驾校">
                                    <foreach name="school_list"  item="value">
                                      <option value="{$value.l_school_id}">{$value.s_school_name}</option> 
                                    </foreach>
                                </select>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
    </if>

  <div class="row cl">
      <label class="form-label col-1 text-r" for="role_description">管理角色: </label>
      <div class="formControls col-3 ">
      <select name="role_id" select2 ng-model="b" id="role_id" class="form-control" placeholder="请选择管理角色">
      <if condition = "($role_id eq 1 AND $owner_id eq 1)" >
        <option value="1">超级管理员</option>
      </if>
      <foreach name="roles_list" item="value">
        <option value="{$value.l_role_id}" selected>{$value.s_rolename}</option>
      </foreach>
      </select>
    
      </div>
 </div>          


  <div class="row cl">
      <label class="form-label col-1 text-r" for="is_close">是否开放 : </label>
      <div class="formControls col-3" style="margin-top:5px;">
        <input type="radio" value="1" name="is_close" id="roles-2" checked>开放
        <input type="radio" value="2" name="is_close" id="roles-2">禁止
      </div>
    </div>

    <div class="row cl">
      <div class="formControls col-5 col-offset-1">
        <button type="submit" class="btn radius btn-primary">
          <i class="Hui-iconfont">&#xe632;</i>
          保存并提交
        </button>
        <button onClick="layer_close()" type="button" class="btn btn-default radius">
          &nbsp;&nbsp;取消&nbsp;&nbsp;
        </button>
      </div>
    </div>

  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/angular.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/selectindex.js"></script>

<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/icheck/jquery.icheck.min.js"></script>  -->
<script type="text/javascript">
	$(function(){
		$('#addmanager_form').Validform({
		    tiptype:2,
		    callback:function(form){
	      		form[0].submit();
		    }
	  	});

		$('.btn-upload').click(function() {
			layer.open({
			  type: 2,
			  area: ['700px', '530px'],
			  fix: false, //不固定
			  maxmin: true,
			  shade:false,
			  content: '{:U("Manager/schoolList")}'
			});
		})
	});
</script> 
</body>
</html>
