<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/jquery-ui.css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<!-- <link href="__PUBLIC__/Admin/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" /> -->
<link href="__PUBLIC__/Admin/assets/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--> 
<title>编辑券兑换码</title>
</head>
<body>
    <div class="pd-20">
        <form action="{:U('Coupon/editCouponCode')}" method="post" class="form form-horizontal" id="editCouponCode">
            <input class="input-text" type="hidden" name="id" value="{$couponcodelist.id}"   />
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>优惠券：</label>
                <div class="formControls col-2">
                    <select class="input-text" name="coupon_id" >
                        <if condition="$couponcodelist.coupon_name neq ''">
                            <option value="{$couponcodelist.coupon_id}">{$couponcodelist.coupon_name}</option>
                        <else/>
                            <option value="">请选择优惠券</option>
                        </if>
                        <foreach name="couponlist" item="value">
                            <option value="{$value.coupon_id}">{$value.coupon_name}</option>
                        </foreach>
                    </select>
                    <!-- <input type="text" id="coupon_name" name="coupon_name" datatype="*1-32" nullmsg="优惠券名称不能为空" style="" class="input-text" value="{$couponcodelist.coupon_name}"  placeholder="请填写优惠券的名称"  /> -->
                </div>
                <!-- <span style="color:#ccc">选取优惠券列表中优惠券</span> -->
            </div>
           
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>券兑换码：</label>
                <div class="formControls col-1.5">
                    <input type="text" style="" class="input-text" value="{$couponcodelist.coupon_code}"  placeholder="请输入兑换码" id="coupon_code" name="coupon_code">
                </div>
                <button type="button" id="codecreate" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe647;</i> 自动生成</button>
                <span id="code-tips" style="color:green"></span>
            </div>
            <div class="row cl">
                <div class="col-8 col-offset-2">
                    <button id="submitOne" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/laydate.dev.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script>
<script type="text/javascript">
    // 自动生成兑换码
    $('#codecreate').click(function () {
        $.ajax({
            type : "POST",
            url : "{:U('Coupon/createSignalCode')}",
            dataType : "JSON",
            success : function (data) {
                $('#coupon_code').val(data.data);
            }
        })
    })

    // 检查coupon_code的值是否存在
    $('#submitOne').click(function () {
        var coupon_code = $('#coupon_code').val();
        if (coupon_code == '') {
            layer.msg('请填写兑换码', {icon : 2});
            return false;
        }
    })

    
</script>
</body>
</html>
