<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/jquery-ui.css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<!-- <link href="__PUBLIC__/Admin/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" /> -->
<link href="__PUBLIC__/Admin/assets/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2-bootstrap.css">
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--> 
<title>编辑优惠券</title>
</head>
<body>
    <div class="pd-20">
        <form action="{:U('Coupon/editCoupon')}" method="post" class="form form-horizontal" id="editCoupon">
            <input class="input-text" type="hidden" name="id" value="{$couponlist.id}"   />
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>优惠券名称：</label>
                <div class="formControls col-2">
                    <input type="text" id="coupon_name" name="coupon_name" datatype="*1-32" nullmsg="优惠券名称不能为空" style="" class="input-text" value="{$couponlist.coupon_name}"  placeholder="请填写优惠券的名称"  />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2">角色类别：</label>
                <div class="formControls col-2">
                    <input class="input-text" type="hidden" name="owner_type" value="{$couponlist.owner_type}" readonly  />
                    <input class="input-text" type="text" name="owner_type_name" value="{$couponlist.owner_type_name}" readonly  />
                </div>
            </div>
            <div class="row cl">
                <label  class="form-label col-2">角色名称：</label>
                <div class="formControls col-2" > 
                    <input class="input-text" type="hidden" name="owner_id" value="{$couponlist.owner_id}" readonly />
                    <input class="input-text" type="text" name="owner_name" value="{$couponlist.owner_name}" readonly />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>券的场景类别：</label>
                <div class="formControls col-2">
                    <select class="form-control" name="scene" id="scene" datatype="*1-32" nullmsg="券的场景类别不能为空" style="border-radius:0px;height:30px;width:218px;border-color:#ccc;">
                        <option value="">请选择券的场景类别</option>
                        <option value="1" <if condition="$couponlist.scene eq 1">selected</if> >报名班制</option>
                        <option value="2" <if condition="$couponlist.scene eq 2">selected</if> >预约学车</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>券的种类：</label>
                <div class="formControls col-2">
                    <select class="form-control" name="coupon_category" id="coupon_category" style="border-radius:0px;height:30px;width:218px;border-color:#ccc;">
                        <if condition="$couponlist.coupon_category_id neq 0">
                            <option value="{$couponlist.coupon_category_id}">{$couponlist.cate_name}</option>
                        <else/>
                            <option value="">请选择券的种类</option>
                        </if>
                        <foreach name="coupon_cate_name" item="value">
                            <option value="{$value.id}">{$value.cate_name}</option>
                        </foreach>
                    </select>
                </div>
            </div>
            <div class="row cl coupon_u">
                <label class="form-label col-2"><span class="c-red">*</span>券的面值：</label>
                <div class="formControls col-4">
                    <input type="button" value="-" onclick="subNum(this)" class="btn btn-warning" style="border-radius:0px;" >
                    <input type="input-text" value="{$couponlist.coupon_value}" name="coupon_value" datatype="*1-32" nullmsg="优惠券的面值不能为空" style="width:100px;height:26px;text-align:center" >
                    <input type="button" value="+" onclick="addNum(this)" class="btn btn-warning" style="border-radius:0px;" >
                    <span id="coupon_v">
                        <if condition="$couponlist.coupon_category_id eq 1">
                          元
                        <else/>
                          折
                        </if>
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>券的总数量：</label>
                <div class="formControls col-4">
                  <!-- <input class="input-text" type="text" name="coupon_total_num" placeholder="请填写券的总数量" pattern=".{1,}" required /> -->
                    <input type="button" value="-" onclick="subNum(this)" class="btn btn-warning" style="border-radius:0px;" >
                    <input type="input-text" value="{$couponlist.coupon_total_num}" name="coupon_total_num" datatype="*1-32" nullmsg="优惠券的总数量不能为空" style="width:100px;height:26px;text-align:center">
                    <input type="button" value="+" onclick="addNum(this)" class="btn btn-warning" style="border-radius:0px;" >个
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>个人领取数：</label>
                <div class="formControls col-4">
                  <!-- <input class="input-text" type="text" name="coupon_limit_num" placeholder="请填写一个人的领取数量限制" pattern=".{1,}" required /> -->
                    <input type="button" value="-" onclick="sub(this)" class="btn btn-warning" style="border-radius:0px;" >
                    <input type="input-text" value="{$couponlist.coupon_limit_num}" name="coupon_limit_num" datatype="*1-32" nullmsg="个人领取数不能为空" style="width:100px;height:26px;text-align:center">
                    <input type="button" value="+" onclick="add(this)" class="btn btn-warning" style="border-radius:0px;" >个
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>添加时间：</label>
                <div class="formControls col-2">
                    <div class="demo" >
                        <input type="text" id="addtime" name="addtime" style="height:30px;" datatype="*1-32" nullmsg="添加时间不能为空" class="input-text date_picker laydate-icon" value="{$couponlist.addtime}" placeholder="请选择添加时间" readonly />
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>过期时间：</label>
                <div class="formControls col-2">
                    <div class="demo" >
                        <input type="text" id="expiretime" name="expiretime" style="height:30px;" datatype="*1-32" nullmsg="过期时间不能为空" class="input-text date_picker laydate-icon" value="{$couponlist.expiretime}"  placeholder="请选择到期时间" readonly />
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2">是否开启：</label>
                <div class="formControls col-6 btn-group">
                  <if condition="$couponlist.is_open eq 1">
                      <label class="btn radius btn-success radio setstatus"><input name="is_open" value="1" checked type="radio" style="display:none;">是</label>
                  <else/>
                      <label class="btn radius btn-warning-outline radio setstatus"><input name="is_open" value="1"  type="radio" style="display:none;">是</label>
                  </if>
                  <if condition="$couponlist.is_open eq 2">
                      <label class="btn radius btn-success radio setstatus"><input name="is_open" value="2" checked type="radio" style="display:none;">否</label>
                  <else/>
                      <label class="btn radius btn-warning-outline radio setstatus"><input name="is_open" value="2" type="radio" style="display:none;">否</label>
                  </if>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2">是否展示：</label>
                <div class="formControls col-6 btn-group">
                  <if condition="$couponlist.is_show eq 1">
                      <label class="btn radius btn-success radio setstatus"><input name="is_show" value="1" checked type="radio" style="display:none;">是</label>
                  <else/>
                      <label class="btn radius btn-warning-outline radio setstatus"><input name="is_show" value="1"  type="radio" style="display:none;">是</label>
                  </if>
                  <if condition="$couponlist.is_show eq 0">
                      <label class="btn radius btn-success radio setstatus"><input name="is_show" value="0" checked type="radio" style="display:none;">否</label>
                  <else/>
                      <label class="btn radius btn-warning-outline radio setstatus"><input name="is_show" value="0" type="radio" style="display:none;">否</label>
                  </if>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2">排序：</label>
                <div class="formControls col-3">
                    <input type="button" value="-" onclick="subOne(this)" class="btn btn-success" style="border-radius:0px;" >
                    <input type="input-text" value="{$couponlist.order}" name="order"  style="width:132px;height:26px;text-align:center">
                    <input type="button" value="+" onclick="add(this)" class="btn btn-success" style="border-radius:0px;" >
                    <!-- <input class="input-text" value="{$couponlist.order}" type="text" name="order" placeholder="请填写排序" /> -->
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2">生成兑换码数：</label>
                <div class="formControls col-4" >
                    <input type="button" value="-" onclick="subNum(this)" class="btn btn-warning" style="border-radius:0px;" >
                    <input type="text" style="width:100px;text-align:center" class="input-text" value="10"  placeholder="请输入兑换码" id="code_num" name="code_num">
                    <input type="button" value="+" onclick="addNum(this)" class="btn btn-warning" style="border-radius:0px;" >
                    <button type="button" id="codecreate" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe647;</i> 自动生成</button>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2">兑换码：</label>
                <div class="formControls col-10">
                    <textarea placeholder="请输入兑换码" id="coupon_code" style="width:260px; height:100px" name="coupon_code"></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>券的范围：</label>
                <div class="formControls col-4">
                    <select class="form-control"  name="coupon_scope" id="coupon_scope" datatype="*1-32" nullmsg="券的范围不能为空"  style="border-radius:0px;height:30px;width:216px;border-color:#ccc;" >
                        <option value="">请选择券的范围</option>
                        <option value="0" <if condition="$couponlist.coupon_scope eq 0">selected</if> >全国</option>
                        <option value="1" <if condition="$couponlist.coupon_scope eq 1">selected</if> >全省</option>
                        <option value="2" <if condition="$couponlist.coupon_scope eq 2">selected</if> >全市</option>
                        <option value="3" <if condition="$couponlist.coupon_scope eq 3">selected</if> >地区</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2" for="address">地址：</label>
                <div class="formControls col-1" >
                    <select class="select" name="province" id="province" style="height:30px; width:128px;">
                      <if condition="$couponlist.province_id neq 0">
                          <option value="{$couponlist.province_id}">{$couponlist.province}</option>
                          <foreach name="province_list" item="pro">
                              <option value="{$pro.provinceid}">{$pro.province}</option>
                          </foreach>
                      <else/>
                          <option value="">请选择省份</option>
                          <foreach name="province_list" item="pro">
                              <option value="{$pro.provinceid}">{$pro.province}</option>
                          </foreach>
                      </if>
                    </select>
                </div>             
                <div class="formControls col-1">  
                    <select class="select" name="city" id="city" style="height:30px; width:128px;">
                        <if condition="$couponlist.city_id neq 0">
                          <option value="{$couponlist.city_id}">{$couponlist.city}</option>
                        <else/>
                          <option value="">请选择城市</option>
                        </if>           
                    </select>
                </div>
                <div class="formControls col-1 ">
                    <select class="select" name="area" id="area" style="height:30px; width:128px;">
                        <if condition="$couponlist.area_id neq 0">
                            <option value="{$couponlist.area_id}">{$couponlist.area}</option>
                        <else/>
                            <option value="">请选择区域</option>
                        </if>  
                    </select> 
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2">券的描述：</label>
                <div class="formControls col-4">
                    <textarea name="coupon_desc" style="" id="coupon_desc" cols="" rows="" class="textarea"  placeholder="请输入券的种类描述，50个字符以内"  dragonfly="true" onKeyUp="textarealength(this,50)" >{$couponlist.coupon_desc}</textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/50</p>
                </div>
            </div>
            <div class="form-label col-3">
                <span style="color:red;">最多50个字符</span>
            </div>
            <br/>
            <div class="row cl">
                <div class="col-8 col-offset-2">
                    <button id="submitOne" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/laydate.dev.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/jquery-ui-datepicker.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/jquery.form.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/angular.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/selectindex.js"></script>
<script type="text/javascript">
    // 自动生成兑换码
    $('#codecreate').click(function () {
        var code_num = $('#code_num').val();
        $.ajax({
            type : "POST",
            url : "{:U('Coupon/createCode')}",
            data : {'code_num' : code_num},
            dataType : "JSON",
            success : function (data) {
                $('#coupon_code').val(data.data);
            }
        })
    })

    // 检查coupon_code的值是否存在
    // $('#submitOne').click(function () {
    //     var coupon_code = $('#coupon_code').val();
    //     if (coupon_code == '') {
    //         layer.msg('请填写兑换码', {icon : 2});
    //         return false;
    //     }
    // })

    // 添加与减少
    function subNum(obj){
        var temp=parseInt(obj.nextElementSibling.value);
        if(temp>1){
            temp-=10;
            obj.nextElementSibling.value=temp;
        }
    }
    function addNum(obj){
        var temp=parseInt(obj.previousElementSibling.value);
        temp+=10;
        obj.previousElementSibling.value=temp;
    }

    function sub(obj){
        var temp=parseInt(obj.nextElementSibling.value);
        if(temp>1){
            temp--;
            obj.nextElementSibling.value=temp;
        }
    }
    function subOne(obj){
        var temp=parseInt(obj.nextElementSibling.value);
        if(temp>0){
            temp--;
            obj.nextElementSibling.value=temp;
        }
    }
    function add(obj){
        var temp=parseInt(obj.previousElementSibling.value);
        temp++;
        obj.previousElementSibling.value=temp;
    }

    // 表单验证
    $( function () {
        $('#editCoupon').Validform({
            tiptype:2,
            callback:function(form){
                form[0].submit();
            }
        });
    }) 

    // 点击优惠券种类时，优惠券面值后的值会自动弹出是元还是折
    $(function() {
        $('#coupon_category').click(function() {
            var $coupon_category = $('#coupon_category').val();
            var $coupon_v = document.getElementById('coupon_v');
            var html = "";
            if ($coupon_category == 1) {
                html +="元";
                $coupon_v.innerHTML = html;
            } else if ($coupon_category == 2) {
                html +="折";
                $coupon_v.innerHTML = html;
            } else {
                html +="元";
                $coupon_v.innerHTML = html;
            }
          
        })
    })

    /*
    * 按钮的切换
    * 点击切换效果
    */
    $('.btn-group .setstatus input').click(function() {
        var current = $(this).parent();
        var siblings = $(this).parent().siblings();
        current.removeClass("btn-warning-outline").addClass("btn-success");
        siblings.removeClass("btn-success").addClass("btn-warning-outline");
    });
    // 日期选择器
    $(function() {
        laydate({
            elem: '#addtime',
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
            min: laydate.now(),
            max: '2099-12-31 23:59:59', //最大日期
            istime: true //是否开启时间选择
        });
        laydate({
            elem: '#expiretime',
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
            min: laydate.now(),
            max: '2099-12-31 23:59:59', //最大日期
            istime: true //是否开启时间选择
        });
        laydate.skin('danlan');
    })

    //城市联动
    $('#province').blur(function() {
        var province_id = $(this).val();
        $('#city').load("__URL__/getCity/province_id/"+province_id);
    });
    $('#city').blur(function() {
        var city_id = $(this).val();
        $('#area').load("__URL__/getArea/city_id/"+city_id);
        var city_html = $(this).find('option:selected').html();
        var province_html = $('#province').find('option:selected').html();
        $('#address').val(province_html+city_html);
    });
    $('#area').blur(function() {
        var city_html = $('#city').find('option:selected').html();
        var province_html = $('#province').find('option:selected').html();
        var area_html = $(this).find('option:selected').html();
        $('#address').val(province_html+city_html+area_html);
    });
</script>
</body>
</html>
