{include file="index/header"/}
<div class="page">
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left back" href="{:url('/index')}">
      <span class="icon icon-left"></span>
  		返回
    </a>
    <a class="button button-link button-nav pull-right" style="margin-right: 0px;" href="javascript:;">
	    	<i class="iconfont open-popover" data-popover=".popover-report" style="font-size: 1rem;">&#xe642;</i>
		</a>
    <h1 class='title'>{$title}</h1>
  </header>
  <div class="content">
  	
  	<div class="list-block media-list" style="margin: 0px;">
	    <ul style="border-bottom-color: #F5F5F5;">
	      <li class="item-content">
          <div class="item-media">
          	<img src="__PUBLIC__/static/images/no-picture.png" style='width: 3rem; border-radius: 50%;'>
          </div>
          <div class="item-inner" style="margin-left: 0.5rem;">
            <div class="item-title-row">
              <div class="item-title" style="font-size: 0.8rem;">
              	张三
              	<img src="__PUBLIC__/static/images/signup-medal-logo.png" style="width:1rem;" alt="" />
              	合肥八一驾校
              </div>
              <div class="item-after" style="">
              	<i class="iconfont" style="font-size: 2rem; color: #F27934;">&#xe64e;</i>
              </div>
            </div>
            <div class="item-subtitle" style="font-size: 0.6rem;">
            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
            	<i class="iconfont" style="color:#ccc" >&#xe611;</i>
            	<span style="">190人已报名</span>
            </div>
            <div class="item-title" style="font-size: 0.6rem;">
            	<span style="color:#777777;">计时培训</span> 
            	<span style="color:#FEAE4D; font-weight: bold;">130元/时</span>起
            </div>
          </div>
	      </li>
	    </ul>
  	</div>
	  <div class="list" style="padding: 10px 0px; background: #fff;">
		  <div class="row" style="background: #fff; margin-top: 0px;">
		  	<div class="col-33" style="text-align: center; border-right: 1px solid #F5F5F5; padding: 10px 0px;">
		  		<span style="color: #25CD7D; font-size: 1rem;">80天</span><br />
		  		<span style="color: #666;">平均拿证时间</span>
		  	</div>
	  		<div class="col-33" style="text-align: center; border-right: 1px solid #F5F5F5; padding: 10px 0px;">
		  		<span style="color: #25CD7D; font-size: 1rem;">80天</span><br />
		  		<span style="color: #666;">科目二通过率</span>
		  	</div>
		  	<div class="col-33" style="text-align: center; padding: 10px 0px;">
		  		<span style="color: #25CD7D; font-size: 1rem;">80天</span><br />
		  		<span style="color: #666;">科目三通过率</span>
		  	</div>
		  </div>
	  </div>
	  
		<a href="{:url('/test')}">
		  <div class="list-block" style="margin:10px 0px;">
		    <ul style="border-bottom: 0px;">
		      <li class="item-content item-link">
			        <div class="item-inner">
			          <div class="item-title">预约学车</div>
			          <div class="item-after">查看</div>
			        </div>
		      		
		      </li>
	      </ul>
	  	</div>
		</a>
		<a href="{:url('/test')}">    
	  	<div class="list-block" style="margin: 0px;">
		    <ul style="border-bottom: 0px;">
		      <li class="item-content item-link">
		        <div class="item-inner">
		          <div class="item-title">显示最近报名点<span style="color:#FE911C;">[3.5km]</span></div>
		          <div class="item-after">查看</div>
		        </div>
		      </li>
	      </ul>
	  	</div>
		</a>
		<a href="{:url('/test')}">
	  	<div class="list-block" style="margin: 0px;">
	      <ul style="border-bottom: 0px;">
		      <li class="item-content item-link" >
		      	<div class="item-inner">
		          <div class="item-title">蜀山区</div>
		          <div class="item-after">蜀南报名培训场</div>
		        </div>
		      </li>
	      </ul>
	  		<div class="index-logo-list" style="margin: 0px; padding: 0px 10px;">
			    <div class="row" style="">
			      <div class="col-20">
		      		<img src="__PUBLIC__/static/images/no-square-picture.png" style="width: 60px;" alt="" />
			      </div>
			      <div class="col-20">
		      		<img src="__PUBLIC__/static/images/no-square-picture.png" style="width: 60px;" alt="" />
			      </div>
			      <div class="col-20">
		      		<img src="__PUBLIC__/static/images/no-square-picture.png" style="width: 60px;" alt="" />
			      </div>
			      <div class="col-20">
		      		<img src="__PUBLIC__/static/images/no-square-picture.png" style="width: 60px;" alt="" />
			      </div>
			      <div class="col-20">
		      		<img src="__PUBLIC__/static/images/no-square-picture.png" style="width: 60px;" alt="" />
			      </div>
			    </div>
		  	</div>
			</div>
		</a>
		
		<div class="list-block" style="margin-top: 10px; margin-bottom: 0px;">
	    <ul style="border-bottom: 0px;">
	      <li class="item-content">
	        <div class="item-inner">
	          <div class="item-title">报名驾校</div>
	          <div class="item-after"><i class="iconfont" style="color: #25CE7E; font-size: 1rem;">&#xe601;</i></div>
	        </div>
	      </li>
      </ul>
  	</div>
		
		<a href="{:url('/test')}">    
	  	<div class="list-block" style="margin: 0px;">
		    <ul style="border-bottom: 0px; background: none;">
		      <li class="item-content item-link">
		        <div class="item-inner">
		          <div class="item-title"><i class="iconfont" style="font-size: 1rem; color: #eb4f38;">&#xe628;</i> 学车优惠券200元</div>
		          <div class="item-after">立即领取</div>
		        </div>
		      </li>
	      </ul>
	  	</div>
		</a>
	  <div class="list-block media-list" style="margin: 0px; margin-bottom: 10px;">
	    <ul style="border-bottom: none;">
			  <li>
			    <a href="{:url('/signup/shifts', ['id'=>1, 'device'=>$device])}" class="item-link item-content">
			      <div class="item-inner shifts-list" style="background: none; position: relative;">
			        <div class="item-title-row">
			          <div class="item-title">
			          	劲爆VIP班
			          	<span style="padding-left: 5px; font-size: 12px;">C1</span> 
			          	<span style="border: 1px solid #32CF86; border-radius: 3px; color: #32CF86; font-size: 0.6rem; padding: 2px 5px;">劲爆大优惠</span>
			          </div>
			        </div>
			        <div class="item-subtitle">最快7天上车，4人/车，自行前往</div>
			        <div class="item-text"><span style="font-weight: 500; font-size: 1rem; color: #FEAE4D; padding-right: 5px;">3100元</span><span style="color: #999;">市场价4600元</span></div>
			    	<button class="button button-warning shifts-btn">
			    		<div class="">
			    			全额支付
			            </div>
			    		<div class="xiha-signup">在线报名</div>
			    	</button>
			      </div>
			    </a>
			  </li>
			  <li>
			    <a href="#" class="item-link item-content">
			      <div class="item-inner shifts-list" style="background: none; position: relative;">
			        <div class="item-title-row">
			          <div class="item-title">
			          	劲爆VIP班
			          	<span style="padding-left: 5px; font-size: 12px;">C1</span> 
			          	<span style="border: 1px solid #32CF86; border-radius: 3px; color: #32CF86; font-size: 0.6rem; padding: 2px 5px;">劲爆大优惠</span>
			          </div>
			        </div>
			        <div class="item-subtitle">最快7天上车，4人/车，自行前往</div>
			        <div class="item-text"><span style="font-weight: 500; font-size: 1rem; color: #FEAE4D; padding-right: 5px;">3100元</span><span style="color: #999;">市场价4600元</span></div>
			    	<button class="button button-warning shifts-btn">
			    		<div class="">
			    			全额支付
			            </div>
			    		<div class="xiha-signup">在线报名</div>
			    	</button>
			      </div>
			    </a>
			  </li>
		  </ul>
  	</div>
  	
  	<div class="list-block" style="margin:0px;">
	    <ul style="">
	      <li class="item-content item-link">
		        <div class="item-inner">
		          <div class="item-title">学员评价</div>
		          <div class="item-after">查看更多</div>
		        </div>
	      		
	      </li>
      </ul>
  	</div>
  	<div class="list-block media-list article-list" style=" margin: 0px; border: 0px;">
	    <ul style="border: 0px;">
	      <li>
        	<div class="item-content">
	          <div class="item-media" style="overflow: hidden; position: absolute; top:0px;">
	          	<img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 1.6rem; border-radius: 50%;'>
	          </div>
	          <div class="item-inner" style="margin-left: 2rem; padding-bottom: 20px; border-bottom: 1px solid #eaeaea;">
	            <div class="item-title-row">
	              <div class="item-title">嘻哈学员</div>
	              <div class="item-after" style="font-size: 0.6rem; color: #999;">09-28 21:30</div>
	            </div>
	            <div class="item-subtitle" style="color: #999; font-size: 0.8rem;">
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#ccc" >&#xe611;</i>
	            </div>
	            <div class="item-subtitle" style="color: #666; white-space: initial">
	            	教练不错，教导的很好，教练不错，非常好教练不错！
	            	教练不错，教导的很好，教练不错，非常好教练不错！
	            </div>
	          </div>
	        </div>
	      </li>
	      <li>
        	<div class="item-content">
	          <div class="item-media" style="overflow: hidden; position: absolute; top:0px;">
	          	<img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 1.6rem; border-radius: 50%;'>
	          </div>
	          <div class="item-inner" style="margin-left: 2rem; padding-bottom: 20px; border-bottom: 1px solid #eaeaea;">
	            <div class="item-title-row">
	              <div class="item-title">嘻哈学员</div>
	              <div class="item-after" style="font-size: 0.6rem; color: #999;">09-28 21:30</div>
	            </div>
	            <div class="item-subtitle" style="color: #999; font-size: 0.8rem;">
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#ccc" >&#xe611;</i>
	            </div>
	            <div class="item-subtitle" style="color: #666; white-space: initial">
	            	教练不错，教导的很好，教练不错，非常好教练不错！
	            	教练不错，教导的很好，教练不错，非常好教练不错！
	            </div>
	          </div>
	        </div>
	      </li>
	      <li>
        	<div class="item-content">
	          <div class="item-media" style="overflow: hidden; position: absolute; top:0px;">
	          	<img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 1.6rem; border-radius: 50%;'>
	          </div>
	          <div class="item-inner" style="margin-left: 2rem; padding-bottom: 20px; border-bottom: 1px solid #eaeaea;">
	            <div class="item-title-row">
	              <div class="item-title">嘻哈学员</div>
	              <div class="item-after" style="font-size: 0.6rem; color: #999;">09-28 21:30</div>
	            </div>
	            <div class="item-subtitle" style="color: #999; font-size: 0.8rem;">
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#FEAE4D" >&#xe611;</i>	
	            	<i class="iconfont" style="color:#ccc" >&#xe611;</i>
	            </div>
	            <div class="item-subtitle" style="color: #666; white-space: initial">
	            	教练不错，教导的很好，教练不错，非常好教练不错！
	            	教练不错，教导的很好，教练不错，非常好教练不错！
	            </div>
	          </div>
	        </div>
	      </li>
	      <li>
	      	<p style="text-align: center;height: 40px; line-height: 40px;"><a href="{:url('/test')}">查看更多评论 <span class="icon icon-right"></span></a></p>
	      </li>
	    </ul>
	  </div>
	  
  </div>
  
</div>
{include file="index/footer"/}