<!--{include file="library/header.lbi"}-->
  <div class="tab-body">
    <br />
    <div class="tab-panel active" id="tab-set">
        <form method="post" class="form-x" style="width:80%" action="index.php?action=coach&op=addoperate" enctype="multipart/form-data">

            <div class="form-group">
                <div class="label"><label for="s_coach_name">姓名</label></div>
                <div class="field">
                     <input type="text" class="input" id="s_coach_name" name="s_coach_name" size="50" placeholder="请填写姓名" data-validate="required:请填写姓名" />
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="s_coach_phone">手机号码</label></div>
                <div class="field">
                     <input type="text" class="input" id="s_coach_phone" name="s_coach_phone" size="50" placeholder="请填写手机号码" data-validate="required:请填写手机号码" />
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="license_img">头像</label></div>
                <div class="field">
                    <div class="imgdiv">
                        <img src="upload/coach/default_photo.jpg" id="imgShow" width="128" height="128" class="img-border radius-small" />
                    </div>

                    <a class="button input-file bg-green" href="javascript:void(0);">+ 浏览文件
                        <input size="100" type="file" name="license_img" value="" id="license_img" data-validate="regexp#.+.(jpg|jpeg|png|gif)$:只能上传jpg|gif|png格式文件" />
                        <input type="hidden" name="oldimg" value="upload/coach/default_photo.jpg">
                    </a>
                </div>
            </div>

            <div class="form-group">
              <div class="label"><label for="coach_school">所属驾校</label></div>
              <div class="field">
                  <select class="input" id="coach_school_id" style="width:20%; float:left" name="coach_school_id"> 
                      <option value="">请选择驾校</option> 
                      <!--{if $school_list}-->
                          <!--{foreach $school_list as $key => $value}-->
                           <option value="<!--{$value.school_id}-->"><!--{$value.school_name}--></option>
                          <!--{/foreach}-->
                      <!--{else}-->
                          <option value="">暂无驾校列表</option>
                      <!--{/if}-->
                  </select>
          
              </div>
          </div>

            <div class="form-group">
                <div class="label"><label for="coach_lesson">培训课程</label></div>
                <div class="field">
                    <div class="button-group border-main checkbox"> 
                        <!--{foreach $lesson_config as $key => $value}-->
                        <!--{if $key == 1}-->
                        <label class="button active">
                            <input name="lesson_id[]" value="<!--{$key}-->" type="checkbox" checked="checked"><!--{$value}--></label> 
                        <!--{else}-->
                            <label class="button"><input name="lesson_id[]" value="<!--{$key}-->" type="checkbox"><!--{$value}--></label>
                        <!--{/if}-->
                        <!--{/foreach}-->
                    </div>
                    <span class="tips icon-exclamation-circle" style="color:#f60; cursor:pointer;" data-toggle="hover" data-place="right" title="培训课程可多选"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="coach_lesson">培训牌照</label></div>
                <div class="field">
                    <div class="button-group border-main checkbox"> 
                        <!--{foreach $lisence_config as $key => $value}-->
                        <!--{if $key == 1}-->
                        <label class="button active"><input name="lisence_id[]" value="1" type="checkbox" checked="checked"><!--{$value}--> </label>
                        <!--{else}-->
                            <label class="button"><input name="lisence_id[]" value="<!--{$key}-->" type="checkbox"><!--{$value}--></label>
                        <!--{/if}-->
                        <!--{/foreach}-->
                    </div>
                    <span class="tips icon-exclamation-circle" style="color:#f60; cursor:pointer;" data-toggle="hover" data-place="right" title="培训牌照可多选"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="coach_school_car">所属车辆</label></div>
                <div class="field">
                    <select class="input" id="coach_school_car" style="width:20%; float:left" name="coach_school_car"> 
                        <option value="">请选择车辆</option> 
                        <!--{if $car_list}-->
                            <!--{foreach $car_list as $key => $value}-->
                             <option value="<!--{$value.id}-->"><!--{$value.name}--> (<!--{$value.car_no}-->)</option>
                            <!--{/foreach}-->
                        <!--{else}-->
                            <option value="">暂无车辆列表</option>
                        <!--{/if}-->
                    </select>
                     <!-- <a href="index.php?action=car&op=add" class="button bg-yellow">添加车辆</a> -->
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="i_wdid">地址</label></div>
                <div class="field">
                   <select class="input" id="province" style="width:20%; float:left" name="province"> 
                       <option value="">请选择省</option> 
                       <!--{foreach $provincelist as $key => $value}-->
                        <option value="<!--{$value.provinceid}-->"><!--{$value.province}--></option>
                       <!--{/foreach}-->
                   </select>
                   <select class="input" id="city" style="width:20%; float:left" name="city"> 
                       <option value="">请选择市</option>
            
                   </select>
                   <select class="input" id="area" style="width:20%; float:left" name="area"> 
                       <option value="">请选择区域</option> 
                   </select>
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="s_address">详细地址</label></div>
                <div class="field">
                    <!-- <input type="text" class="address_start" value=""> -->
                    <input type="text" class="input" id="s_address" name="s_address" value="" size="50" placeholder="详细地址" />
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="coach_type">教练类型</label></div>
                <div class="field">
                    <select class="input" id="coach_type" style="width:20%; float:left" name="coach_type"> 
                        <option value="">请选择教练类型</option> 
                        <option value="1">普通教练</option>
                        <option value="0">金牌教练</option>
                    </select> 
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label>是否在线</label></div>
                <div class="field">
                    <div class="button-group button-group-small radio">
                        <label class="button active">
                            <input name="is_online" value="1" checked="checked" type="radio">
                            <span class="icon icon-check text-green"></span> 在线</label>
                        <label class="button">
                            <input name="is_online" value="0" type="radio">
                            <span class="icon icon-times"></span> 不在线</label>
                    </div>
                </div>
            </div>
            
<!--             <div class="form-group">
                <div class="label"><label for="s_yh_name">收款银行名称</label></div>
                <div class="field">
                    <input type="text" class="input" id="s_yh_name" name="s_yh_name" value="" size="50" placeholder="收款银行名称" data-validate="required:请填写你收款银行名称"/>
                </div>
            </div>
            
            <div class="form-group">
                <div class="label"><label for="s_yh_zhanghao">收款银行账号</label></div>
                <div class="field">
                    <input type="text" class="input" id="s_yh_zhanghao" name="s_yh_zhanghao" value="" size="50" placeholder="收款银行账号" data-validate="required:请填写你收款银行账号"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="s_yh_huming">银行账户户名</label></div>
                <div class="field">
                    <input type="text" class="input" id="s_yh_huming" name="s_yh_huming" value="" size="50" placeholder="银行账户户名" data-validate="required:请填写你银行账户户名" />
                </div>
            </div> -->

            <div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
        </form>
    </div>

    <script>
    // 上传图片预览
        window.onload = function () { 
            new uploadPreview({ UpBtn: "license_img", DivShow: "imgdiv", ImgShow: "imgShow" });
        }

        // 城市联动
        $('#province').change(function() {
            var province_id = $(this).val();
            $("#city").load("index.php?action=school&op=getcity&province_id="+province_id);
        });

        $('#city').change(function() {
            var city_id = $(this).val();
            $('#area').load('index.php?action=school&op=getarea&city_id='+city_id);
            var city_html = $(this).find('option:selected').html();
            var province_html = $('#province').find('option:selected').html();
            $('#s_address').val(province_html+city_html);
        })

        $('#area').change(function() {
            var city_html = $('#city').find('option:selected').html();
            var province_html = $('#province').find('option:selected').html();
            var area_html = $(this).find('option:selected').html();
            $('#s_address').val(province_html+city_html+area_html);
        })
    </script>
<!--{include file="library/footer.lbi"}-->
