<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/assets/umeditor/themes/default/css/umeditor.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2-bootstrap.css">

<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>修改知识</title>
</head>
<body>
<div class="pd-20">
    <div class="float-left" style="width:100%">
    <form action="{: U('Ghzsk/editZsk')}" enctype="multipart/form-data" method="post" class="form form-horizontal" id="add_zsk_form">
        <input type="hidden" class="input-text" style="height:30px;width:300px;border-radius:5px;" value="{$author_list.id}"   placeholder="请填写姓名" id="name" name="id"  />

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>提供者：</label>
            <div class="formControls col-2">
                <input type="text" class="input-text" style="height:30px;width:300px;border-radius:5px;" value="{$author_list.author}"  readonly placeholder="请填写姓名" id="name" name="name" datatype="*1-10" nullmsg="姓名不能为空" />
            </div>   
        </div>
       
        
       
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>主题：</label>
            <div class="formControls col-2">
                <input type="text" style="border-radius:5px;width:300px;" class="input-text" value="{$author_list.title}"   placeholder="请填写主题" id="title" name="title" datatype="*2-30" nullmsg="主题不能为空" />
            </div>   
        </div>
        <!-- <div class="row cl">
            <label class="form-label col-2">摘要：</label>
            <div class="formControls col-2">
                <input type="text" style="border-radius:5px;width:300px;" class="input-text" value="{$author_list.short_desc}"   placeholder="请填写摘要" id="description" name="description"  />
            </div>   
        </div> -->
        <if condition="$user_id eq 1 ">
            <div class="row cl">
                <label class="form-label col-2">主题类型：</label>
                <div class="formControls col-2">
                   <select class="form-control" name="cate" id="cate" style="border-color:#ccc;height:30px;width:300px;border-radius:5px;">
                       <option value="">请选择类型</option>
                       <foreach name="category" item="value">
                        <option value="{$value.id}" selected >{$value.cate_name}</optiion>
                       </foreach>
                   </select>
                </div>   
            </div>
        </if>

        <div class="row cl">
            <label class="form-label col-2">系统类型：</label>
            <div class="formControls col-2 btn-group">
               <!-- <label class="btn radius btn-success radio os"><input name="os" value="1" type="radio" checked style="display:none;">旧系统</label>
               <label class="btn radius btn-primary-outline radio os"><input name="os" value="2" type="radio"  style="display:none;">新系统</label> -->
               <select class="form-control" name="type" id="type" style="border-color:#ccc;height:30px;width:300px;border-radius:5px;">
                   <option value="">请选择系统</option>
                   <option value="1" <if condition ="$author_list.system_type eq 1">selected</if>  >旧系统</optiion>
                   <option value="2" <if condition ="$author_list.system_type eq 2">selected</if> >新系统</optiion>
               </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>解决方法：</label>
            <div class="formControls col-4">
                <textarea name="method" style="height:400px;width:850px;" id="method" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符"  dragonfly="true"   onKeyUp="textarealength(this,1000)">{$author_list.content}</textarea>
            </div>
        <!-- <div class="row cl"><label class="col-8 col-offset-5"><spna style ="color:red">最多1000个字符</span></label></div> -->
        </div>
        <br/> 
         <div class="row cl">
            <label class="form-label col-2 text-r" for="doctext">附件：</label>
            <div class="formControls col-10">
                <span class="btn-upload form-group">
                    <input class="input-text upload-url col-3" type="text" value = "{$author_list.attachment}" name="doctext" id="doctext" readonly>
                    <a href="javascript:void();" class="btn btn-primary"><i class="Hui-iconfont">&#xe646;</i> 浏览</a>
                    <input type="file" multiple name="doctext" class="input-file" >
                </span>
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-primary radius " id="submit" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
    </form>
</div>
</div>

<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/jquery.provincesCity.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/assets/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/assets/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/angular.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/selectindex.js"></script>

<script type= "text/javascript">

// $('#submit').click(function() {
//     var school_id = $('#school_id').val();
//     if (!school_id) {
//         // alert('请选择驾校');
//         layer.msg('请选择驾校', {icon:2, time:1000});
//         return false;
//     }
// })

$(function() {
    // 加载编辑器
    var um = UM.getEditor('method');
});

// 表单验证
$( function () {
    $('#add_zsk_form').Validform({
            tiptype:2,
            callback:function(form){
                form[0].submit();
            }
    });
}) 
/*
* 展示与不展示
* 点击切换效果
*/
$('.btn-group .os input').click(function() {
  var current = $(this).parent();
  var siblings = $(this).parent().siblings();
  current.removeClass("btn-primary-outline").addClass("btn-success");
  siblings.removeClass("btn-success").addClass("btn-primary-outline");
});


</script>

</body>
</html>