{include file="index/header"/}
{css href="__PUBLIC__/static/css/swiper.min.css"}
<div class="container-fluid main" style="padding:0px;">
	<div class="swiper-container" style="height: auto;">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background:#f0f2f4; text-align:center;"><img src="__PUBLIC__/static/images/xiha_aboutus_01.png" alt="" style="width:100%;"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    
    <div class="xiha-aboutus-01">
    	<div class="xiha-aboutus-div">
	    	<p style="padding-top: 80px; text-align: center; font-size: 40px; padding-bottom: 40px;">探索互联网+驾考，用心让学车体验更好</p>
	    	<p style="line-height: 30px; font-size: 18px; text-indent: 4rem; color: #666;">
	    		嘻哈学车，是线上APP预约、线下人工智能教学的移动智能互联网学车平台。嘻哈学车是专注于为学员提供从报名、学车、练车到拿证全方位驾培、驾考在线报名、在线预约、在线支付、在线学习以及线下使用机器人学车电子教练掌握驾驶技能的学车应用驾培生态系统。我们秉承打造您身边的驾校，让学车更轻松、更便捷为出发点和落脚点；利用智能互联网技术解决驾校招生难，培训难，管理难，成本高等经营难题为己任。嘻哈学车是由安徽嘻哈网络技术有限公司研发并推向市场应用，线上拥有嘻哈学车教练端APP、学员端APP、驾校后台管理系统等线上生态，线下拥有学车电子教练，电子模拟考官，安全辅助刹车系统，电子围栏等核心应用技术。线上线下技术产品已经获取国家专利、商标注册、软件证书近百项。累计已帮助数万学员顺利拿到驾照。是互联网学车使用“学车”字号的先行者，学车电子教练的发明者和拓荒者，率先推动驾培行业从传统的人力教学生产方式到人工智能教学生产方式的转变。
            </p>
            <p style="line-height: 30px; font-size: 18px; text-indent: 4rem; padding-top: 20px; color: #666;">

                线上产品包含了在线报名班制、在线预约计时、科目一、科目二、科目三、科目四、考试拿证的全流程。旨在为学员提供更便捷的学车练车服务，为教练提供更科学的学员招生服务。满足报名流程简洁、预约计时、一人一车、评价好、价格优的预约学车需求。
	    	</p>
	    	<p style="line-height: 30px; font-size: 18px; text-indent: 4rem; padding-top: 20px; color: #666; padding-bottom: 80px;">
	    		嘻哈学车APP可实现在线报名、在线支付、学员能就近找到最近、最合适的教练。学员可以随时随地练车。使用“嘻哈学车”的学员，可一人一车享受专车接送，实行计时收费——学得快的学员，学费就花的少，对学得稍慢的学员
	    		则实行封顶收费，真正享受VIP服务。学车结束后可以对教练进行评价、打分，从源头杜绝教练吃、拿、卡、要。
	    	</p>
    	</div>
    </div>
    
    <div class="xiha-aboutus-02" style="background: url(__PUBLIC__/static/images/xiha_aboutus_02.png);">
    	<!--<img src="__PUBLIC__/static/images/xiha_aboutus_02.png" alt="" />-->
    	<div class="xiha-aboutus-list-all">
    		<div class="xiha-aboutus-list">
    			<div class="xiha-aboutus-list-div">
	    			<img class="xiha-aboutus-original" src="__PUBLIC__/static/images/xiha_aboutus_03.png" style="" alt="" />
	    			<img class="xiha-aboutus-hover hide" src="__PUBLIC__/static/images/xiha_aboutus_03-hover.png" style="" alt="" />
    			</div>
    				
    			<p style="margin-top: 50px; font-size: 20px;">用户研究</p>
    			<p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">通过市场分析、用户调研，了解传统驾考中学员痛点，挖掘用户体验中的潜在机遇</p>
    		</div>
    		<div class="xiha-aboutus-list">
    			<div class="xiha-aboutus-list-div">
	    			<img class="xiha-aboutus-original" src="__PUBLIC__/static/images/xiha_aboutus_04.png" alt="" />
	    			<img class="xiha-aboutus-hover hide" src="__PUBLIC__/static/images/xiha_aboutus_04-hover.png" alt="" />
    			</div>
    			<p style="margin-top: 50px; font-size: 20px;">交互设计</p>
    			<p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">分析驾考用户场景与线上优势，梳理产品信息架构，设计出能与用户产生共鸣的驾考APP，最大可能符合用户使用习惯</p>
    		</div>
    		<div class="xiha-aboutus-list">
    			<div class="xiha-aboutus-list-div">
	    			<img class="xiha-aboutus-original" src="__PUBLIC__/static/images/xiha_aboutus_05.png" alt="" />
	    			<img class="xiha-aboutus-hover hide" src="__PUBLIC__/static/images/xiha_aboutus_05-hover.png" alt="" />
    			</div>
    			<p style="margin-top: 50px; font-size: 20px;">视觉设计</p>
    			<p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">设计出符合潮流的APP界面，让使用软件的用户在视觉上感到愉悦</p>
    		</div>
    		<div style="clear: both;"></div>
    	</div>
    </div>
    
   <!--  <div class="xiha-aboutus-01">
    	<div class="xiha-aboutus-div">
	    	<p style="padding-top: 80px; text-align: center; font-size: 40px; padding-bottom: 40px;">团队风采</p>
	    	<div class="xiha-aboutus-fengcai-div">
	    		<img src="__PUBLIC__/static/images/xiha_aboutus_fengcai_01.jpg" style="left: 0px; width: 350px;" alt="" />
	    		<img src="__PUBLIC__/static/images/xiha_aboutus_fengcai_02.jpg" style="left: 350px; top: 0px; width: 351px; " alt="" />
	    		<img src="__PUBLIC__/static/images/xiha_aboutus_fengcai_03.jpg" style="left: 350px; top: 260px; width: 350px; height: 205px;" alt="" />
	    		<img src="__PUBLIC__/static/images/xiha_aboutus_fengcai_04.jpg" style="right: 0px; top: 0px; width: 400px; height: 465px; " alt="" />
	    	</div>
    	</div>
    </div> -->
    
</div>
{js href="__PUBLIC__/static/js/swiper.min.js"}
<script>
	$('.xiha-aboutus-list-div').on({
		'mouseover': function() {
			$(this).find('.xiha-aboutus-original').addClass('hide').siblings().find('.xiha-aboutus-original').removeClass('hide');
			$(this).find('.xiha-aboutus-hover').removeClass('hide').siblings().find('.xiha-aboutus-hover').addClass('hide');	
		},
		'mouseleave': function() {
			
		}
	})
</script>
{include file="index/footer"/}
