{js href="__PUBLIC__/static/js/bootstrap.min.js"}
{js href="__PUBLIC__/static/js/ripples.min.js"}
{js href="__PUBLIC__/static/js/material.min.js"}
{js href="__PUBLIC__/static/js/snackbar.min.js"}
{js href="__PUBLIC__/static/js/jquery.nouislider.min.js"}
<script> 
    $(function() {
        $.material.init();
    });
</script>

<div class="footer">
	<div class="footer_div">
		<div class="footer_left">
			<p>关于我们</p>
			<ul>
				<li><a href="{:url('/aboutus')}">关于我们</a></li>
				<li><a href="mailto:yanglilin@xihaxueche.com">联系我们</a></li>
				<li><a href="{:url('/join')}">加入我们</a></li>
			</ul>
		</div>
		<div class="footer_mid">
			<p>商务合作</p>
			<ul>
				<li>电子邮箱：<a href="mailto:yanglilin@xihaxueche.com">yanglilin@xihaxueche.com</a></li>
				<li>QQ 号码：<a href="http://wpa.qq.com/msgrd?v=3&uin=2833313974&site=qq&menu=yes">2833313974</a></li>
				<li>联系电话：<a href="javascript:;">0551-65610256  18855183781、18855183783、18110606633</a></li>
				<!-- <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18855183783（7*8小时）</a></li> -->
			</ul>
		</div>
		<div class="footer_right">
			<img src="__PUBLIC__/static/images/xiha_wechat.jpg" style="width: 100px; height: 100px;" alt="" />
			<p style="color:#666; padding-top: 5px;">扫一扫&nbsp;有惊喜</p>
		</div>
		<div style="width: 100%; clear: both; border-top: 1px solid #353538; margin-top: 60px; color: #666; text-align: center; padding-top: 20px;">
			<p>&copy;2015 安徽嘻哈网络技术有限公司&nbsp;皖ICP备15016679号&nbsp;&nbsp;&nbsp;公司地址：合肥市高新区望江西路800号国家创新产业园C3栋
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260253773'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260253773%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
			</p>
		</div>
	</div>
</div>
<!-- <script src="http://www.sobot.com/chat/pc/pc.min.js?sysNum=6fa9153617464a568a60fffef4da678a" id="zhichiload" ></script> -->
<script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?2a10046cca061a9fa7a3a3610613ef2e"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=10689255"></script>
</body>
</html>
