{include file="index/header"/}
{css href="__PUBLIC__/static/css/swiper.min.css"}
<div class="container-fluid main" style="padding:0px;">
	<div class="swiper-container" style="height: auto;">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background:#f0f2f4; text-align:center;"><img src="__PUBLIC__/static/images/xiha_help_01.png" alt="" style="width: 100%;"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    
	<div class="xiha-help">
		<div class="xiha-help-div">
			<ul class="nav nav-tabs" style="margin-bottom: 15px; background: #fff; border-bottom:1px solid #00BD9C; ">
			  <li class="active"><a style="color: #000 !important;" href="#student" data-toggle="tab">学员</a></li>
			  <li><a style="color: #000 !important;" href="#coach" data-toggle="tab">教练</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
			  <div class="tab-pane fade active in" id="student" style="border-top:none">
			  	<!--student-->
			  	<div class="xiha-help-student">
			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">01-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<!--<div class="panel panel-info">
							  <div class="panel-heading">
							    <h3 class="panel-title">选择嘻哈学车有什么保障？</h3>
							  </div>
							  <div class="panel-body">
							    	互联网驾考平台，具有互联网产品的良好基因：优质、廉价、透明、时间周期短、无任何隐性消费，嘻哈学车实行计时收费——学得快的学员，学费就花得少，对学的稍慢的学员则实行封顶收费
							  </div>
							</div>-->
			 				<p class="xiha-help-title" style="">嘻哈学车是做什么的？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">嘻哈学车以“促公平、节时间、省金钱、易学车”为出发点和落脚点的APP；学员网上学车更轻松、更便捷。目前吸引大量用户，深受用户喜爱，赢得社会普遍赞誉。目前已推广至除港澳台地区外的全国各个省市。</p>
			 			</div>
			 		</div>
			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">02-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">嘻哈学车和传统驾校报名有什么区别？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">嘻哈学车更便宜、学车质量更有保障、学车时间更自由，学车者可以轻松发单，随时随地学车。</p>
			 			</div>
			 		</div>
			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">03-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">在线付款是否安全？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">平台支付网银、支付宝、微信等多种支付方式，您在线支付的资金都将支付到第三方托管账户，保证资金安全。等你报名成功且在车管所登记后，才将您在线支付的手款打给驾校。</p>
			 			</div>
			 		</div>
			 		<div class="xiha-help-student-q-list" style="border:0px solid red;height:500px;">
			 			<span class="xiha-help-no" style="">04-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">报名需要提供哪些材料？</p>
			 				<p style="color: #666; text-align: left;"> 
			 					1、证件及复印件<br/>
								<span style="display:inline;margin-left:30px;">（1）本市户籍人员报名时须交身份证原件及复印件</span><br/>
								<span style="display:inline;margin-left:30px;">（2）非本市户籍人员，须持身份证及有效期为一年的暂住证和复印件报名</span><br/>
   								<span style="display:inline;margin-left:15px;">（3）军人及武警人员学车须用驻京部队核发的军官证、士兵证、文职干部证或退休证报名，同时要出具团级以上政治部（处）证明</span><br/>
 								</span>
    							<span style="display:inline;margin-left:-13px;">2、照片</span><br/>
								<span style="display:inline;margin-left:25px;">（1）报名学员需准备同版照片7张，报名时交6张，科目三考试合格后由学员本人再交1张。</span><br/>
 								<span style="display:inline;margin-left:15px;">（2）照片必须为半年以内近照，正面、正身、免冠、1寸（32MM×22MM）、白色背景彩色照片，人头约占照片长度的三分之二，</span><br/>
									 光学照片、数码照片（分辨率为300dpi）均可。</span><br/>
    							<span >（3）照片必须露双耳，头上不能佩戴任何发饰，不能穿露肩膀衣服。</span><br/>
    							<span >（4）军人、公安或执法人员的照片须着便装。</span><br/>
							</p>

			 			</div>
			 		</div>



			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">05-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">报名费全用是全包含吗，我还需要交其他的什么费用吗？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">嘻哈学车实行一费制。根据个人情况及选择班级的不同，可能会有体检费、考前模拟、补考等额外费用支出。</p>
			 			</div>
			 		</div>	
			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">06-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">我在你们平台上报名学车，什么时候可以上车？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">根据班级的不同，上车时间也不相同，每个班型信心都有明确的标明了上车时间。（最快1天就能上车，最慢15-20天）</p>
			 			</div>
			 		</div>
			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">07-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">报名成功后，多久才能拿证？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">正常情况下45天拿证，但是根据个人选择的班级不同，学习和考试的通过情况不同，拿证的时间也会有前后的差异</p>
			 			</div>
			 		</div>
			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">08-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">如果取消费用怎么退还？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">嘻哈的退款是7-15个工作日，（国家法定节假日，周末双休不计）、将会退到您原支付账户中。</p>
			 			</div>
			 		</div>
			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">09-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">学车中遇到问题怎么办？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">学车中遇到任何问题可以随时拨打我们都电话055167126633 ，您也可以关注我们的微信号xihaxueche2015</p>
			 			</div>
			 		</div>
			 		<div class="xiha-help-student-q-list">
			 			<span class="xiha-help-no" style="">10-</span>
			 			<span class="xiha-help-point" style=""></span>
			 			<div class="xiha-help-student-q-content">
			 				<p class="xiha-help-title" style="">如果考试挂了怎么办？还能练车么？</p>
			 				<p style="color: #666; text-align: left;text-indent:2em;">每个科目当场均有两次考试机会，第一次考试未通过则当场可重考一次，若两次考试均未通过，则需要交补考费（科目一 120 元、科目二150元、科目三240元） 10天后预约下一次考试；科目二 和科目三挂科后，可继续预约教练练车。</p>
			 			</div>
			 		</div>
			  	</div>
			  </div>
			  <div class="tab-pane fade" id="coach">
			  		<div class="xiha-help-student">
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">01-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<!--<div class="panel panel-info">
								  <div class="panel-heading">
								    <h3 class="panel-title">选择嘻哈学车有什么保障？</h3>
								  </div>
								  <div class="panel-body">
								    	互联网驾考平台，具有互联网产品的良好基因：优质、廉价、透明、时间周期短、无任何隐性消费，嘻哈学车实行计时收费——学得快的学员，学费就花得少，对学的稍慢的学员则实行封顶收费
								  </div>
								</div>-->
				 				<p class="xiha-help-title" style="">嘻哈学车APP教练端是做什么的？</p>
				 				<p style="color: #666; text-align: left;text-indent:2em;">嘻哈学车APP是汽车教练学员管理的工具，有三大功能，学员管理、教育辅助和招生，是辅助教练工作的好帮手。嘻哈学车APP功能包括：学员信息管理、学员模拟考试成绩查询、考试安排、学车优惠券设置、招生名片、嘻哈头条等功能</p>
				 			</div>
				 		</div>
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">02-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">嘻哈学车收费吗？</p>
				 				<p style="color: #666; text-align: left;text-indent:2em;">嘻哈学车APP终身免费提供给教练使用</p>
				 			</div>
				 		</div>
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">03-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">存储在嘻哈学车教练端APP里的学员数据会丢失吗？</p>
				 				<p style="color: #666; text-align: left;text-indent:2em;">存在嘻哈学车APP里的数据都有多重备份，不会丢失</p>
				 			</div>
				 		</div>
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">04-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">怎么在嘻哈APP上查看学员信息？</p>
				 				<p style="color: #666; text-align: left;text-indent:2em;">点击学员管理，可以直接查看</p>
				 			</div>
				 		</div>	
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">05-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">学车优惠券怎么使用？</p>
				 				<p style="color: #666; text-align: left;text-indent:2em;">学车优惠券可以由教练制作，可以抵扣学员学费的电子优惠券，电子优惠券可以微信、qq中心分享传播，帮助学员通过学费优惠争取到更多学员。</p>
				 			</div>
				 		</div>	
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">06-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">同一账号可以多部手机登了吗？</p>
				 				<p style="color: #666; text-align: left;text-indent:2em;">可以的，只要输入正确的短信验证码，就可以使用</p>
				 			</div>
				 		</div>

				 		<!-- <div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">07-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">考试是否有名额限定？可以帮我们预约吗？</p>
				 				<p style="color: #666; text-align: left;">考试名额和学员无关，由车管所规定，只要您达到了考试标准，就可以上网向车管所预约。由于有教练带领并接送，因此请学员预约考试的时间和地点前请提前和教练沟通后再确定预约。</p>
				 			</div>
				 		</div>
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">08-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">理论学习后多久可以开始练车？</p>
				 				<p style="color: #666; text-align: left;">考完理论和你的教练沟通一下，一般来讲理论考试确认通过后，去报名科目二的模拟。然后可以和教练沟通下什么时间开始练车，一般情况是模拟结束后马上就可以开始练车。</p>
				 			</div>
				 		</div>
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">09-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">如果考试挂了怎么办？还能练车么？</p>
				 				<p style="color: #666; text-align: left;">每个科目当场均有两次考试机会，第一次考试未通过则当场可重考一次，若两次考试均未通过，则需要交补考费（科目一 120 元、科目二150元、科目三240元） 10天后预约下一次考试；科目二 和科目三挂科后，可继续预约教练练车。</p>
				 			</div>
				 		</div>
				 		<div class="xiha-help-student-q-list">
				 			<span class="xiha-help-no" style="">10-</span>
				 			<span class="xiha-help-point" style=""></span>
				 			<div class="xiha-help-student-q-content">
				 				<p class="xiha-help-title" style="">对教练不满意怎样解决？</p>
				 				<p style="color: #666; text-align: left;">教练都我们的工作人员根据设立的条件层层筛选的，服务态度和教学质量都有保障，在每次学车过后还可以通过文字对教练员评价；教练员填写学员学车基本情况，再也不为下次更换教练从头开始教学的担忧，练车之后双方互评的设置，完善的信用评价体系可以更快，更有效的学习。</p>
				 			</div>
				 		</div> -->
				  	</div>
			  </div>
			</div>

		</div>
			
	</div>
    
</div>
{js href="__PUBLIC__/static/js/swiper.min.js"}
<script>
	$('.xiha-aboutus-list-div').on({
		'mouseover': function() {
			$(this).find('.xiha-aboutus-original').addClass('hide').siblings().find('.xiha-aboutus-original').removeClass('hide');
			$(this).find('.xiha-aboutus-hover').removeClass('hide').siblings().find('.xiha-aboutus-hover').addClass('hide');	
		},
		'mouseleave': function() {
			
		}
	})
</script>
{include file="index/footer"/}
