{include file="index/header"/}
{css href="__PUBLIC__/static/css/swiper.min.css"}
<div class="container-fluid main" style="padding:0px;">
	<div class="swiper-container" style="height: auto;">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background:#f0f2f4; text-align:center;"><img src="__PUBLIC__/static/images/xiha_joinus_01.png" alt="" style="width: 100%;"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    
    <div class="xiha-aboutus-01">
    	<div class="xiha-aboutus-div">
	    	<p style="padding-top: 80px; color: #45c484; text-align: center; font-size: 40px; padding-bottom: 40px;">我们期待您的加入</p>
	    	<p style="line-height: 30px; font-size: 18px; color: #666;">
	    		嘻哈学车团队正在积极发展之中，我们一直为优秀人才提供多元化的空间和在职培养；我们长期面向社会招募不同用户体验设计与开发岗位和营销类的专业人才，
	    		配合我们不断提升嘻哈产品线上的用户体验，打造一流的互联网驾考产品。是不是迫不及待的想加入我们的团队！~快联系我们吧！
	    	</p>
	    	<p style="line-height: 40px; font-size: 18px; padding-top: 20px; color: #666; padding-bottom: 10px;">
	    		<span style="color: #45c484; font-size: 24px;">岗位：PHP高级工程师</span><br />
	    		工作内容：参与嘻哈网站的架构设计，以及各个后端模块的开发；承担嘻哈网站的后端开发和维护工作。<br />
	    		<strong style="color: #333;">职位要求：</strong><br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;1.大学本科及以上学历，1年以上相关经验；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;2.熟悉互联网产品和服务的开发过程，有至少一门动态语言或脚本语言的开发经验，对互联网后端技术架构有基础的见解；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;3.认可创业团队氛围，有上进心与自我驱动力，能够承受一定额工作压力。
	    	</p>
	    	<p style="line-height: 40px; font-size: 18px; padding-top: 20px; color: #666; padding-bottom: 10px;">
	    		<span style="color: #45c484; font-size: 24px;">岗位：IOS/Android工程师</span><br />
	    		工作内容：负责开发和维护嘻哈学车的移动客户端产品，包括Android, IOS以及平板应用<br />
	    		<strong style="color: #333;">职位要求：</strong><br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;1.大学本科及以上学历，1年以上相关经验；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;2.至少完整经历过1-3个移动设备客户端产品的开发及上线；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;3.学习能力较强，对移动端的技术活产品有浓厚的兴趣；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;4.具备较好的团队协作能力，乐于分享和交流。
	    	</p>
	    	<p style="line-height: 40px; font-size: 18px; padding-top: 20px; color: #666; padding-bottom: 10px;">
	    		<span style="color: #45c484; font-size: 24px;">岗位：UI高级设计师</span><br />
	    		工作内容：负责嘻哈品牌视觉形象相关设计以及对外推广的视觉物料设计，负责嘻哈产品的GUI,UI的设计。<br />
	    		<strong style="color: #333;">职位要求：</strong><br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;1.大学本科及以上学历，3年以上相关经验；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;2.有基础的设计理论知识和对流行趋势敏锐的洞察力，对视觉设计趋势有灵敏触觉和领悟能力；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;3.具有多平台界面风格设定，整套界面输出以及VI设定（包括界面，图标风格与统一规范等）经验，有成功上线案例；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;4.对项目管理有初步认识和理解，能够独自负责项目设计。懂交互设计，进行视觉设计起来更为顺利。对视觉用户研究有一定经验和见解，对软件可用性 有一定的认识；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;5.精通Photoshop、Illustrator等设计工具，了解动效设计者优先；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;6.美术、设计或相关专业本科以上学历（优秀人才，专业和学历可适当放宽），具备良好合作态度及团队精神，并富有工作激情、创造力和责任感，能承受高强度的工作压力；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;7.认可创业团队氛围，有上进心与自我驱动力，能够承受一定额工作压力。
	    	</p>
	    	<p style="line-height: 40px; font-size: 18px; padding-top: 20px; color: #666; padding-bottom: 10px;">
	    		<span style="color: #45c484; font-size: 24px;">岗位：运营主管</span><br />
	    		工作内容：<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;1.通过各类市场营销手段，有效提升客户端流量和订单量；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;2.策划并执行口碑传播方案，为嘻哈学车积累忠实用户和口碑传递者；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;3.策划，撰写市场活动各类企划文案，并跟进执行；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;4.负责运营嘻哈学车各类社交媒体平台（如微信，今日头条等），维护嘻哈学车品牌形象；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;5.负责组织嘻哈学车隔了线下活动交流活动，促进用户与嘻哈学车之间的互动；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;6.具有市场前瞻性，把握运营方向；<br />
	    		
	    		<strong style="color: #333;">职位要求：</strong><br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;1.大学本科及以上学历，3年以上相关经验；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;2.具备较强的传播方案策划能力，能够提升用户对嘻哈学车的熟悉度和信任度；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;3.具备良好的活动策划，文案撰写能力；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;4.具有极强的执行力和沟通能力，能够快速把创意螺栓，行动力超强；<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;5.认可创业团队氛围，有上进心与自我驱动力，能够承担一定的工作压力。
	    	</p>
	    	<p style="font-size: 18px; text-align: center;">请将简历发送到：<a href="mailto:hr@xihaxueche.com">hr@xihaxueche.com</a></p>
    	</div>
    </div>
    
</div>
{js href="__PUBLIC__/static/js/swiper.min.js"}
{include file="index/footer"/}
