{include file="index/header"/}
{css href="__PUBLIC__/static/css/swiper.min.css"}
<div class="container-fluid main" style="padding:0px;">
    <div class="swiper-container" style="height: auto; min-height: 630px;">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="background:#0164a7; text-align:center; position: relative;">
	            <img src="__PUBLIC__/static/images/xiha_coach_banner_01.png" alt="" style="width: 100%; min-height: 630px;"/>
            	<div class="xiha-coach-banner">
	        		<div class="xiha_coach_download_all">
	        			<div class="xiha_coach_download">
		        			<div class="xiha_coach_download_left_btn">
								<a href="https://itunes.apple.com/cn/app/xi-ha-xue-che/id1035332887?mt=8" target="_blank" class="btn btn-default xiha-coach-download-btn" style="">
									<span class="iconfont xiha-coach-download-iconfont" style="">&#xe60b;</span> iPhone下载</a>	
								<a href="http://imtt.dd.qq.com/16891/BAB21A21A895D820C084E9F950EAE19B.apk?fsname=com.zfang.xi_ha_xue_che.student.activity_2.83_87.apk&csr=4d5s" class="btn btn-default xiha-coach-download-btn" style="">
									<span class="iconfont xiha-coach-download-iconfont" style="">&#xe60c;</span> Android下载</a>
		        			</div>
		        			<div class="xiha_coach_download_right_btn">
								<img src="__PUBLIC__/static/images/xiha_coach_download.png" width="165px" height="165px"/>
		        			</div>
		        				
	        			</div>
	        		</div>
            	</div>
            		
            </div>
        </div>
        <!--<div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>-->
        <div class="swiper-pagination"></div>
    </div>
    
    <div class="xiha-coach-intro">
    	<div class="xiha-coach-intro-div">
    		<div class="btn btn-group xiha-coach-intro-list">
    			<span class="iconfont" style="font-size: 7rem; color: #D4D4D4; ">&#xe60d;</span>
    			<p style="font-size: 18px;">学员信息</p>
    			<p style="color: #999;">一键导入，管理学员信息，轻松掌握动态</p>
    		</div>
    		<div class="btn btn-group xiha-coach-intro-list">
    			<span class="iconfont" style="font-size: 7rem; color: #D4D4D4; ">&#xe60f;</span>
    			<p style="font-size: 18px;">预约练车</p>
    			<p style="color: #999;">提前安排学员练车，学车快人一步</p>
    		</div>
    		<div class="btn btn-group xiha-coach-intro-list">
    			<span class="iconfont" style="font-size: 7rem; color: #D4D4D4; ">&#xe60e;</span>
    			<p style="font-size: 18px;">学车优惠</p>
    			<p style="color: #999;">优惠多多，学车放心</p>
    		</div>
    	</div>
    </div>
    
    <div class="xiha-coach-point">
    	<div class="xiha-coach-point-div">
	    	<div class="xiha-coach-point-list">
	    		<img src="__PUBLIC__/static/images/xiha_coach_point_01.png" alt="" />
	    	</div>
    	</div>
    	<div class="xiha-coach-point-div">
	    	<div class="xiha-coach-point-list">
	    		<img src="__PUBLIC__/static/images/xiha_coach_point_02.png" alt="" />
	    	</div>
    	</div>
    	<div class="xiha-coach-point-div">
	    	<div class="xiha-coach-point-list">
	    		<img src="__PUBLIC__/static/images/xiha_coach_point_03.png" alt="" />
	    	</div>
    	</div>
    </div>
</div>
{js href="__PUBLIC__/static/js/swiper.min.js"}
<script>
//  var mySwiper = new Swiper ('.swiper-container', {
//      loop: true,
//      autoplay: 4000,
//      pagination: '.swiper-pagination',
////      nextButton: '.swiper-button-next',
////      prevButton: '.swiper-button-prev',
//	});
</script>
{include file="index/footer"/}
