{include file="index/header"/}
{css href="__PUBLIC__/static/css/swiper.min.css"}
<div class="container-fluid main" style="padding:0px;">
    <div class="swiper-container" style="height: auto;">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="background:#0164a7; text-align:center; position: relative;">
	            <img src="__PUBLIC__/static/images/ecoach/banner-03.png" alt="" style="width: 100%;"/>
            		
            </div>
        </div>
        <!--<div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>-->
        <div class="swiper-pagination"></div>
    </div>
    
    <div class="xiha_jiakaodaren_all" style="height: 40px;">
        <div class="navbar navbar-default" style="background:#fff; border:0px; margin-bottom:0px; height:64px; ">
          <div class="container-fluid" style="height:64px; background:#fff; top:0px; box-shadow: 0px 1px 1px rgba(0,0,0,0.15); z-index:999; width:100%; opacity: 0.95;">
            <div style="position: relative; width: 1100px; margin: 0px auto;">

                <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul id="ecoach-detail" class="nav navbar-nav">
                    <li class="current"><a href="#introduction">产品介绍</a></li>
                    <li><a href="#product">产品特点</a></li>
                    <li><a href="#architecture">系统架构</a></li>
                    <li><a href="#features">特色功能</a></li>
                    <li><a href="#news">新闻报道</a></li>
                    <li><a href="#partners">合作伙伴</a></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="xiha-aboutus-01" id="introduction">
        <div class="xiha-aboutus-div">
            <p style="padding-top: 80px; text-align: center; font-size: 40px; padding-bottom: 40px;">探索互联网+驾考，用心让学车体验更好</p>
            <p style="line-height: 30px; font-size: 18px; text-indent: 4rem; color: #666;">
                “嘻哈电子教练教考系统”简称“电子教练”，是一款辅助教练教学、帮助学员更快、更好、更准确掌握驾驶技能的学车教学系统。“电子教练”希望在改善学车人实际练车体验感同时，也增加学车人接触高科技的机会，降低他们与考驾照时的“数码鸿沟”。
            </p>
            <p style="line-height: 30px; font-size: 18px; text-indent: 4rem; padding-top: 20px; color: #666; padding-bottom: 20px;">
                “电子教练”由安徽国华光电技术有限公司研发，拥有精确的卫星定位系统，能对教练车精确定位并实现与考试系统项目一致的评判功能，它利用车载工控机显示虚拟现实三维电子地图并具备自动化人工智能教学修正功能，具备各种科目练习景象和发声，直观明了的指导学车人进行驾驶技能练习，在指导业务上完全可以替代真人教练，同时它也能记录训练中的练习详情和练习成绩。在科目二实车教学中可以解放教练员的人力资源，也可实现一个真人教练同时管控3-5台教练车进行教学工作，为驾培单位增强教学资源力量、降低驾校运营成本、提高教学质量和考试通过率提供了强大的科技支持。“电子教练”运用虚拟现实及人工智能科技，确保学车人驾驶动作的正确，并实时记录练习过程和播报成绩，学员不仅随车就可以看到练习记录和成绩，而且可以通过嘻哈学车APP查看历史学车详细记录，帮助学员找到不足，提高训练针对性。学车人对此系统特别追崇，都非常乐于跟这位特别的教练进行练车。
            </p>
            <p style="text-align:center;">
                <img src="__PUBLIC__/static/images/ecoach/dianzijiaolian-img.png" style="width:100%;" alt="">
            </p>
        </div>
    </div>
    
    <div class="meihaoxueche_all" id="product" style="height: 800px;">
        <div class="meihaoxueche_div">
            <p style="font-size: 32px; padding-top: 50px;">产品特点</p>
            <p style="font-size: 20px; color: #848484;">互联网学车，便捷、实惠、效率高</p>

            <div class="xuechetiyan_list_all">
                <div class="xuechetiyan_list xuechetiyan_list_hover" style="border: none; height: 370px;">
                    <img src="__PUBLIC__/static/images/ecoach/weixing.png" alt="">
                   
                    <div class="xiha_more" style="display:block; bottom: initial; padding-top: 20px; font-size: 16px; line-height: 30px; padding-left:35px; padding-right: 35px; ">
                            精确的卫星定位系统，能实现与考试车完全一样的考试评判功能
                    </div>
                </div>
                <div class="xuechetiyan_list xuechetiyan_list_hover" style="border: none; height: 370px;">
                    <img src="__PUBLIC__/static/images/ecoach/zhineng.png" alt="">
                   
                    <div class="xiha_more" style="display:block; bottom: initial; padding-top: 20px; font-size: 16px; line-height: 30px; padding-left:35px; padding-right: 35px;">
                        自动化人工智能教学修正功能，具备各种科目练习景象和发声，直观明了的指导学车人进行驾驶技能练习，在指导业务上完全可以替代真人教练
                    </div>
                </div>
                <div class="xuechetiyan_list xuechetiyan_list_hover" style="border: none; height: 370px;">
                    <img src="__PUBLIC__/static/images/ecoach/map.png" alt="">
                   
                    <div class="xiha_more" style="display:block; bottom: initial; padding-top: 20px; font-size: 16px; line-height: 30px; padding-left:35px; padding-right: 35px;">
                        具备虚拟三维电子地图，可以实时呈现教练车在训练场地中的位置
                    </div>
                </div>
                <div class="xuechetiyan_list xuechetiyan_list_hover" style="border: none; height: 370px;">
                    <img src="__PUBLIC__/static/images/ecoach/app.png" alt="">
                   
                    <div class="xiha_more" style="display:block; bottom: initial; padding-top: 20px; font-size: 16px; line-height: 30px; padding-left:35px; padding-right: 35px;">
                        记录训练中的练习详情和练习成绩，不仅可以随车就可以查看，而且可以通过嘻哈学车APP查看历史学车详细记录，提高训练针对性
                    </div>
                </div>
                <div style="clear: both;"></div>

                <div class="xuechetiyan_list xuechetiyan_list_hover" style="border: none; height: 370px;">
                    <img src="__PUBLIC__/static/images/ecoach/internet.png" alt="">
                   
                    <div class="xiha_more" style="display:block; bottom: initial; padding-top: 20px; font-size: 16px; line-height: 30px; padding-left:35px; padding-right: 35px;">
                        运用虚拟显示及人工智能科技，确保学车人驾驶动作的正确
                    </div>
                </div>
                <div class="xuechetiyan_list xuechetiyan_list_hover" style="border: none; height: 370px;">
                    <img src="__PUBLIC__/static/images/ecoach/jiaojie.png" alt="">
                   
                    <div class="xiha_more" style="display:block; bottom: initial; padding-top: 20px; font-size: 16px; line-height: 30px; padding-left:35px; padding-right: 35px;">
                        科目二实车教学中可以解放教练员，实现一个真人教练同时管控３－５台车，为驾培单位增强教学质量，降低运营成本
                    </div>
                </div>
                <div class="xuechetiyan_list xuechetiyan_list_hover" style="border: none; height: 370px;">
                    <img src="__PUBLIC__/static/images/ecoach/money.png" alt="">
                   
                    <div class="xiha_more" style="display:block; bottom: initial; padding-top: 20px; font-size: 16px; line-height: 30px; padding-left:35px; padding-right: 35px;">
                        成本适中，技术服务贴心，系统稳定可靠
                    </div>
                </div>
                <div class="xuechetiyan_list xuechetiyan_list_hover" style="border: none; height: 370px;">
                    <img src="__PUBLIC__/static/images/ecoach/safe.png" alt="">
                   
                    <div class="xiha_more" style="display:block; bottom: initial; padding-top: 20px; font-size: 16px; line-height: 30px; padding-left:35px; padding-right: 35px;">
                        具备主动安全防御功能，防止学员误操作带来的潜在危险
                    </div>
                </div>
                <div style="clear: both;"></div>

            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    
    <div class="xiha-aboutus-02" id="architecture" style="margin-top: 80px;">
        <div class="meihaoxueche_div" style="height: 140px;">
            <p style="font-size: 32px; padding-top: 50px;">系统架构</p>
            <p style="font-size: 20px; color: #848484;">多场景服务电子教练，让学车更轻松</p>
        </div>
        <div class="xiha-aboutus-list-all">
            <div class="xiha-aboutus-list">
                <div class="xiha-aboutus-list-div" style="height: auto; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/changdijiaoxue.png" style="" alt="" />
                </div>
                <p style="margin-top: 30px; font-size: 20px;"></p>
                <p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">
                    动态地图实时场景、语音辅助教学、遇到问题视频通话;<br>
                    精确的卫星定位系统，能实现与考试车完全一样的考试评判功能。
                </p>
            </div>
            <div class="xiha-aboutus-list">
                <div class="xiha-aboutus-list-div" style="height: auto; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/zhongxinguanli.png" alt="" />
                </div>
                <p style="margin-top: 30px; font-size: 20px;"></p>
                <p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">
                    一个真人教练同时管控3-5台教练车，实时掌握3-5个学员练习情况，为驾培单位增强教学资源力量、降低运营成本，提高教学质量和考试通过率。
                </p>
            </div>
            <div class="xiha-aboutus-list">
                <div class="xiha-aboutus-list-div" style="height: auto; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/yunjisuanzhongxin.png" alt="" />
                </div>
                <p style="margin-top: 30px; font-size: 20px;"></p>
                <p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">
                    动态地图实时场景、语音辅助教学、遇到问题视频通话;<br>
                    精确的卫星定位系统，能实现与考试车完全一样的考试评判功能。
                </p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    
    <div class="xiha-aboutus-02" id="features" style="margin-top: 150px;">
        <div class="meihaoxueche_div" style="height: 140px;">
            <p style="font-size: 32px; padding-top: 50px;">特色功能</p>
            <p style="font-size: 20px; color: #848484;">贴心辅助功能，提高学车效率</p>
        </div>
        <div class="xiha-aboutus-list-all">
            <div class="xiha-aboutus-list">
                <div class="xiha-aboutus-list-div" style="height: auto; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/anquan.png" style="" alt="" />
                </div>
                <p style="margin-top: 30px; font-size: 20px; font-weight: bold;">安全辅助系统</p>
                <p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">
                    主动安全防御功能，通过语音提示、主动防御、电子围栏等智能设置，防止学员操作带来的潜在危险
                </p>
            </div>
            <div class="xiha-aboutus-list">
                <div class="xiha-aboutus-list-div" style="height: auto; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/sanweiditu.png" alt="" />
                </div>
                <p style="margin-top: 30px; font-size: 20px; font-weight: bold;">三维动态地图</p>
                <p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">
                    虚拟三维电子地图，可以实时呈现教练车在训练场地中的位置
                </p>
            </div>
            <div class="xiha-aboutus-list">
                <div class="xiha-aboutus-list-div" style="height: auto; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/guiji.png" alt="" />
                </div>
                <p style="margin-top: 30px; font-size: 20px; font-weight: bold;">轨迹记录回放</p>
                <p style="margin: 0px auto; line-height: 26px; font-size: 16px; color: #333; text-align: left; width: 300px;">
                    每次练车的轨迹都有详细记录，可以通过嘻哈学车APP查看学车详细记录，提高训练的针对性
                </p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    
    <div class="xiha-aboutus-02" id="news" style="margin-top: 150px;">
        <div class="meihaoxueche_div" style="height: 140px;">
            <p style="font-size: 32px; padding-top: 50px;">新闻报道</p>
            <p style="font-size: 20px; color: #848484;">权威媒体报道，智能学车浪潮领跑者</p>
        </div>
        <div class="xiha-aboutus-list-all">
            <div class="xiha-aboutus-list" style="width: 50%; height: 120px;">
                <img src="__PUBLIC__/static/images/ecoach/xinlang_title.png" alt="">
               
            </div>
            <div class="xiha-aboutus-list" style="width: 50%; height: 120px;">
                <img src="__PUBLIC__/static/images/ecoach/fenghuang_title.png" alt="">

            </div>
            <div class="xiha-aboutus-list" style="width: 50%; height: 120px;">
                <img src="__PUBLIC__/static/images/ecoach/xinhua_title.png" alt="">
               
            </div>
            <div class="xiha-aboutus-list" style="width: 50%; height: 120px;">
                <img src="__PUBLIC__/static/images/ecoach/jinritoutiao_title.png" alt="">

            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div class="xiha-aboutus-02" id="partners" style="margin-top: 80px;">
        <div class="meihaoxueche_div" style="height: 140px;">
            <p style="font-size: 32px; padding-top: 50px;">合作伙伴</p>
            <p style="font-size: 20px; color: #848484;">战略合作，共创盛举</p>
        </div>
        <div class="xiha-aboutus-list-all">
            <div class="xiha-aboutus-list" style="width: 20%;">
                <div class="xiha-aboutus-list-div" style="height: 70px; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/jinritoutiao.png" style="" alt="" />
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%;">
                <div class="xiha-aboutus-list-div" style="height: 70px; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/weixin.png" alt="" />
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%;">
                <div class="xiha-aboutus-list-div" style="height: 70px; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/zhonganzaixian.png" alt="" />
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%;">
                <div class="xiha-aboutus-list-div" style="height: 70px; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/aliyun.png" alt="" />
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%;">
                <div class="xiha-aboutus-list-div" style="height: 70px; width: auto; ">
                    <img class="xiha-aboutus-original" src="__PUBLIC__/static/images/ecoach/zhifubao.png" alt="" />
                </div>
                
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    
    <div class="meihaoxueche_div" style="height: 140px;">
        <p style="font-size: 32px; padding-top: 50px;">合作驾校</p>
        <p style="font-size: 20px; color: #848484;">与众多的优秀驾校达成战略合作</p>
    </div>
    <div class="xiha-aboutus-02" id="partners" style="margin-top: 0px; background: #5DB75D; height: 300px;">
        <div class="xiha-aboutus-list-all" style="margin-top: 30px;">
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>八一驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>广西省梧州市万达驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>军杰驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>贵定县阳光驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>肇东市万通驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>内蒙古金立驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>石家庄瑞通驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>广州正通驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>晋中众诚驾校</span>
                </div>
                
            </div>
            <div class="xiha-aboutus-list" style="width: 20%; margin-top: 70px;">
                <div class="xiha-aboutus-list-div" style="height: 60px; width: auto; color: #fff; font-size: 20px;">
                    <span>烟台市胜达驾校</span>
                </div>
                
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

</div>
{js href="__PUBLIC__/static/js/swiper.min.js"}
<script>
    $(document).ready(function(){

        $('#ecoach-detail').find('li').on('click', function() {
            $(this).addClass('current').siblings().removeClass('current');
        });
        // $(window).scroll(function() {
        //     console.log($('.xiha_jiakaodaren_all').offsetTop);
        // })
    });
</script>
{include file="index/footer"/}
