<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>教练车辆管理</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>车辆管理<span class="c-gray en">&gt;</span> 教练车辆管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<form method="post" action="{:U('Cars/searchCarsInfo')}" name="search">
		<div class="pd-20">
			<div class=""> 
				<label for="search_name">按车辆类型 </label>
				<select class="" name="car_type" id="car_type" style="width:150px;height:30px">                
					<option  value="" >--不限类型--</option>
					<option  value="1" <if condition = "$car_type eq 1">selected</if>>普通车型</option>
					<option  value="2" <if condition = "$car_type eq 2">selected</if>>加强车型</option>
					<option  value="3" <if condition = "$car_type eq 3">selected</if>>模拟车型</option>
				</select>  
				<label for="search_info">按关键词 </label>
				<select class="" name="search_info" id="search_info" style="width:150px;height:30px">				   
					<option  value="" >--不限关键词--</option>
					<option  value="name" <if condition = "$search_info eq name">selected</if>>车名称</option>
					<option  value="car_no" <if condition = "$search_info eq car_no">selected</if>>车牌号</option>
					<if condition = '$school_id eq 0'>
						<option  value="s_school_name" <if condition = "$search_info eq s_school_name">selected</if>>驾校名称</option>
					</if>
				</select>    
				<input id="s_keyword" class="input-text default size-M" type="text" name="s_keyword" placeholder="车名称、车牌号<if condition='$school_id eq 0'>，驾校名称</if>" style="width:200px;" value="{$s_keyword}"/>
				<input type="submit" id="" class="btn btn-primary size-M default" style="width:100px" value="搜索" />
			</div>
			<br/>
			<div class="cl pd-5 bg-1 bk-gray"> 
				<a href="javascript:;" onclick="addCar('添加车辆', '{: U('Cars/addCar')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加车辆</a> 
				<span class="r">共有车：<strong>{$count}</strong> 辆</span> 
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>	
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="30">ID</th>
							<if condition = "$school_id eq 0">
								<th width="70">驾校名称</th>
							</if>
							<th width="60">车辆名称</th>
							<th width="60">车品牌</th>
							<th width="80">车辆图片</th>
							<th width="90">车辆类型</th>
							<th width="100">车牌号</th>
							<th width="80">添加时间</th>
							<th width="40">操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="carslist" item="obj">
							<tr class="text-c">
								<td class="va-m"><input type="checkbox" value="1" name=""></td>
								<td class="va-m">{$obj.id}</td>
								<if condition = "$school_id eq 0">
									<td class="va-m">{$obj.school_name}</td>
								</if>
								<td class="va-m">{$obj.name}</td>
								<td class="va-m">{$obj.category_name}</td>
								<td class="va-m">
									<volist name="obj.cars_imgurl" id="img" empty="--">
										<a title="预览驾校车辆图片" href="javascript:;" module-id="$obj.id" module-url="{$img.original_imgurl}" module-url-all="{$img.original_imgurl_all}" onclick="show('预览车辆图片','{: U('Cars/showCarsImg')}?id={$obj.id}&school_id={$obj.school_id}&original_imgurl_all={$img.original_imgurl_all}&original_imgurl={$img.original_imgurl}','4','','510')" class="ml-5 text-l" style="text-decoration:none;color:green">
											预览图片
										</a>;
				                	</volist>
								</td>
								<td class="va-m">
									<switch name="obj.car_type">
										<case value="1"><span class="btn btn-success-outline radius">普通车型</span></case>
										<case value="2"><span class="btn btn-danger-outline radius">加强车型</span></case>
										<case value="3"><span class="btn btn-warning-outline radius">模拟车型</span></case>
										<default/>未知车型
									</switch>
								</td>
								<td class="text-center">{$obj.car_number}</td>
								<td class="va-m">{$obj.addtime}</td>
								<td class="va-m td-manage">				
									<a title="删除" href="javascript:;" onclick="javascript:member_del(this,{$obj.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
									<a title="编辑" href="javascript:;" onclick="member_edit('编辑车辆','{: U('Cars/editCar')}?id={$obj.id}&school_id={$obj.school_id}&car_cate_id={$obj.car_cate_id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
								</td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
			<div class="page pagination" >
				<empty name="count">
					<br/><strong>暂无列表</strong><br/><br/><br/>
				</empty>
				<p>{$page}</p>
			</div>
		</div>
	</form>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script>  -->
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>  -->
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript">
/*图片预览*/
	function show(title,url,id,w,h){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
/*用户-添加*/
	function addCar(title,url){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}

/*用户-编辑*/
	function member_edit(title,url,id,w,h){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);

	}
/*用户-删除*/
	function member_del(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			$.ajax({
				type:"POST",
				url:"__URL__/delCars",
				data:{'id':id},
				dataType:'JSON',
				success:function(data) {
					if(data.code == 200) {
						$(obj).parents("tr").remove();
						layer.msg('已删除!',{icon:1,time:1000});
					} else {
						layer.msg('删除失败!',{icon:2,time:1000});
					}
				},
				error:function() {
					layer.msg('网络错误，请检查网络!',{icon:2,time:1000});	
				}
			});
		});
	}
</script> 
</body>
</html>