	{js href="__PUBLIC__/static/js/juicer-min.js"}
	{js href="__PUBLIC__/static/js/swiper.min.js"}
	{js href="__PUBLIC__/static/js/juicer-min.js"}
	{js href="__PUBLIC__/static/js/light7.min.js"}
	{js href="__PUBLIC__/static/js/i18n/cn.min.js"}	
	{js href="__PUBLIC__/static/js/jquery.lazyload.min.js"}
    <script src="http://webapi.amap.com/maps?v=1.3&key=d061a6fc0a3f2f63781eb0c4db17dc47&plugin=AMap.CitySearch"></script>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
	<script src="__PUBLIC__/static/js/index/article.js?={$r}"></script>
</body>
</html>
