<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title class="xiha_title">{$title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<META HTTP-EQUIV="Pragma" CONTENT="no-cache">    
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">    
	<META HTTP-EQUIV="Expires" CONTENT="0">-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="嘻哈学车是一款免费的学车手机APP，以“促公平、节时间、省金钱、易学车”为出发点和落脚点；“网上学车，让学车更轻松、更便捷”理念吸引大量用户。APP可实现在线报名、在线支付等功能。学员能就近找到最近、最合适的教练。学员可以随时随地练车。使用“嘻哈学车”APP的学员，可一人一车享受专车接送，实行计时收费。" />
    <meta name="keywords" content="嘻哈学车APP|安徽嘻哈网络技术有限公司|驾驶人学车APP|驾驶人自学自考学车APP|学员自主预约报名学员APP|学车APP|学车软件|考驾照软件 IOS版 安卓版 " /> {js href="__PUBLIC__/static/js/jquery.min.js"}
    <script src="__PUBLIC__/static/js/index/index.js?s={$r}"></script>
    <!-- {css href="__PUBLIC__/static/css/mui.min.css" /} -->
    {css href="__PUBLIC__/static/css/light7.min.css" /}
    <link rel="stylesheet" href="__PUBLIC__/static/css/app.css?s={$r}">
    <!-- {css href="__PUBLIC__/static/css/app.css" /} -->
    <!-- {css href="__PUBLIC__/static/fonts/iconfont/iconfont.css" /} -->
    {css href="__PUBLIC__/static/font/iconfont/iconfont.css" /} {css href="__PUBLIC__/static/css/swiper.min.css" /}
    <!-- {js href="__PUBLIC__/static/js/mui.min.js"} -->

    <!--<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>-->
    <!--<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=d061a6fc0a3f2f63781eb0c4db17dc47"></script>-->
    <script>
        var _public = "__PUBLIC__";
        var api_url = "{$Think.API_URL}";
        var site_url = "{$Think.SITE_URL}";
        var device = "{$device}";
        var token = "{$token}";
    </script>
    {js href="__PUBLIC__/static/js/index/location.js"}
    <script src="__PUBLIC__/static/js/index/coupon.js?s={$r}"></script>
</head>

<body>