<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/pintuer.css">
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>广告列表</title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>广告管理<span class="c-gray en">&gt;</span> 广告列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<br>
      <form method="post" action="{:U('Ads/addAdsManage')}" >
		<div class="pd-20">
			<div class="cl pd-5 bg-1 bk-gray"> <a href="javascript:;" onclick="addAdsManage('添加广告','{: U('Ads/addAdsManage')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加广告</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
			<div class="mt-20">
			<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>	
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="35">ID</th>
						<th width="50" >
							排序
							<span class="tips icon-exclamation-circle" style="color:#f60; cursor:pointer;" data-toggle="hover" data-place="right" title="鼠标双击排序表格有意外惊喜哦"></span>
						</th>
						<if condition="$publisher_id eq 0">
							<th width="60">发布者</th>
						</if>
						<th width="100">标题</th>
						<th width="100">描述</th>
						<th width="80">场景</th>
						<th width="100">发布区域</th>
						<th width="80">展示形式</th>
						<th width="80">可招租数</th>
						<th width="80">设备类型</th>
						<th width="80">订单数量</th>
						<th width="80">有效时间</th>
						<th width="60">发布时间</th>
						<th width="50">操作</th>
					</tr>
				</thead>
				<tbody>
				 <foreach name="ads_info" item="obj">
					<tr class="text-c" module-data="{$obj.id}">
						<td class="va-m"><input type="checkbox" value="{$obj.id}" name=""></td>
						<td class="va-m">{$obj.id}</td>
						<td class="va-m changable" data-field="sort_order">
							<span>{$obj.sort_order}</span>
							<input class="input-text " value="{$obj.sort_order}" style="display:none" name="sort_order" type="text" style="text-align:center;border-radius:5px;">
						</td>
						<if condition="$publisher_id eq 0">
							<td class="va-m">{$obj.s_school_name}</td>
						</if>
						<td class="va-m">{$obj.ads_title}</td>
						<td class="va-m">{$obj.ads_intro}</td>
						<td class="va-m">{$obj.scene}</td>
						<td class="va-m">{$obj.province}{$obj.city}{$obj.area}</td>
						<td class="va-m">{$obj.resource_type_name}</td>
						<td class="va-m">{$obj.limit_num} 条</td>
						<td class="va-m">
							<switch name="obj.device">
								<case value="1"><span class="btn btn-success-outline radius">苹果</span></case>
								<case value="2"><span class="btn btn-secondary-outline radius">安卓</span></case>
								<case value="1,2"><span class="btn btn-warning-outline radius">苹果|安卓</span></case>
								<default/><span class="btn btn-default-outline radius">其它设备</span>
							</switch>
						</td>
						<td class="va-m">{$obj.order_number}</td>
						<td class="va-m">{$obj.limit_time}s</td>
						<td class="va-m">{$obj.add_time}</td>
						<td class="va-m td-manage">
							<a title="删除" href="javascript:;" onclick="member_del(this,{$obj.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
							<a title="编辑" href="javascript:;" onclick="member_edit('编辑广告信息','{: U('Ads/editAdsManage')}?id={$obj.id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
						</td>
					</tr>
				 </foreach>

				</tbody>
			</table>
			</div>
		</div>
		<div class="page pagination" style="display:inline;">
			<empty name="count">
			<br /><strong style="display:block;">暂无广告列表</strong><br /><br /><br />
			</empty>
			<p style="text-align:center">{$page}</p>
		</div>
	</div>
</form>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script>  -->
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>  -->
<script type="text/javascript">
// 鼠标双击排序表格事件
$('td.changable').dblclick(function() {
	var s = $(this).find('span');
	var i = $(this).find('input');
	s.css('display', 'none');
    i.css('display', 'inline-block').css('text-align', 'center').css('border-radius', '5px');
    i.focus();
}); 
$('td.changable input').blur(function () {
	var s = $(this).parent().find('span');
	var i = $(this).parent().find('input');
	var mid = $(this).parent().parent().attr('module-data');
	var field = $(this).parent().attr('data-field');
	var order = $(this).val();
	s_params = '{"id":' + '"' + mid + '"' + ',"' + field + '":"' + order + '"' + '}';
	j_params = JSON.parse(s_params);
	$.ajax({
		type: "post",
		url: "__URL__/changeAdsOrder",
		data: j_params,
		dataType:'JSON',
		success:function(data) {
			 if(data.code == 200) {
                layer.tips(data.msg, s, {time: 1000, tips:[2, '#00CD66']});
                s.html(order);
            } else if ( data.code == 105 ) {
                i.val(s.html());
                layer.tips('未做任何修改', s, {time: 1000});
            } else {
                i.val(s.html());
                layer.tips(data.msg, s, {time: 1000});
            }
			
		},
		error:function() {
			i.val(s.html());
			layer.msg('网络错误，请检查网络!',{icon:2,time:1000});	
		}
	});

	i.css('display', 'none');
    s.css('display', 'inline');
});

// $(function() {
// 	$('.setAdsOrder input').blur(function () {
// 		var mid = $(this).parent().parent().attr('module-data');
// 		var order = $(this).val();
// 		$.ajax({
// 			type: "post",
// 			url: "__URL__/setAdsOrder",
// 			data: {'sort_order' : order, 'id' : mid},
// 			dataType:'JSON',
// 			success:function(data) {
// 				if(data.code == 200) {
// 					layer.msg('排序设置成功!',{icon:1,time:1000});
// 					location.reload();
// 				} else {
// 					layer.msg('排序设置失败!',{icon:2,time:1000});
// 				}
// 			},
// 			error:function() {
// 				layer.msg('网络错误，请检查网络!',{icon:2,time:1000});	
// 			}
// 		})
// 	});
// })
/*用户-添加*/
function addAdsManage (title,url) {
	// layer_show(title,url);
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*用户-查看*/
function member_show(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);

}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type:"POST",
			url:"__URL__/delAdsManage",
			data:{'id':id},
			dataType:'JSON',
			success:function(data) {
				if(data.code == 200) {
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				} else {
					layer.msg('删除失败!',{icon:2,time:1000});
				}
					
			},
			error:function() {
				layer.msg('网络错误，请检查网络!',{icon:2,time:1000});	
			}
		});
	});
}
</script> 
</body>
</html>
