<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>广告位列表</title>
</head>
<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>广告管理<span class="c-gray en">&gt;</span> 广告位列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<form method="post" action="" name="search">
		<div class="pd-20">
			<div class="cl pd-5 bg-1 bk-gray"> <a href="javascript:;" onclick="addAdsPosition('添加广告位','{: U('Ads/addAdsPosition')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加广告位</a> <span class="r">共有广告位：<strong>{$count}</strong> 条</span> </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>	
						<tr class="text-c">
							<th width="50">ID</th>
							<th width="100">简短标题</th>
							<th width="400">基本描述</th>
							<th width="100">添加时间</th>
							<th width="60">操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="ads_positions" item="obj">
							<tr class="text-c va-m">
								<td class="va-m">{$obj.id}</td>
								<td class="va-m">{$obj.title}</td>
								<td class="va-m">{$obj.description}</td>
								<td class="va-m">{$obj.addtime}</td>
								<td class="va-m td-manage">				
									<a title="删除" href="javascript:;" onclick="javascript:ads_del(this,{$obj.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
									<a href="javascript:;" onclick="editAdsPosition('编辑广告位','{: U('Ads/editAdsPosition')}',{$obj.id})" class="ml-5"><i class="Hui-iconfont">&#xe6df;</i></a> 
								</td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
		</div>
		<div class="page pagination" style="display:inline;">
			<empty name="count">
				<br /><strong style="display:block;">暂无列表</strong><br /><br /><br />
			</empty>
			<p style="text-align:center">{$page}</p>
		</div>
	</form>
<!-- <footer class="footer">
	 <p>Copyright &copy;2015 安徽嘻哈网路技术有限公司 All Rights Reserved.<br>
    本后台系统由<a href="http://www.xihaxueche。com/" target="_blank" title="嘻哈学车">嘻哈网路技术有限公司</a>提供技术支持</p>
</footer>   -->
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript">

/*广告-添加*/
function addAdsPosition(title,url){
	// layer_show(title,url);
	var index = layer.open({
		type: 2,
		title: title,
		area:['500px','500px'],
		content: url,
		shade : 0,
		moveType: 1
	});
	// layer.full(index);
}

/*广告-编辑*/
function editAdsPosition(title,url,id){
	// layer_show(title,url);
	var index = layer.open({
		type: 2,
		title: title,
		area:['500px','500px'],
		content: "__URL__/editAdsPosition/id/"+id,
		shade : 0,
		moveType: 1
	});
	// layer.full(index);
}

/*广告-删除*/
function ads_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type:"POST",
			url:"__URL__/delAdsPosition",
			data:{'id':id},
			dataType:'JSON',
			success:function(data) {
				if(data.code == 200) {
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				} else {
					layer.msg('删除失败!',{icon:2,time:1000});
				}
					
			},
			error:function() {
				layer.msg('网络错误，请检查网络!',{icon:2,time:1000});	
			}
		});
	});
}
</script> 
</body>
</html>