<!--{include file="library/header.lbi"}-->
<div class="tab-body" style="">
	<div class="tab-panel active">
        <div class="panel-head" style="position:fixed; width:100%; top:0px; z-index:9999; "><a href="index.php?action=member&op=index" class=""><strong>返回会员列表 >></strong></a></div>
	</div>
	<br />
	<div class="tab" style="margin-top:30px;"> 
		<div class="tab-head border-main"> 
			<ul class="tab-nav"> 
				<li <!--{if $type == 'appoint'}-->class="active"<!--{/if}-->>
					<a href="index.php?action=member&op=show&type=appoint&id=<!--{$member_id}-->">预约学车</a>
				</li> 
				<li <!--{if $type == 'signup'}-->class="active"<!--{/if}-->>
					<a href="index.php?action=member&op=show&type=signup&id=<!--{$member_id}-->">报名驾校</a>
				</li> 
				<li <!--{if $type == 'exam'}-->class="active"<!--{/if}-->>
					<a href="index.php?action=member&op=show&type=exam&id=<!--{$member_id}-->">在线模拟</a>
				</li> 
			</ul> 
			</ul> 
		</div>
		<div class="tab-body" style="padding-top:10px;"> 
			<!-- 信息展示 -->
			<div class="tab-panel form-x active">
				<form action="index.php?action=member&op=show" method="post" onSubmit="return searchcheck();">
				        <table class="table table-bordered table-hover">
				            <tr>
				                <th width="40">选择</th>
				                <th width="45">ID</th>
				                <th width="100">牌照</th>
				                <th width="100">考试科目</th>
				                <th width="100">考试用时</th>
				                <th width="150">交卷时间</th>
				                <th width="100">考试成绩</th>
				            </tr>
				            <!-- 循环列表 -->
				            <!--{if $memberinfo['orderlist']}-->
				            <!--{foreach $memberinfo['orderlist'] as $key => $value}-->
				            <tr class="memberlist">
				                <td><input type="checkbox" name="member_id[]" id="checkbox_<!--{$key}-->" class="school_check" value="<!--{$value.record_id}-->" /></td>
				                <td><!--{$value.record_id}--></td>
				                <td><!--{$value.license}--></td>
				                <td><!--{$value.subject}--></td>
				                <td><!--{$value.exam_use_time}--></td>
				                <td><!--{$value.adddate}--></td>
				                <td><!--{$value.score}--></td>
				            </tr>
				            <!--{/foreach}-->
				            <!--{else}-->
				                <tr><td colspan="7" style="text-align: center;">暂无模拟考试记录</td></tr>
				            <!--{/if}-->
				        </table>

				        <!-- 分页 -->
				        <div class="panel-foot text-right">
				            <!-- {$pagehtml} -->
                            <p>亲，只能查看最新的10条模拟考试记录哦!</p>
				        </div>
				    </div>
				</form>
			</div>
		</div>
	</div>

</div>
<script>
	// 跳转页面
	$('#skipping').click(function() {
	    $(this).html('跳转中...');
	    var selectpage = $('#selectpage').find('option:selected').val();
	    location.href="index.php?action=<!--{$action}-->&op=<!--{$op}-->&type=<!--{$type}-->&conditiontype=<!--{$conditiontype}-->&id=<!--{$member_id}-->&page="+selectpage;
	})
</script>

<!--{include file="library/footer.lbi"}-->
