<extend name="Public:common" />
<block name="main">
<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<if condition="$user_id neq 17" >
			<dl id="menu-excel">
				<dt><i class="Hui-iconfont">&#xe667;</i> 知识库管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a _href="{: U('Ghzsk/index')}"  data-title="知识库列表" href="javascript:void(0)"><i class="Hui-iconfont menu_dropdown-arrow">&#xe667;知识库列表</a></li>
					</ul>
				</dd>
			</dl>
		</if>

		<if condition="$group_id eq 1 AND $user_id neq 17" >
			<dl id="menu-excel">
				<dt><i class="Hui-iconfont">&#xe667;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a _href="{: U('Manager/index')}"  data-title="用户列表" href="javascript:void(0)"><i class="Hui-iconfont menu_dropdown-arrow">&#xe667;用户列表</a></li>
					</ul>
				</dd>
			</dl>
		</if>
		<if condition="$group_id eq 1 " >
			<dl id="menu-excel">
				<dt><i class="Hui-iconfont">&#xe667;</i> 车载注册管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a _href="{: U('Secretkey/index')}"  data-title="车载注册列表" href="javascript:void(0)"><i class="Hui-iconfont menu_dropdown-arrow">&#xe667;车载注册列表</a></li>
					</ul>
				</dd>
			</dl>
		</if>
</aside>
<div class="dislpayArrow"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active"><span title="欢迎来到国华知识库" data-href="{:U('Index/welcome')}">欢迎来到国华知识库</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<!-- <iframe scrolling="yes" frameborder="0" src="{: U('Index/welcome')}"></iframe> -->
			<iframe scrolling="yes" frameborder="0" src="{:U('Index/welcome')}"></iframe>
		</div>
	</div>
</section>
</block>
