<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>建材列表</title>
</head>
<body class="">
<!-- <div class="pos-a" style="width:150px;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5">
	<ul id="treeDemo" class="ztree">
	</ul>
</div> -->
<div class="pd-20">
<div style="text-align:center">
	 <!-- <p class="f-20 text-success">安徽国华光电知识库管理系统<span class="f-14">V1.0</span></p> -->
</div>

<!-- 为ecahrts准备一个具备大小的dom --> 
<div id="main" style="height:400px; min-width:600px;">
    <div>
        <div style="width:300px;;border:0px solid #ccc;margin:100px auto; text-align:center;color:green"><h2 style="">欢迎来到安徽国华光电</h2><h2>知识库管理系统</h2></div>
    </div>
</div>


<footer class="footer">
 <p>Copyright &copy;2016 安徽国华光电知识库管理系统 All Rights Reserved.<br>
    本后台系统由<a href="http://www.xihaxueche。com/" target="_blank" title="嘻哈学车">安徽国华光电知识库管理系统</a>提供技术支持</p>
</footer>        
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script>
 <!--echarts单文件引入/引入echarts类库  -->
<script type="text/javascript"src="__PUBLIC__/Admin/assets/echarts-2.2.7/build/dist/echarts.js"></script>
<!-- 绘制数据表，首先配置路径，接着使用Echarts开始绘图 -->
<script type="text/javascript">
         
</script>
</body>
</html>