<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>城市列表</title>
<style type="text/css">
	.appurl a:hover {
		color: blue;
		text-decoration: none;
	}
</style>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>城市管理<span class="c-gray en">&gt;</span> 城市列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<form method="post" action="{:U('City/searchCityList')}" name="search">
		<div class="pd-20">
			<div class=""> 
				<label for="search_info">按关键词</label>
				<select class="" name="search_info" id="search_info" style="width:150px;height:30px">                
					<option  value="">--不限关键词--</option>
					<option style="" value="province" <if condition = "$search_info eq province">selected</if>>省份</option>
					<option style="" value="city" <if condition = "$search_info eq city">selected</if>>城市</option>
					<option style="" value="area" <if condition = "$search_info eq area">selected</if>>地区</option>
					<option style="" value="area_id" <if condition = "$search_info eq area_id">selected</if>>地区ID</option>
					<!-- <option style="" value="id" <if condition = "$search_info eq id">selected</if>>城市ID</option> -->
				</select> 
				<input id="s_keyword" class="input-text default size-M" type="text" name="s_keyword" placeholder="省份，城市，地区，地区ID" style="width:300px;" value="{$s_keyword}"/>   
				<input type="submit" id="" class="btn btn-primary size-M default" style="width:100px" value="搜索" />
			</div>
			<br/>
			<div class="cl pd-5 bg-1 bk-gray"> 
				<a href="javascript:;" onclick="addCity('新增城市','{: U('City/addCity')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加城市</a> 
				<span class="r">共有城市：<strong>{$count}</strong> 个</span> </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>	
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="40">地区ID</th>
							<!-- <th width="40">城市ID</th> -->
							<th width="100">地区</th>
							<th width="100">城市</th>
							<th width="100">省份</th>
							<th width="80">市首字母</th>
							<th width="80">市全拼</th>
							<th width="50">热门？</th>
							<th width="40">操作</th>
						</tr>
					</thead>
					<tbody>
					 <foreach name="citylist" item="obj">
						<tr class="text-c">
							<td class="va-m"><input type="checkbox" value="1" name=""></td>
							<td class="va-m">{$obj.area_id}</td>
							<!-- <td class="va-m">{$obj.id}</td> -->
							<td class="va-m">{$obj.area}（{$obj.areaid}）</td>
							<td class="va-m">{$obj.city}（{$obj.cityid}）</td>
							<td class="va-m">{$obj.province}（{$obj.provinceid}）</td>
							<td class="va-m">{$obj.leter}</td>
							<td class="va-m">{$obj.spelling}</td>
							<td class="va-m setHotCity">
	                            <switch name="obj.is_hot">
	                                <case value="1"><span data-id="{$obj.id}" title="1" class="btn btn-success size-S radius">是</span></case>
	                                <case value="2"><span data-id="{$obj.id}" title="2" class="btn btn-danger size-S radius">否</span></case>
	                                <default /><span data-id="{$obj.id}" class="btn btn-danger size-S radius">其他</span>
	                            </switch>
	                        </td>
							<td class="va-m td-manage">				
								<a title="删除" href="javascript:;" onclick="javascript:member_del(this,{$obj.aid})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
								<a title="编辑" href="javascript:;" onclick="member_edit('编辑城市信息','{: U('City/editCity')}?aid={$obj.aid}&id={$obj.id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
							</td>
						</tr>
					 </foreach>
					</tbody>
				</table>
			</div>
			<div class="page pagination" style="">
				<empty name="count">
					<br /><strong>暂无列表</strong><br /><br /><br />
				</empty>
				<p>{$page}</p>
			</div>
		</div>
	</form>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript">
// 设置城市的热门状态
	$('.setHotCity span').click(function() {
        var sid = $(this).attr('data-id');
        var status = $(this).attr('title');
        switch(status){
          case '1': status = 2; break;
          case '2': status = 1; break;
        }
        $.ajax({
            type:"POST",
            url:"{:U('City/setHotCity')}",
            data: {'id':sid, 'status':status},
            dataType: "JSON",
            success: function(data){
                if(data.code == 200){
                   location.reload();
                } else {
                    layer.msg(data.msg,{icon:2,time:1000});
                }
             },
             error: function(){
                layer.msg('网络错误，请检查网络!',{icon:2,time:1000});
             }
         })
    });

	/*用户-添加*/
	function addCity(title,url){
		// layer_show(title,url);
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}

	/*用户-编辑*/
	function member_edit(title,url,id,w,h){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);

	}

	/*用户-删除*/
	function member_del(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			$.ajax({
				type:"POST",
				url:"__URL__/delCity",
				data:{'id':id},
				dataType:'JSON',
				success:function(data) {
					if(data.code == 200) {
						$(obj).parents("tr").remove();
						layer.msg('已删除!',{icon:1,time:1000});
					} else {
						layer.msg('删除失败!',{icon:2,time:1000});
					}
				},
				error:function() {
					layer.msg('网络错误，请检查网络!',{icon:2,time:1000});	
				}
			});
		});
	}
</script> 
</body>
</html>