{include file="index/header"/}
<div class="page" id="mymessage">
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left back" href="{:url('/ucenter', ['token'=>$token, 'device'=>$device])}">
      <span class="icon icon-left"></span>
  		返回
    </a>
    <h1 class='title'>{$title}</h1>
  </header>
	<div class="buttons-tab message-tab">
    <a href="#tab1" class="tab-link active button">系统消息</a>
    <a href="#tab2" class="tab-link button">订单消息</a>
  </div>
  <div class="content" style="margin-top: 2rem;">
	  <div class="tabs">
      <div id="tab1" class="tab active">
      	<!--tab1 content-->
	      <!--消息列表-->
				<div class="list-block" style="margin-top:0px; margin-bottom: 0px;">
		    	<ul style="border: none;">
			      <li class="item-content" style="background: #F6F6F6;">
	      			<!--<div class="content-block-title">简单卡片</div>-->
			        <div class="item-inner">
			          <div class="item-title"></div>
			          <div class="item-after" style="color: #999; font-size: 0.8rem;"><i class="iconfont">&#xe64b;</i> 2019-9-10 12:32</div>
			        </div>
			      </li>
			      <li>
			      	<div class="card" style="margin:0px; box-shadow: none;">
						    <div class="card-header" style="font-weight: bold;">嘻哈学车网上报名优惠限时抢购活动进行中</div>
						    <div class="card-content">
						      <div class="card-content-inner" style="padding: 0.5rem;">
						      	<a href="{:url('/test')}">
						      		<img src="__PUBLIC__/static/images/ucenter-mymessage-banner-01.png" style="width: 100%;" alt="" />
						      	</a>
						      </div>
						    </div>
						    <div class="card-footer" style="height: 50px;">
						      <a class="link">在驾校平台可享受直减优惠...</a>
						      <a href="{:url('/test')}" class="item-content ">
						      	<div class="item-inner" style="margin-right: -1rem;">
						          <div class="item-title"></div>
						          <div class="item-after" style="color: #999;">查看 <i class="icon icon-right"></i></div>
						        </div>
						      </a>
						    </div>
						  </div>
			      </li>
		      </ul>
      	</div>
      	
      	<div class="list-block" style="margin-top:0px; margin-bottom: 0px;">
		    	<ul style="border: none;">
			      <li class="item-content" style="background: #F6F6F6;">
	      			<!--<div class="content-block-title">简单卡片</div>-->
			        <div class="item-inner">
			          <div class="item-title"></div>
			          <div class="item-after" style="color: #999; font-size: 0.8rem;"><i class="iconfont">&#xe64b;</i> 2019-9-10 12:32</div>
			        </div>
			      </li>
			      <li>
			      	<div class="card" style="margin:0px; box-shadow: none;">
						    <div class="card-header" style="font-weight: bold;">嘻哈学车网上报名优惠限时抢购活动进行中</div>
						    <div class="card-content">
						      <div class="card-content-inner" style="padding: 0.5rem;">
						      	<a href="{:url('/test')}">
						      		<img src="__PUBLIC__/static/images/ucenter-mymessage-banner-01.png" style="width: 100%;" alt="" />
						      	</a>
						      </div>
						    </div>
						    <div class="card-footer" style="height: 50px;">
						      <a class="link">在驾校平台可享受直减优惠...</a>
						      <a href="{:url('/test')}" class="item-content ">
						      	<div class="item-inner" style="margin-right: -1rem;">
						          <div class="item-title"></div>
						          <div class="item-after" style="color: #999;">查看 <i class="icon icon-right"></i></div>
						        </div>
						      </a>
						    </div>
						  </div>
			      </li>
		      </ul>
      	</div>
      	
      	<div class="list-block" style="margin-top:0px; margin-bottom: 0px;">
		    	<ul style="border: none;">
			      <li class="item-content" style="background: #F6F6F6;">
	      			<!--<div class="content-block-title">简单卡片</div>-->
			        <div class="item-inner">
			          <div class="item-title"></div>
			          <div class="item-after" style="color: #999; font-size: 0.8rem;"><i class="iconfont">&#xe64b;</i> 2019-9-10 12:32</div>
			        </div>
			      </li>
			      <li>
			      	<div class="card" style="margin:0px; box-shadow: none;">
						    <div class="card-header" style="font-weight: bold;">嘻哈学车网上报名优惠限时抢购活动进行中</div>
						    <div class="card-content">
						      <div class="card-content-inner" style="padding: 0.5rem;">
						      	<a href="{:url('/test')}">
						      		<img src="__PUBLIC__/static/images/ucenter-mymessage-banner-01.png" style="width: 100%;" alt="" />
						      	</a>
						      </div>
						    </div>
						    <div class="card-footer" style="height: 50px;">
						      <a class="link">在驾校平台可享受直减优惠...</a>
						      <a href="{:url('/test')}" class="item-content ">
						      	<div class="item-inner" style="margin-right: -1rem;">
						          <div class="item-title"></div>
						          <div class="item-after" style="color: #999;">查看 <i class="icon icon-right"></i></div>
						        </div>
						      </a>
						    </div>
						  </div>
			      </li>
		      </ul>
      	</div>
      	
      </div>
      <div id="tab2" class="tab">
        <div class="content-block">
          <p>This is tab 2 content</p>
        </div>
      </div>
	      
    </div>
	  
	</div>
</div>
{include file="index/footer"/}