<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
    <link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>时间模板列表</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>教练管理<span class="c-gray en">&gt;</span> 时间模板列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <form method="post" action="{:U('Coach/searchTimeConfTemp')}" name="search">
        <div class="pd-20">
            <div class="">
                <label for="search_info">按关键词</label>
                <select class="" name="search_info" id="search_info" style="width:150px;height:30px">                  
                <option value="">--不限关键词--</option>   
                <option value="temp_name" <if condition="$search_info eq temp_name">selected</if> >模板种类</option>
                <option value="temp_owner_name" <if condition="$search_info eq temp_name">selected</if> >模板所属者</option>
                <option value="lesson_time" <if condition="$search_info eq lesson_time">selected</if> >课程时间</option>
                <option value="lesson_name" <if condition="$search_info eq lesson_name">selected</if> >课目名称</option>
                <option value="max_user_num" <if condition="$search_info eq max_user_num">selected</if> >预约人数</option>
            </select>
                <input type="text" value="{$s_keyword}" name="s_keyword" placeholder="模板种类，课程时间，科目名称，预约人数" class="input-text default size-M" style="width:300px">
                <input type="submit" id="search_stu_comment_tea" class="btn btn-primary size-M default" style="width:100px" value="搜索" />
            </div>

            <div class="cl pd-5 bg-1 bk-gray mt-20"><a href="javascript:;" onclick="addTimeConfTemp('添加时间模板','{: U('Coach/addTimeConfTemp')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加时间模板 </a><span class="r">共有数据：<strong>{$count}</strong>条</span> </div>
            <div class="mt-20">

                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <th width="30">ID</th>
                            <th width="100">模板种类</th>
                            <th width="80">开始时间</th>
                            <th width="80">结束时间</th>
                            <th width="80">课程时间(小时)</th>
                            <th width="100">科目名称</th>
                            <th width="100">牌照名称</th>
                            <th width="80">价格(元)</th>
                            <th width="80">预约人数(max)</th>
                            <th width="100">添加时间</th>
                            <th width="100">最近时间</th>
                            <th width="60">在线？</th>
                            <th width="60">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach name="timeconftemplist" item="obj">
                            <tr class="text-c">
                                <td><input type="checkbox" value="1" name=""></td>
                                <td>{$obj.id}</td>
                                <td>{$obj.temp_name}({$obj.temp_owner_name})</td>
                                <td>{$obj.start_time}</td>
                                <td>{$obj.end_time}</td>
                                <td>{$obj.lesson_time}小时</td>
                                <td>{$obj.lesson_name}</td>
                                <td>{$obj.license_name}</td>
                                <td>￥{$obj.price}元</td>
                                <td>{$obj.max_user_num}人</td>
                                <td>{$obj.addtime}</td>
                                <td>{$obj.updatetime}</td>
                                <td class="setonlinestatus">
                                    <switch name="obj.is_online">
                                        <case value="1"><span data-id="{$obj.id}" title="1" class="btn btn-success size-S radius">在线</span></case>
                                        <case value="2"><span data-id="{$obj.id}" title="2" class="btn btn-danger size-S radius">不在线</span></case>
                                        <default /><span data-id="{$obj.id}" class="btn btn-default size-S radius">不在线</span>
                                    </switch>
                                </td>
                                <td class="td-manage">
                                    <a title="删除" href="javascript:;" onclick="javascript:member_del(this,{$obj.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                    <a title="编辑" href="javascript:;" onclick="member_edit('编辑时间模板信息','{: U('Coach/editTimeConfTemp')}?id={$obj.id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                </td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>
            </div>
            <div class="page pagination" style="">
                <empty name="count">
                    <br /><strong>暂无列表</strong><br /><br /><br />
                </empty>
                <p>{$page}</p>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script>
    <script type="text/javascript">
        /**
         * 设置状态
         *
         * @return  void
         * @author  wl
         * @date    Oct 20, 2016
         **/
        $('.setonlinestatus span').click(function() {
            var sid = $(this).attr('data-id');
            var status = $(this).attr('title');
            switch (status) {
                case '2':
                    status = 1;
                    break;
                case '1':
                    status = 2;
                    break;
            }
            $.ajax({
                type: "POST",
                url: "{:U('Coach/setTimeTempOnline')}",
                data: {
                    'id': sid,
                    'status': status
                },
                dataType: "JSON",
                success: function(data) {
                    if (data.code == 200) {
                        location.reload();
                    } else {
                        layer.msg(data.msg, {
                            icon: 2,
                            time: 1000
                        });
                    }
                },
                error: function() {
                    layer.msg('网络错误，请检查网络!', {
                        icon: 2,
                        time: 1000
                    });
                }
            })
        });

        /*用户-添加*/
        function addTimeConfTemp(title, url) {
            // layer_show(title,url);
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }

        // 预览用户信息
        function member_show(title, url, id, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*用户-停用*/
        function member_stop(obj, id) {
            layer.confirm('确认要停用吗？', function(index) {
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                $(obj).remove();
                layer.msg('已停用!', {
                    icon: 5,
                    time: 1000
                });
            });
        }

        /*用户-启用*/
        function member_start(obj, id) {
            layer.confirm('确认要启用吗？', function(index) {
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                $(obj).remove();
                layer.msg('已启用!', {
                    icon: 6,
                    time: 1000
                });
            });
        }
        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);

        }
        /*密码-修改*/
        function change_password(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function(index) {
                $.ajax({
                    type: "POST",
                    url: "__URL__/delTimeConfTemp",
                    data: {
                        'id': id
                    },
                    dataType: 'JSON',
                    success: function(data) {
                        // alert(data);
                        if (data.code == 200) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', {
                                icon: 1,
                                time: 1000
                            });
                        } else {
                            layer.msg('删除失败!', {
                                icon: 2,
                                time: 1000
                            });
                        }

                    },
                    error: function() {
                        layer.msg('网络错误，请检查网络!', {
                            icon: 2,
                            time: 1000
                        });
                    }
                });
            });
        }
    </script>
</body>

</html>