<div class="drive-lesson-all">
	<div class="row" style="text-align: center;">
		<div class="col-20">
			<a class="no-transition" {if condition="$lesson_id neq 1"}href="{:url('/drive', ['l'=>1,'device'=>$device])}"{/if}><img src="__PUBLIC__/static/images/drive-lesson1-logo.png" style="width:35px" alt="" /></a>
		</div>
		<div class="col-20">
			<a class="no-transition" {if condition="$lesson_id neq 2"}href="{:url('/drive', ['l'=>2,'device'=>$device])}"{/if}><img src="__PUBLIC__/static/images/drive-lesson2-logo.png" style="width:35px" alt="" /></a>
		</div>
		<div class="col-20">
			<a class="no-transition" {if condition="$lesson_id neq 3"}href="{:url('/drive', ['l'=>3,'device'=>$device])}"{/if}><img src="__PUBLIC__/static/images/drive-lesson3-logo.png" style="width:35px" alt="" /></a>
		</div>
		<div class="col-20">
			<a class="no-transition" {if condition="$lesson_id neq 4"}href="{:url('/drive', ['l'=>4,'device'=>$device])}"{/if}><img src="__PUBLIC__/static/images/drive-lesson4-logo.png" style="width:35px" alt="" /></a>
		</div>
		<div class="col-20">
			<a class="no-transition" {if condition="$lesson_id neq 5"}href="{:url('/drive', ['l'=>5,'device'=>$device])}"{/if}><img src="__PUBLIC__/static/images/drive-graduation-logo.png" style="width:35px" alt="" /></a>
		</div>
		
	</div>
</div>