<!--{include file="library/header.lbi"}-->
  <div class="tab-body">
    <br />
    <div class="tab-panel active" id="tab-set">
        <form method="post" class="form-x" style="width:80%" action="index.php?action=car&op=editoperate"  enctype="multipart/form-data">

            <div class="form-group">
                <div class="label"><label for="car_name">车辆名称</label></div>
                <div class="field">
                     <input type="text" class="input" id="car_name" value="<!--{$carinfo['name']}-->" name="car_name" size="50" placeholder="请填写车辆名称" data-validate="required:请填写车辆名称" />
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="car_no">车牌号</label></div>
                <div class="field">
                     <input type="text" class="input" id="car_no" name="car_no" value="<!--{$carinfo['car_no']}-->" size="50" placeholder="请填写车牌号" data-validate="required:请填写车牌号" />
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="car_type">车辆类型</label></div>
                <div class="field">
                    <select class="input" id="car_type" style="width:20%; float:left" name="car_type"> 
                        <option value="">请选择车辆类型</option> 
                        <option value="1">普通车型</option>
                        <option value="2">加强车型</option>
                        <option value="3">模拟车型</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="label"><label for="car_img">车辆图片</label></div>
                <div class="field img_field">
                    <!--{if $carinfo['imgurl']}-->
                    <!--{foreach $carinfo['imgurl'] as $key => $value}-->
                    <img src="<!--{$value}-->" width="50px" height="50px" alt="">
                    <input type="file" value="<!--{$value}-->" name="car_img[]">
                    <!--{/foreach}-->
                    <!--{else}-->
                    <img src="templates/assests/images/logo.jpg" width="50px" height="50px" alt="">
                    <input type="file" value="templates/assests/images/logo.jpg" class="button" name="car_img[]">
                    <!--{/if}-->
                </div>
                <div class="label"></div>
                <div class="field" style="margin-top:10px;">
                    <span class="button bg-main icon-plus" style="cursor:pointer;" onclick="javascript:addimg();"> 添加图片</span>
                </div>
            </div>
            <input type="hidden" value="<!--{$id}-->" name="car_id">
            <div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
        </form>
    </div>

    <script>
    // 上传图片预览
        // window.onload = function () { 
        //     new uploadPreview({ UpBtn: "license_img", DivShow: "imgdiv", ImgShow: "imgShow" });
        // }

        // 城市联动
        $('#province').change(function() {
            var province_id = $(this).val();
            $("#city").load("index.php?action=school&op=getcity&province_id="+province_id);
        });

        $('#city').change(function() {
            var city_id = $(this).val();
            $('#area').load('index.php?action=school&op=getarea&city_id='+city_id);
            var city_html = $(this).find('option:selected').html();
            var province_html = $('#province').find('option:selected').html();
            $('#s_address').val(province_html+city_html);
        })

        $('#area').change(function() {
            var city_html = $('#city').find('option:selected').html();
            var province_html = $('#province').find('option:selected').html();
            var area_html = $(this).find('option:selected').html();
            $('#s_address').val(province_html+city_html+area_html);
        })
        // 添加图片位
        function addimg() {

            var html = '<input type="file" value="" class="button" name="car_img[]">'; 
            $('.img_field').append(html); 
            }

    </script>
<!--{include file="library/footer.lbi"}-->
