{template "content","header"}

<!--main-->
<div style="position:relative; width:100%;">
    <div id="datu">
        <div class="inner">
            <div frag="面板100">
                <div frag="窗口100">
                    <div class="focus">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="{IMG_PATH}main-01.jpg" style="width: 100%;" alt="" /></div>
                                <div class="swiper-slide"><img src="{IMG_PATH}8689a700-8aa7-44ac-ae63-673ee35f007f.jpg" style="width: 100%;" alt="" /></div>
                                <div class="swiper-slide"><img src="{IMG_PATH}main-02.jpg" style="width: 100%;" alt="" /></div>
                                <div class="swiper-slide"><img src="{IMG_PATH}main-03.jpg" style="width: 100%;" alt="" /></div>
                                <div class="swiper-slide"><img src="{IMG_PATH}4ac5db63-7c5d-4916-858b-1f6fbba18e24.jpg" style="width: 100%;" alt="" /></div>
                                <div class="swiper-slide"><img src="{IMG_PATH}8c485d55-a784-4f33-8d58-981655cfaa4f.jpg" style="width: 100%;" alt="" /></div>
                                <div class="swiper-slide"><img src="{IMG_PATH}843bef3c-8abf-47d9-baae-d7916f0b111d.jpg" style="width: 100%;" alt="" /></div>
                                <div class="swiper-slide"><img src="{IMG_PATH}7b8c119d-97a9-434b-a0aa-547adc86fee1.jpg" style="width: 100%;" alt="" /></div>
                                <div class="swiper-slide"><img src="{IMG_PATH}96acb881-6f99-4ddc-8bd2-ceba8bf1a71f.jpg" style="width: 100%;" alt="" /></div>
                            </div>

                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <script language="JavaScript" class="" >
                        var swiper = new Swiper('.swiper-container', {
                            pagination: '.swiper-pagination',
                            paginationClickable: true,
                            nextButton: '.swiper-button-next',
                            prevButton: '.swiper-button-prev',
                            spaceBetween: 30,
                            loop: true,
                        });
                        
                    </script>

                </div>
            </div>
        </div>
    </div>

    <!-- flag -->
    
    <div class="wrapper" id="container-1" style="position:absolute; left:0px; bottom:58px; z-index:2000">
        <div class="inner">
            <div class="cont-c">
                <img src="{IMG_PATH}tup-6.png" tppabs="http://www.ahu.edu.cn/_upload/tpl/00/0f/15/template15/images/tup-6.png"/>
            </div>
            <div class="cont-l" frag="面板5">
                <div frag="窗口5">
                    <div id="wp_nav_w5"> 

 
                        <ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
                              
                             <li class="nav-item i1 "> 
                                 <a href="http://www.xjbzzx.com.cn/index.html" tppabs="http://news.ahu.edu.cn/" title="新闻博院" target="_self"><span class="item-name">新闻博院</span></a><i class="mark"></i> 
                                  
                             </li> 
                              
                             <li class="nav-item i2 "> 
                                 <a href="http://218.31.99.246:8514/" tppabs="http://www.ahu.edu.cn/52/list.htm" title="学术博院" target="_self"><span class="item-name">学术博院</span></a><i class="mark"></i> 
                                  
                             </li> 
                              
                             <li class="nav-item i3 "> 
                                 <a href="http://dj.xjbzzx.com.cn/list.asp?id=11" tppabs="http://news.ahu.edu.cn/4644/list.htm" title="活力博院" target="_self"><span class="item-name">活力博院</span></a><i class="mark"></i> 
                                  
                             </li> 
                            <!--   
                             <li class="nav-item i4 "> 
                                 <a href="http://alumni.ahu.edu.cn" tppabs="http://alumni.ahu.edu.cn" title="校友博院" target="_blank"><span class="item-name">校友博院</span></a><i class="mark"></i> 
                                  
                             </li>  -->
     
                        </ul> 
                    </div>
                </div>
            </div>
            <div class="cont-r">
                <div class="cont-r-1" frag="面板6">
                    <div frag="窗口6">
                        <!-- No Data -->
                    </div>
                </div>
                <div class="cont-r-2" frag="面板7">
                    <div frag="窗口7">
                        <div class="articlecontent " >
                            <p><!-- <a href="http://weibo.com/ahu" tppabs="http://weibo.com/ahu" class="tup-1" target="_blank">
                                <img data-layer="photo" src="{IMG_PATH}7a1398ad-c77d-4190-a3bd-59b8f104224c.png" tppabs="http://www.ahu.edu.cn/_upload/article/images/cd/b7/11cb02ef49d585cda8f68be1dca8/7a1398ad-c77d-4190-a3bd-59b8f104224c.png" style="float:none;" sudyfile-attr="{'title':'tp-1.png'}" /></a>

                                <a href="{IMG_PATH}weix.jpg" tppabs="http://www.ahu.edu.cn/_upload/tpl/00/0f/15/template15/images/weix.jpg" class="tup-1" id="weixin" target="_blank"><img data-layer="photo" src="{IMG_PATH}b399673d-36e3-428b-b8e8-0026b221db87.png" tppabs="http://www.ahu.edu.cn/_upload/article/images/cd/b7/11cb02ef49d585cda8f68be1dca8/b399673d-36e3-428b-b8e8-0026b221db87.png" style="float:none;" sudyfile-attr="{'title':'tp-2.png'}" /></a>
 -->
                                <a href="http://12377.cn/" tppabs="http://12377.cn/" class="tup-1" target="_blank"><img data-layer="photo" src="{IMG_PATH}ecbcfb05-8e2c-4ed2-928d-b5847083b5f5.png" tppabs="http://www.ahu.edu.cn/_upload/article/images/cd/b7/11cb02ef49d585cda8f68be1dca8/ecbcfb05-8e2c-4ed2-928d-b5847083b5f5.png" style="float:none;" sudyfile-attr="{'title':'tp-3.png'}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
	{template "content","footer"}
</div>

</body>
</html>