<div class="main">
	<div class="yuanju-aboutus-topbg">
		<div class="yuanju-aboutus-title">
			联系我们
		</div>
	</div>
	<div class="yuanju-aboutus-centered-wrapper">
		<div class="yuanju-aboutus-content-relative">
			<div class="yuanju-aboutus-content">
				<div class="yuanju-aboutus-line"></div>
				<div class="yuanju-aboutus-p-div">
					<p style="font-size: 18px;">
						<img src="{IMG_PATH}contactus/map_show.png" style="width: 100%;" alt=""/>
					</p>
					
				</div>
				
				<!---->
			</div>
		</div>
		<div class="yuanju-aboutus-div">
			
			<div style="clear: both;"></div>
		</div>
		
		<!---->
		<div class="yuanju-aboutus-team-div" style="">
			<div class="yuanju-aboutus-content">
				<p style="border-bottom: 1px solid #eaeaea; padding-bottom: 5px;font-size: 16px; margin-bottom: 20px;">灵感空间</p>
				<div class="centered-wrapper">
		            <section id="portfolio-wrapper">
		                <ul class="portfolio grid isotope" style="position: relative; overflow: hidden; height: 450px;">
		                    
		                    <li class="isotope-item 32 34 item-wide" style="position: absolute; left: 0px; top: 0px;">
		                        <a href="" class="preloader">
		                            <div class="grid-item-on-hover" style="opacity: 0;">
		                                <div class="grid-text">
		                                    <h1>
		                                        CMSYOU 动画项目合集
		                                    </h1>
		                                </div>
		                                <span>
		                                    动画图形, 商业演示
		                                </span>
		                            </div>
		                            <img src="{IMG_PATH}aboutus/Office5-550x450.jpg" alt="" style="display: block; visibility: visible; opacity: 1;">
		                        </a>
		                    </li>
		                    <li class="isotope-item 34 item-small" style="position: absolute; left: 570px; top: 0px; width: 225px !important;">
		                        <a href="" class="preloader">
		                            <div class="grid-item-on-hover" style="opacity: 0;">
		                                <div class="grid-text">
		                                    <h1>
		                                        Oppo产品推介演示
		                                    </h1>
		                                </div>
		                                <span>
		                                    商业演示
		                                </span>
		                            </div>
		                            <img src="{IMG_PATH}aboutus/Office3-265x450.jpg" alt="" style="display: block; visibility: visible; opacity: 1;">
		                        </a>
		                    </li>
		                    <li class="isotope-item 34 item-small" style="position: absolute; left: 815px; top: 0px; width: 225px !important;">
		                        <a href="" class="preloader">
		                            <div class="grid-item-on-hover" style="opacity: 0;">
		                                <div class="grid-text">
		                                    <h1>
		                                        Oppo产品推介演示
		                                    </h1>
		                                </div>
		                                <span>
		                                    商业演示
		                                </span>
		                            </div>
		                            <img src="{IMG_PATH}aboutus/Office1-265x215.jpg" alt="" style="display: block; visibility: visible; opacity: 1;">
		                        </a>
		                    </li>
		                    <li class="isotope-item 33 32 item-long yuanju-tech-info" style="position: absolute; left: 570px; top: 235px; overflow: hidden; width: 470px !important;">
		                    	<div class="yuanju-tech-info-div">
	                            	<h3>技术研发实力</h3>
                            		<p>UI设计&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web前端 </p>
                            		<p>Web后端&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IOS研发</p>
                            		<p>Android研发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品设计</p>
		                    	</div>
		                    </li>
		 	           </ul>
		            </section>
		        </div>
			</div>
        </div>
		
	</div>
</div>