<div class="main">
	<div class="yuanju-aboutus-topbg">
		<div class="yuanju-aboutus-title">
			关于我们
		</div>
	</div>
	<div class="yuanju-aboutus-centered-wrapper">
		<div class="yuanju-aboutus-content-relative">
			<div class="yuanju-aboutus-content">
				<div class="yuanju-aboutus-line"></div>
				<div class="yuanju-aboutus-p-div">
					
					<div class="yuanju-div yuanju-index-div" style="width: 1020px;">
						<div class="yuanju-div-cell">
							<div class="yuanju-item yuanju-aboutus-item" style="border: none; height: auto;">
								<div class="yuanju-div-div-div">
									<h3 style="font-size: 60px; color: #1195DD;">原</h3>
								</div>
								<p>不忘初心 方得始终</p>
							</div>
								
						</div>
						<div class="yuanju-div-cell">
							<div class="yuanju-item yuanju-aboutus-item" style="border: none; height: auto;">
								<div class="yuanju-div-div-div">
									<h3 style="font-size: 60px; color: #1195DD;">聚</h3>
								</div>
								<p>聚精会神 团结一致</p>
							</div>
						</div>
						<div class="yuanju-div-cell">
							<div class="yuanju-item yuanju-aboutus-item" style="border: none; height: auto;">
								<div class="yuanju-div-div-div">
									<h3 style="font-size: 60px; color: #1195DD;">动</h3>
								</div>
								<p>唯快不破</p>
							</div>
						</div>
						<div class="yuanju-div-cell">
							<div class="yuanju-item yuanju-aboutus-item" style="border: none; height: auto;">
								<div class="yuanju-div-div-div">
									<h3 style="font-size: 60px; color: #1195DD;">力</h3>
								</div>
								<p>高效执行力</p>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>
					
					<p style="font-size: 18px;">
						原聚动力 创建于2017年。
					</p>
					<p>
						原聚动力网站定制团队是国内当前最具影响力的一支网络开发设计技术团队，专注国内外CMS程序模板开发，并为企业和个人用户提供CMS网站定制设计开发服务。原聚动力拥有多年的网站设计开发经验，精通CMS程序开发应用及优化，可以为您设计开发功能强大、注重搜索优化、符合语义、跨浏览器的各种类型CMS网站程序。
					</p>
					<p>
						原聚动力网站定制团队始终致力于企业CMS网站的扩展和应用，团队成员由拥有多年网站定制开发经验的CMS深度爱好者组成，用心为企业和个人用户提供最佳的网络媒体传播推广方式，设计开发结构完善、符合语义、跨浏览器、功能强大、注重搜索优化的优质CMS企业网站模板程序。
					</p>
				</div>
				
				<!---->
			</div>
		</div>
		<div class="yuanju-aboutus-div">
			<!--<p style="border-bottom: 1px solid #eaeaea; padding-bottom: 5px;">案例</p>-->
			<div class="yuanju-aboutus-div-cell">
				<div class="yuanju-item">
					<p class="yuanju-item-p-title">+ 激情</p>
					<img src="{IMG_PATH}yuanju-anli-01.jpg" style="width: 100%;" alt="" />
					<p style="text-align: left;">我们的工作基于信息的构建与呈现，然而这并非是一个枯燥乏味的过程，而是充满了创意和想象。满怀激情才能不断汲取和创新，于是我们认真的对待每一次项目与合作。</p>
				</div>
			</div>
			<div class="yuanju-aboutus-div-cell">
				<div class="yuanju-item">
					<p class="yuanju-item-p-title">+ 专业</p>
					<img src="{IMG_PATH}yuanju-anli-02.jpg" style="width: 100%;" alt="" />
					<p style="text-align: left;">长期的持续研究与项目执行令我们在商业演示这个细分的设计领域积累了丰富的经验；拥有专业的态度方能协助客户更精准的传递有效信息，创造演示沟通的价值。</p>
				</div>
			</div>
			<div class="yuanju-aboutus-div-cell">
				<div class="yuanju-item">
					<p class="yuanju-item-p-title">+ 正能量</p>
					<img src="{IMG_PATH}yuanju-anli-03.jpg" style="width: 100%;" alt="" />
					<p style="text-align: left;">我们坚信幻灯/演示也能成为一种力量，能够说服，影响，和感动。于是我们积极投身于各种公益合作，利用自身的资源和设计优势，在这个满是浮躁和信任危机的年代，传递正能量！</p>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
		
		<!---->
		<div class="yuanju-aboutus-team-div" style="">
			<div class="yuanju-aboutus-content">
				<p style="border-bottom: 1px solid #eaeaea; padding-bottom: 5px;font-size: 16px; margin-bottom: 20px;">灵感空间</p>
				<div class="centered-wrapper">
		            <section id="portfolio-wrapper">
		                <ul class="portfolio grid isotope" style="position: relative; overflow: hidden; height: 450px;">
		                    
		                    <li class="isotope-item 32 34 item-wide" style="position: absolute; left: 0px; top: 0px;">
		                        <a href="" class="preloader">
		                            <div class="grid-item-on-hover" style="opacity: 0;">
		                                <div class="grid-text">
		                                    <h1>
                                        		原聚动力 动画项目合集
		                                    </h1>
		                                </div>
		                                <span>
		                                    动画图形, 商业演示
		                                </span>
		                            </div>
		                            <img src="{IMG_PATH}aboutus/Office5-550x450.jpg" alt="" style="display: block; visibility: visible; opacity: 1;">
		                        </a>
		                    </li>
		                    <li class="isotope-item 34 item-small" style="position: absolute; left: 570px; top: 0px; width: 225px !important;">
		                        <a href="" class="preloader">
		                            <div class="grid-item-on-hover" style="opacity: 0;">
		                                <div class="grid-text">
		                                    <h1>
		                                        Oppo产品推介演示
		                                    </h1>
		                                </div>
		                                <span>
		                                    商业演示
		                                </span>
		                            </div>
		                            <img src="{IMG_PATH}aboutus/Office3-265x450.jpg" alt="" style="display: block; visibility: visible; opacity: 1;">
		                        </a>
		                    </li>
		                    <li class="isotope-item 34 item-small" style="position: absolute; left: 815px; top: 0px; width: 225px !important;">
		                        <a href="" class="preloader">
		                            <div class="grid-item-on-hover" style="opacity: 0;">
		                                <div class="grid-text">
		                                    <h1>
		                                        Oppo产品推介演示
		                                    </h1>
		                                </div>
		                                <span>
		                                    商业演示
		                                </span>
		                            </div>
		                            <img src="{IMG_PATH}aboutus/Office1-265x215.jpg" alt="" style="display: block; visibility: visible; opacity: 1;">
		                        </a>
		                    </li>
		                    <li class="isotope-item 33 32 item-long yuanju-tech-info" style="position: absolute; left: 570px; top: 235px; overflow: hidden; width: 470px !important;">
		                    	<div class="yuanju-tech-info-div">
	                            	<h3>技术研发实力</h3>
                            		<p>UI设计&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web前端 </p>
                            		<p>Web后端&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IOS研发</p>
                            		<p>Android研发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品设计</p>
		                    	</div>
		                    </li>
		 	           </ul>
		            </section>
		        </div>
			</div>
        </div>
		
	</div>
</div>