<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
    <link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/jquery-ui.css" />
    <link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2-bootstrap.css">
    <!-- <link href="__PUBLIC__/Admin/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" /> -->
    <!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>编辑金币规则</title>
</head>

<body>
    <div class="pd-20">
        <form action="{:U('Coin/editCoinRule')}" method="post" class="form form-horizontal" id="addCoinRule">
            <input class="input-text" type="hidden" name="id" value="{$coinrulelist.id}" />
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>规则名称：</label>
                <div class="formControls col-2">
                    <input class="input-text" type="text" name="title" value="{$coinrulelist.title}" placeholder="请填写规则名称" datatype="*2-16" nullmsg="规则名称不能为空！" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>英文名称：</label>
                <div class="formControls col-2">
                    <input class="input-text" type="text" name="slug" value="{$coinrulelist.slug}" placeholder="请填写英文名称" datatype="*1-16" nullmsg="英文名称不能为空！" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>金币数：</label>
                <div class="formControls col-2">
                    <input type="button" value="-" onclick="sub(this)" class="btn btn-warning" style="border-radius:0px;">
                    <input class="input-text" value="{$coinrulelist.coin_num}" type="text" name="coin_num" placeholder="请填写金币数" datatype="*1-16" nullmsg="金币数不能为空！" style="width:120px;height:30px;text-align:center" />
                    <input type="button" value="+" onclick="add(this)" class="btn btn-warning" style="border-radius:0px;"> 个
                </div>
            </div>
            <div class="row cl">
                <!-- <label class="form-label col-2"><span class="c-red">*</span>金币数：</label> -->
                <label class="form-label col-2">金币数：</label>
                <div class="formControls col-2">
                    <!-- <input class="input-text" type="text" name="coin_num" value="" placeholder="请填写金币数" datatype="*1-16" nullmsg="金币数不能为空！" /> -->
                    <input class="input-text" type="text" name="coin_num" value="{$coinrulelist.coin_num}" placeholder="请填写金币数" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>开始时间：</label>
                <div class="formControls col-2">
                    <div class="demo">
                        <input type="text" id="rule_starttime" name="rule_starttime" style="height:30px;" datatype="*1-32" nullmsg="规则开始时间不能为空" class="input-text date_picker laydate-icon" value="{$coinrulelist.rule_starttime}" placeholder="规则开始时间不能为空！" readonly />
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>过期时间：</label>
                <div class="formControls col-2">
                    <div class="demo">
                        <input type="text" id="rule_endtime" name="rule_endtime" style="height:30px;" datatype="*1-32" nullmsg="规则过期时间不能为空" class="input-text date_picker laydate-icon" value="{$coinrulelist.rule_endtime}" placeholder="规则过期时间不能为空！" readonly />
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>规则描述：</label>
                <div class="formControls col-4">
                    <textarea name="description" style="height: 200px;" id="description" cols="" rows="" class="textarea" placeholder="说点什么...最少输入2个字符" datatype="*1-500" dragonfly="true" nullmsg="规则描述不能为空" onKeyUp="textarealength(this,1000)">{$coinrulelist.description}</textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>
                </div>
            </div>

            <div class="row cl">
                <div class="col-8 col-offset-2">
                    <button id="submitOne" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/laydate.dev.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/jquery-ui-datepicker.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/icheck/jquery.icheck.min.js"></script>-->
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/Validform/5.3.2/Validform.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/jquery.form.min.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/select2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/selectindex.js"></script>-->
    <script type="text/javascript">
        function sub(obj) {
            var temp = parseInt(obj.nextElementSibling.value);
            if (temp > 1) {
                temp -= 10;
                obj.nextElementSibling.value = temp;
            }
        }

        function add(obj) {
            var temp = parseInt(obj.previousElementSibling.value);
            temp += 10;
            obj.previousElementSibling.value = temp;
        }

        // 日期选择器
        $(function() {
            laydate({
                elem: '#rule_starttime',
                format: 'YYYY-MM-DD hh:mm:ss', //日期格式
                min: laydate.now(),
                max: '2099-12-31 23:59:59', //最大日期
                istime: true //是否开启时间选择
            });
            laydate({
                elem: '#rule_endtime',
                format: 'YYYY-MM-DD hh:mm:ss', //日期格式
                min: laydate.now(),
                max: '2099-12-31 23:59:59', //最大日期
                istime: true //是否开启时间选择
            });
            laydate.skin('danlan');
        })

        // 表单验证
        $(function() {
            // $('#submitOne').click(function() {
            //   var cate = $('#cate_id').val();
            //   if (!cate) {
            //     alert('请选择商品分类名称');
            //     return false;
            //   }
            // })
            $('#addCoinRule').Validform({
                tiptype: 2,
                callback: function(form) {
                    form[0].submit();
                }
            });
        })

        /*
         * 按钮的切换
         * 点击切换效果
         */
        $('.btn-group .setstatus input').click(function() {
            var current = $(this).parent();
            var siblings = $(this).parent().siblings();
            current.removeClass("btn-warning-outline").addClass("btn-success");
            siblings.removeClass("btn-success").addClass("btn-warning-outline");
        });
    </script>
</body>

</html>