<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
    <link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/pintuer.css">
    <link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>金币兑换记录管理</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>金币商城管理<span class="c-gray en">&gt;</span> 金币兑换记录管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <br>
    <div class="pd-20">
        <form method="post" action="{:U('Coin/searchExchangeOrders')}">
            <div class="" style="margin-top:-20px;">
                <label for="search_exchange_status">按兑换状态 </label>
                <select class="" name="exchange_status" id="exchange_status" style="width:150px;height:30px">				   
						<option value="" >--不限状态--</option>
						<option value="1" <if condition = "$exchange_status eq 1">selected</if>>兑换成功</option>
						<option value="2" <if condition = "$exchange_status eq 2">selected</if>>正在发货中</option>
						<option value="3" <if condition = "$exchange_status eq 3">selected</if>>未抽中奖品</option>
						<option value="4" <if condition = "$exchange_status eq 4">selected</if>>兑换失败</option>
					</select>
                <label for="search_pay_type">按支付状态 </label>
                <select class="" name="pay_status" id="pay_status" style="width:150px;height:30px">				   
						<option value="" >--不限状态--</option>
						<option value="1" <if condition = "$pay_status eq 1">selected</if>>支付成功</option>
						<option value="2" <if condition = "$pay_status eq 2">selected</if>>支付失败</option>
					</select>
                <label for="search_info">按关键词 </label>
                <select class="" name="search_info" id="search_info" style="width:150px;height:30px">				   
						<option value="" >--不限关键词--</option>
						<option value="goods_name" <if condition = "$search_info eq goods_name">selected</if>>商品名称</option>
						<option value="mch_name" <if condition = "$search_info eq mch_name">selected</if>>商户名称</option>
						<option value="exchange_no" <if condition = "$search_info eq exchange_no">selected</if>>订单号</option>
					</select>
                <input id="s_keyword" class="input-text default size-M" type="text" name="s_keyword" placeholder="商品名称，商户名称，订单号" style="width:200px;" value="{$s_keyword}" />
                <input type="submit" id="" class="btn btn-primary size-M default" style="width:100px" value="搜索" />
            </div>
        </form>
        <br/>
        <div class="cl pd-5 bg-1 bk-gray">
            <!-- <a href="javascript:;" onclick="addCoinRule('添加金币规则','{: U('Coin/addCoinRule')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加商品分类</a></span>  -->
            <span class="r">共有数据：<strong>{$count}</strong> 条</span>
        </div>
        <div class="mt-20">
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <th width="40">ID</th>
                            <th width="100">商品名称</th>
                            <th width="100">商户名称</th>
                            <th width="100">原金币价格</th>
                            <th width="100">金币价格</th>
                            <th width="100">订单号</th>
                            <th width="100">兑换数量</th>
                            <th width="100">支付状态</th>
                            <th width="100">兑换状态</th>
                            <th width="100">兑换时间</th>
                            <!--<th width="50">操作</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <foreach name="exchangeorders" item="obj">
                            <tr class="text-c" module-data="{$obj.id}">
                                <td class="va-m"><input type="checkbox" value="{$obj.id}" name=""></td>
                                <td class="va-m">{$obj.id}</td>
                                <td class="va-m">{$obj.goods_name}</td>
                                <td class="va-m">{$obj.mch_name}</td>
                                <td class="va-m">{$obj.goods_original_price}</td>
                                <td class="va-m">{$obj.goods_final_price}</td>
                                <td class="va-m">{$obj.exchange_no}</td>
                                <td class="va-m">{$obj.exchange_num}</td>
                                <td class="va-m">
                                    <switch name="obj.pay_status">
                                        <case value="1"><span class="btn btn-success-outline radius" style="display:inline">支付成功</span></case>
                                        <case value="2"><span class="btn btn-danger-outline radius" style="display:inline">支付失败</span></case>
                                        <default />
                                        <case value=""><span class="btn-default-outline radius" style="display:inline">未知状态</span></case>
                                    </switch>
                                </td>
                                <td class="va-m">
                                    <switch name="obj.exchange_status">
                                        <case value="1"><span class="btn btn-success-outline radius" style="display:inline">兑换成功</span></case>
                                        <case value="2"><span class="btn btn-warning-outline radius" style="display:inline">正在发货中</span></case>
                                        <case value="3"><span class="btn btn-secondary-outline radius" style="display:inline">未抽中奖品</span></case>
                                        <case value="4"><span class="btn btn-danger-outline radius" style="display:inline">兑换失败</span></case>
                                        <default />
                                        <case value=""><span class="btn-default-outline radius" style="display:inline">未知状态</span></case>
                                    </switch>
                                </td>
                                <td class="va-m">{$obj.addtime}</td>
                                <!--<td class="va-m td-manage">
                                    <a title="删除" href="javascript:;" onclick="member_del(this,{$obj.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                </td>-->
                            </tr>
                        </foreach>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="page pagination" style="display:inline;">
            <empty name="count">
                <br /><strong style="display:block;">暂无列表</strong><br /><br /><br />
            </empty>
            <p style="text-align:center">{$page}</p>
        </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript">
        /*用户-查看*/
        function member_show(title, url, id, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }

        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function(index) {
                $.ajax({
                    type: "POST",
                    url: "__URL__/delExchangeOrders",
                    data: {
                        'id': id
                    },
                    dataType: 'JSON',
                    success: function(data) {
                        if (data.code == 200) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', {
                                icon: 1,
                                time: 1000
                            });
                        } else {
                            layer.msg('删除失败!', {
                                icon: 2,
                                time: 1000
                            });
                        }

                    },
                    error: function() {
                        layer.msg('网络错误，请检查网络!', {
                            icon: 2,
                            time: 1000
                        });
                    }
                });
            });
        }
    </script>
</body>

</html>