<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
    <link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/pintuer.css">
    <link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>商品分类管理</title>
    </headorder<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>金币商城管理<span class="c-gray en">&gt;</span> 商品分类管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <br>
    <div class="pd-20">
        <form method="post" action="{:U('Coin/searchCoinCategory')}">
            <div class="" style="margin-top:-20px;">
                <label for="search_info">按分类名称 </label>
                <!--<select class="" name="search_info" id="search_info" style="width:150px;height:30px">				   
					<option value="" >请选择商品信息</option>
					<option value="cate_name" <if condition = "$search_info eq cate_name">selected</if>>商品分类名称</option>
					<option value="cate_desc" <if condition = "$search_info eq cate_desc">selected</if>>商品分类描述</option>
				</select>-->
                <input id="s_keyword" class="input-text default size-M" type="text" name="s_keyword" placeholder="分类名称" style="width:200px;" value="{$s_keyword}" />
                <input type="submit" id="" class="btn btn-primary size-M default" style="width:100px" value="搜索" />
            </div>
        </form>
        <br/>
        <div class="cl pd-5 bg-1 bk-gray">
            <a href="javascript:;" onclick="addCoinCategory('添加商品分类','{: U('Coin/addCoinCategory')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a></span>
            <span class="r">共有数据：<strong>{$count}</strong> 条</span>
        </div>
        <div class="mt-20">
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <th width="40">ID</th>
                            <th width="40">
                                排序
                                <span class="tips icon-exclamation-circle" style="color:#f60; cursor:pointer;" data-toggle="hover" data-place="right" title="鼠标双击排序表格有意外惊喜哦"></span>
                            </th>
                            <th width="100">分类名称</th>
                            <th width="120">分类描述</th>
                            <th width="100">添加时间</th>
                            <th width="100">最近时间</th>
                            <th width="50">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach name="coincategorylist" item="obj">
                            <tr class="text-c va-m" module-data="{$obj.id}">
                                <td class="va-m"><input type="checkbox" value="{$obj.id}" name=""></td>
                                <td class="va-m">{$obj.id}</td>
                                <td class="va-m changeable" data-field="order">
                                    <span>{$obj.order}</span>
                                    <input class="input-text " value="{$obj.order}" style="display:none" name="order" type="text" style="text-align:center;border-radius:5px;">
                                </td>
                                <td class="va-m">{$obj.cate_name}</td>
                                <td class="va-m">{$obj.cate_desc}</td>
                                <td class="va-m">{$obj.addtime}</td>
                                <td class="va-m">{$obj.updatetime}</td>
                                <td class="va-m td-manage">
                                    <a title="删除" href="javascript:;" onclick="member_del(this,{$obj.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                    <a title="编辑" href="javascript:;" onclick="member_edit('编辑商品分类信息','{: U('Coin/editCoinCategory')}?id={$obj.id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                </td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="page pagination" style="display:inline;">
            <empty name="count">
                <br /><strong style="display:block;">暂无列表</strong><br /><br /><br />
            </empty>
            <p style="text-align:center">{$page}</p>
        </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script>
    <script type="text/javascript">
        // 鼠标双击排序表格事件
        $('td.changeable').dblclick(function() {
            var s = $(this).find('span');
            var i = $(this).find('input');
            s.css('display', 'none');
            i.css('display', 'inline-block').css('text-align', 'center').css('border-radius', '5px');
            i.focus();
        });
        $('td.changeable input').blur(function() {
            var s = $(this).parent().find('span');
            var i = $(this).parent().find('input');
            var mid = $(this).parent().parent().attr('module-data');
            var field = $(this).parent().attr('data-field');
            var order = $(this).val();
            s_params = '{"id":' + '"' + mid + '"' + ',"' + field + '":"' + order + '"' + '}';
            j_params = JSON.parse(s_params);
            $.ajax({
                type: "post",
                url: "__URL__/setCoinCateOrder",
                data: j_params,
                dataType: 'JSON',
                success: function(data) {
                    if (data.code == 200) {
                        layer.tips(data.msg, s, {
                            time: 1000,
                            tips: [2, '#00CD66']
                        });
                        s.html(order);
                        // location.reload();
                    } else if (data.code == 105) {
                        i.val(s.html());
                        layer.tips('未做任何修改', s, {
                            time: 1000
                        });
                    } else if (data.code == 102) {
                        i.val(s.html());
                        layer.tips('参数类型错误', s, {
                            time: 1000
                        });
                    } else {
                        i.val(s.html());
                        layer.tips(data.msg, s, {
                            time: 1000
                        });
                    }

                },
                error: function() {
                    i.val(s.html());
                    layer.msg('网络错误，请检查网络!', {
                        icon: 2,
                        time: 1000
                    });
                }
            });

            i.css('display', 'none');
            s.css('display', 'inline');
        });


        /*用户-添加*/
        function addCoinCategory(title, url) {
            // layer_show(title,url);
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }

        /*用户-查看*/
        function member_show(title, url, id, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);

        }
        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function(index) {
                $.ajax({
                    type: "POST",
                    url: "__URL__/delCoinCategory",
                    data: {
                        'id': id
                    },
                    dataType: 'JSON',
                    success: function(data) {
                        if (data.code == 200) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', {
                                icon: 1,
                                time: 1000
                            });
                        } else {
                            layer.msg('删除失败!', {
                                icon: 2,
                                time: 1000
                            });
                        }

                    },
                    error: function() {
                        layer.msg('网络错误，请检查网络!', {
                            icon: 2,
                            time: 1000
                        });
                    }
                });
            });
        }
    </script>
    </body>

</html>