<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<script type="text/javascript" src="{JS_PATH}jquery-1.7.2.min.js"></script> 
<link href="{CSS_PATH}ahwanglvyou.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="current_lvyou center">
	<dl>
		<dt><a target="_blank" href="{$CATEGORYS[56]['url']}"><em>{$CATEGORYS[56]['catname']}</em></a></dt>
		<dd><a href="{$CATEGORYS[57]['url']}">旅行推荐</a></dd>
		<dd><a href="{$CATEGORYS[58]['url']}">出行攻略</a></dd>
		<dd><a href="{$CATEGORYS[59]['url']}">名胜古迹</a></dd>
		<dd><a href="{$CATEGORYS[60]['url']}">达人游记</a></dd>
		<dd><a href="{$CATEGORYS[61]['url']}">天下美食</a></dd>
	</dl>
	<div class="ly_wrap">
		<div class="ly_left_wrap">
			<!--焦点图开始--><div class="ly_focus">
				<div class="edu_fouce_img">  
    <div class="edu_fouce_img_list">
<ul>
<li style="float: left;">
<a  href="http://lvyou.ahwang.cn/rdgz/20131209/1335975.shtml" target="_blank">
<img width="286" height="208" src="http://upload.ahwang.cn/2013/1209/1386552089901.jpg" alt="三亚一景区野猴“袭”游客"></a>
<div style="" class="fi_ovl"></div><div class="fi_tt">三亚一景区野猴“袭”游客</div></li>         
<li style="float: left;">
<a  href="http://lvyou.ahwang.cn/chwl/20131202/1334125.shtml" target="_blank">
<img width="286" height="208" src="http://upload.ahwang.cn/2013/1202/1385949497986.jpg" alt="纽约举行梅西感恩节大游行"></a>
<div style="" class="fi_ovl"></div><div class="fi_tt">纽约举行梅西感恩节大游行</div></li>         
<li style="float: left;">
<a  href="http://lvyou.ahwang.cn/chwl/20131206/1335657.shtml" target="_blank">
<img width="286" height="208" src="http://upload.ahwang.cn/2013/1206/1386300093690.jpg" alt="全球奇异风景  美到沉醉"></a>
<div style="" class="fi_ovl"></div><div class="fi_tt">全球奇异风景  美到沉醉</div></li>         
         
     </ul>
    
    <ol>
                         <li class="cur">1</li>
                         <li class="">2</li>
                         <li class="">3</li>
         
    </ol>

    </div>
</div></div>
			<!--焦点图片结束文化之旅开始-->
			<div class="ly_whzl">
				<h2><a href="http://lvyou.ahwang.cn/whyc/" target="_blank">文化之旅</a></h2>
<ul>
<li id="whzl_top"><a href="http://lvyou.ahwang.cn/whyc/20131211/1336674.shtml" target="_blank"><img src="http://upload.ahwang.cn/2013/1211/1386729352934.jpg" width="150" height="100" alt="长明灯千年不熄之谜" /></a><h3><a href="http://lvyou.ahwang.cn/whyc/20131211/1336674.shtml"  target="_blank">长明灯千年不熄之谜</a></h3><p>在这终年不见天日的古墓中，一盏明灯投射着幽幽的光芒 一点烛光，悠悠千年。</p></li>
<li><a href="http://lvyou.ahwang.cn/lyjj/20131209/1336000.shtml"  target="_blank">人类非物质文化遗产</a></li>
<li><a href="http://lvyou.ahwang.cn/whyc/20131029/1325159.shtml"  target="_blank">中国古建筑的一朵奇葩  永定土楼</a></li>
</ul>

			</div>
			<!--文化之旅结束-->
		</div>
		<!--右边开始-->
		<div class="ly_right_wrap">
			<div class="ly_right_top">
				<div class="ly_roc_news">
<ul>
<li id="ly_roc_top"><h3><a href="http://lvyou.ahwang.cn/rdgz/20131206/1335656.shtml" target="_blank">25个省区市出现雾霾天气 或持续至下周</a></h3><p>中国已有25个省(区、市)都不同程度地出现了雾霾天气。苏皖等中东部地区的霾最为严重，重灾区”则位于西南及江淮地区。</p></li>
<li id="ly_roc_top"><h3><a href="http://lvyou.ahwang.cn/lyjj/20131202/1334119.shtml" target="_blank">国庆七天假或取消 专家呼吁保障长假权利</a></h3><p>知名旅游专家和多数网友呼吁保留春节、国庆等7天公共假期，以长假的方式保障民众休息旅游权利；并建议增加“五一”长假。</p></li>
<li><a href="http://lvyou.ahwang.cn/dryj/20131112/1328887.shtml" target="_blank"  class="ly_roc_img"><img width="105" height="100" src="http://upload.ahwang.cn/2013/1112/1384219090346.jpg" alt="婺源赏枫仙境">
<b>婺源赏枫仙境</b></a></li>
<li><a href="http://lvyou.ahwang.cn/chwl/20131206/1335658.shtml" target="_blank"  class="ly_roc_img"><img width="105" height="100" src="http://upload.ahwang.cn/2013/1206/1386300567191.jpg" alt="美女鲨鱼亲密同游">
<b>美女鲨鱼亲密同游</b></a></li>
<li><a href="http://lvyou.ahwang.cn/dryj/20131018/1322477.shtml#g1322477=5" target="_blank"  class="ly_roc_img"><img width="105" height="100" src="http://upload.ahwang.cn/2013/1101/1383295754685.jpg" alt="绿意九寨沟">
<b>绿意九寨沟</b></a></li>
</ul>
				</div>
				<!--特别策划开始-->
				<div class="ly_tbch">
					<h2><a href="http://lvyou.ahwang.cn/" target="_blank">特别策划</a></h2>
					<div class="ly_tbch_subject">
<ul>
<li id="ly_tbch_roc"><a href="http://lvyou.ahwang.cn/" target="_blank"><img width="225" height="100" src="http://upload.ahwang.cn/2013/1017/1381973027232.jpg" alt="旅游频道诚招合作伙伴"><br />旅游频道诚招合作伙伴</a></li>
<li><a href="http://xawb.epaper.ahwang.cn/html/2013-10/09/node_9.htm" target="_blank">看晚报 游浙江</a></li>
<li><a href="http://www.ahwang.cn/anhui/20131029/1325031.shtmll" target="_blank">心醉夜色 体验美妙夜“皖”</a></li>
<li><a href="http://lvyou.ahwang.cn/lytj/20131012/1320414.shtml" target="_blank">周边短途两山一湖小行程</a></li>
<li><a href="http://lvyou.ahwang.cn/cxgl/20131010/1319817.shtml" target="_blank">灵隐寺一日游</a></li>
</ul>


					</div>
				</div>
				<!--特别策划结束-->
			</div>
			<!--畅游安徽开始-->
			<div class="ly_cyah_wrap">
				<h2><a href="http://lvyou.ahwang.cn" target="_blank">畅游安徽</a></h2>
				<div class="ly_cyah_subject">
<ul>
<li><a href="http://lvyou.ahwang.cn/lytj/20131126/1332752.shtml"  target="_blank">西庄温泉:天然医疗氡温泉</a></li>
<li><a href="http://lvyou.ahwang.cn/jpxl/20131024/1323928.shtml"  target="_blank">体验徽州文化 探秘文房四宝</a></li>
<li><a href="http://lvyou.ahwang.cn/jpxl/20131104/1326629.shtml"  target="_blank">合肥公交集团515路公交线走向有调整</a></li>
<li><a href="http://lvyou.ahwang.cn/20131121/1331587.shtml"  target="_blank">合肥万达威斯汀酒店冬季婚礼秀</a></li>
</ul>
<ul id="ly_cyah_roc">
<li><a href="http://lvyou.ahwang.cn/dryj/20131112/1328958.shtml" target="_blank"><img width="150" height="100" src="http://upload.ahwang.cn/2013/1112/1384222878320.jpg" alt="心醉秀丽小城霍山夜色"></a><h3><a href="http://lvyou.ahwang.cn/dryj/20131112/1328958.shtml" target="_blank">心醉秀丽小城霍山夜色</a></h3><p>夕阳西沉，南岳山下的南岳山庄建筑边缘都被镀上一层金边，远处山峦中一缕晚霞。</p></li>
</ul>
				</div>
			</div>
			<!--畅游安徽结束-->
			
		</div>
		<!--右边结束-->
	</div>
</div>
<script type="text/javascript" src="{JS_PATH}index.js"></script> 
</body>
</html>