<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}a.css" type="text/css" rel="stylesheet" />
<!-- 请置于所有广告位代码之前 -->
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<script type="text/javascript">
BAIDU_CLB_preloadSlots("814562","814561");
</script>
</head>
<body>
<div class="current_food center m10">
	<ul>
       <li class="current_l">
       	    <h1>
            	<dl>
               	    <dt><a target="_blank" href="{$CATEGORYS[62]['url']}"><em>{$CATEGORYS[62]['catname']}</em></a></dt>
                	<dd>
						<a target="_blank" href="{$CATEGORYS[63]['url']}">财经专栏</a>
						<a target="_blank" href="{$CATEGORYS[64]['url']}">重磅财经</a>
						<a target="_blank" href="{$CATEGORYS[65]['url']}">宿迁银行</a>
						<a target="_blank" href="{$CATEGORYS[66]['url']}">宿迁保险</a>
						<a target="_blank" href="{$CATEGORYS[67]['url']}">宿迁证券</a>
						<a target="_blank" href="{$CATEGORYS[68]['url']}">服务聚焦</a>
						<a target="_blank" href="{$CATEGORYS[69]['url']}">储户之声</a>
						<a target="_blank" href="{$CATEGORYS[70]['url']}">策划专题</a>
						<a target="_blank" href="/">论坛热点</a>
                    </dd>
                </dl>
            </h1>
            <div class="col-l-extra"> 
                <div class="col-l">
                    <div class="edu_fouce">
						<div class="edu_fouce_img">  
							<div class="edu_fouce_img_list">
								 <ul style="position: relative; width: 1716px; left: 0px;"> 
									   																				<li style="float: left;">
											<a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1111479.html"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1211/20131211093541199.jpg" alt="物价涨幅可控 调控目标可以完成" text="物价涨幅可控 调控目标可以完成" width="286px" height="208px"/></a><div style="" class="fi_ovl"></div><div class="fi_tt">物价涨幅可控 调控目标可以完成</div>
									    </li>
																				<li style="float: left;">
											<a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1011460.html"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1210/20131210022245749.jpg" alt="为抗雾霾，小学升旗仪式移至教室" text="为抗雾霾，小学升旗仪式移至教室" width="286px" height="208px"/></a><div style="" class="fi_ovl"></div><div class="fi_tt">为抗雾霾，小学升旗仪式移至教室</div>
									    </li>
																				<li style="float: left;">
											<a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1011443.html"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1210/20131210085758428.jpg" alt="国内银行业并购潮流暗涌" text="国内银行业并购潮流暗涌" width="286px" height="208px"/></a><div style="" class="fi_ovl"></div><div class="fi_tt">国内银行业并购潮流暗涌</div>
									    </li>
																			   									   
								 </ul>
								 <ol>
									 <li class="cur">1</li>
									 <li class="">2</li>
									 <li class="">3</li>         
								 </ol>
							</div>
						</div>
						<ul class="txtlist m10 m-l-10">
						</ul> 
					</div>
                    <div class="edu_news">
                     	<h3><em><a target="_blank" href="http://jrbx.ahwang.cn/html/anhuiyinxing/"><span class="color_833721">安徽银行</span></a>|<a target="_blank" href="http://jrbx.ahwang.cn/html/anhuibaoxian/"><span class="color_833721">安徽保险</span></a>|<a target="_blank" href="http://jrbx.ahwang.cn/html/anhuizhengquan/"><span class="color_833721">安徽证券</span></a></em><a target="_blank" href="http://jrbx.ahwang.cn/"><span class="color_833721">行业动态</span></a></h3>					
                        <ul class="txtlist m10 m-l-10">
                       		<div class="pic clearfix">								
																								<a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1013445.html"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1210/20131210091958471.jpg" alt="银监会意欲加快推出银行破产条例" text="银监会意欲加快推出银行破产条例" width="290px" height="100px"/></a><p><a href="http://jrbx.ahwang.cn/html/201312/1013445.html"><span class="color_833720">银监会意欲加快推出银行破产条例</span></a></p>
															   							</div>
																					<li><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1113477.html">邮储银行滁州市分行开办公积金委托贷款业务</a></li>
																																			<li><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1014456.html">合肥2014年城乡居民养老保险元旦起参保续保</a></li>
																																			<li><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/0916437.html">光大证券前11月赚的6.14亿将为8-16埋单</a></li>
														                        </ul>				   
                    </div>                                          
                </div>
            </div>
			<div class="col-r-main">
            	<div class="col-l">
										                	<div class="toutiaos">
						<h2><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1130474.html"><span class="color_833720">前三季度安徽省农村低保支出25.15亿元</span></a></h2>
						<p>12月9日，据安徽省民政厅了解，今年前三季度，全省农村低保支出资金25 15亿元，月平均保障标准202 58...<a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1130474.html">[详细]</a></p>
					</div>
					                	<div class="toutiaos">
						<h2><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1130472.html"><span class="color_833720">安徽31个重点项目赴沪招商 投资356亿元</span></a></h2>
						<p>日前，长三角口岸城市群大通关合作沪皖项目对接会在上海举行，安徽省推介了水运和陆路口岸31个重点项目。<a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1130472.html">[详细]</a></p>
					</div>
										             
                 	<div class="baby_pic clearfix" style='text-align:center;'>                    	
                         <!-- <dl>
							 <dt><a target="_blank" href="http://food.ahwang.cn/ssys/20131119/1330825.shtml"><img width="106" height="100" alt="绿叶菜不宜做汤" src="http://upload.ahwang.cn/2013/1119/1384826573566.jpg"></a></dt>
							 <dd><a target="_blank" href="http://food.ahwang.cn/ssys/20131119/1330825.shtml">绿叶菜不宜做汤</a></dd>
							 <dd class="txtbg"></dd>
						 </dl>  
						 <dl>
							 <dt><a target="_blank" href="http://food.ahwang.cn/cpjx/20131114/1329612.shtml"><img width="106" height="100" alt="正确烹调红薯" src="http://upload.ahwang.cn/2013/1114/1384394954993.jpg"></a></dt>
							 <dd><a target="_blank" href="http://food.ahwang.cn/cpjx/20131114/1329612.shtml">正确烹调红薯</a></dd>
							 <dd class="txtbg"></dd>
						 </dl>  
						 <dl>
							 <dt><a target="_blank" href="http://food.ahwang.cn/ssys/20131112/1328892.shtml"><img width="106" height="100" alt="鸡蛋吃法排行榜" src="http://upload.ahwang.cn/2013/1112/1384220690549.jpg"></a></dt>
							 <dd><a target="_blank" href="http://food.ahwang.cn/ssys/20131112/1328892.shtml">鸡蛋吃法排行榜</a></dd>
							 <dd class="txtbg"></dd>
						 </dl>            --> 
						<!-- 广告位：安徽网首页头条下 -->
						<script type="text/javascript">BAIDU_CLB_fillSlot("814561");</script>
                    </div>
                </div>
            	<div class="col-r">
					<a href="http://jrbx.ahwang.cn/html/cehuahuodong/" target="_blank" ><h3>策划专题</h3></a>
					<div class="xkfd clearfix">            		
						<ul class="imglist">
																					<li><a target="_blank" href="http://finance.china.com/files/2013129/jinjiu.html" title="劲牌打造“第六大种酒”"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1211/20131211101246420.jpg" alt="劲牌打造“第六大种酒”" width="110" height="140" /><p>劲牌打造“第六大种酒”</p></a></li>
																																			<li><a target="_blank" href="http://zt.hefei.cc/zt2013/huishang1118/" title="购物狂欢 徽行送礼"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1205/20131205113234399.jpg" alt="购物狂欢 徽行送礼" width="110" height="140" /><p>购物狂欢 徽行送礼</p></a></li>
																				</ul>                             
						<div class="clear"></div>                       
						<div class="m-l-10">
							<ul class="q_tL">
																								<li><a target="_blank" href="http://zt.hefei.cc/zt2013/huishang1118/" title="购物狂欢 徽行送礼" style="" >购物狂欢 徽行送礼</a></li>
																<li><a target="_blank" href="http://jrbx.ahwang.cn/html/201311/162382.html" title="安徽中行电子银行高校活动" style="" >安徽中行电子银行高校活动</a></li>
																<li><a target="_blank" href="http://jrbx.ahwang.cn/html/201311/162373.html" title="平安产险美食自驾游圆满落幕" style="" >平安产险美食自驾游圆满落幕</a></li>
																							</ul>
						</div>
					</div>
                </div>
            </div>
            <div class="col-r-main">
				<div class='f-l'>
					<a href="http://jrbx.ahwang.cn/html/caifumingren/" target="_blank" ><h3>财经人物</h3></a>
					<div class="leftpic m10 m-l-10">						
						
																		<a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1018453.html" title="巨鲸音乐成姚明尴尬一景"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1210/20131210102710414.jpg" alt="巨鲸音乐成姚明尴尬一景" width="174" height="120" /><span>巨鲸音乐成姚明尴尬一景</span><p>作为体育界明星的姚明，优秀的程度几乎无人能出其......</p></a>
																	</div>                    
				</div>                    
				<div class="f-r">
					<a href="http://jrbx.ahwang.cn/html/hudong/" target="_blank" ><h3>互动热点</h3></a>
					<div class="rightpic m10">
					   <ul>
						  						  						  <li>
							 <span class="f-l"><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1027451.html" title="肠套叠多发季节 患儿增多须警惕"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1210/20131210100814962.jpg" alt="肠套叠多发季节 患儿增多须警惕" width="100" height="100" /></a></span>
							 <span class="f-r w-95"><h4><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1027451.html">肠套叠多发季节 患儿增多须警惕</a></h4><p>近日，据安徽省立儿童医院了解，&ldquo;肠套叠&rdquo;患......</p></span>
						  </li> 
						  						  <li>
							 <span class="f-l"><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1027449.html" title="不是所有的二维码都能扫"><img src="http://jrbx.ahwang.cn/uploadfile/2013/1210/20131210095234810.jpg" alt="不是所有的二维码都能扫" width="100" height="100" /></a></span>
							 <span class="f-r w-95"><h4><a target="_blank" href="http://jrbx.ahwang.cn/html/201312/1027449.html">不是所有的二维码都能扫</a></h4><p>如今，扫二维码已经成为人们社交的常见方式，......</p></span>
						  </li> 
						  						     				   
					   </ul>
					</div>
			    </div>
				<div class="f-l m-l-10 m10">
					<!-- 广告位：安徽网首页互动热点下 -->
					<script type="text/javascript">BAIDU_CLB_fillSlot("814562");</script>
				</div>
			</div>      
			<div class="clear"></div>
	   </li>
	</ul>
</div>
<script type="text/javascript" src="{JS_PATH}jquery-1.7.2.min.js"></script> 
<script type="text/javascript" src="{JS_PATH}a.js"></script> 
</body>
</html>