<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}bt.css" rel="stylesheet" type="text/css" />
</head>

<body>
 <div id="dy">
  <div class="dytitle"><a href="http://shipin.ahwang.cn" target="_blank"><font style="font-size:26px; color:#485C7F;">食品</font></a></div>
  <div class="dyclear"></div>
  <div class="dymain">
   <div class="dyleft">
    <div class="dyad"><a href="http://shipin.ahwang.cn/a/shouyeguanggaohuandengpianshezhi/2013/0925/2094.html" target="_blank"><img src="http://shipin.ahwang.cn/ad/ad1.jpg" width="180" height="116" border="0"></a></div>
    <div class="dyad dymt"><a href="http://shipin.ahwang.cn/" target="_blank"><img src="http://shipin.ahwang.cn//uploads/allimg/130627/1-13062G104554V.jpg" width="180" height="116" border="0"></a></div>
   </div>
   <div class="dymid">
   <div class="dyhead"><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131128/2174.html" title="卡路里换十万双手套 蒙牛乳业和小伙伴为山里的小手们织温暖" target="_blank">卡路里换十万双手套 蒙牛乳业和</a></div>
    <div class="dydes">11月28日，感恩节。蒙牛乳业及合作伙伴们在北京通州区运河公园举办“交换卡路里”热力跑公益活动，志愿者们以跑步消耗的卡路里数换取手套，捐赠给乡村的孩子们，...</div>

    <div class="dyclear mt5"></div>
    <div class="clist">
     <ul class="d2 ico2">
      <li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131128/2174.html" title="卡路里换十万双手套 蒙牛乳业和小伙伴为山里的小手们织温暖" target="_blank">卡路里换十万双手套 蒙牛乳业和</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/qita/20131125/2172.html" title="2014年名优地产品展销会暨池州市第二届年货节组展工作正式拉开序幕" target="_blank">2014年名优地产品展销会暨池州市</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/jiushui/20131125/2171.html" title="中国生态文明建设高峰论坛暨创建中国生态文明（酒企）示范基地研讨会召开" target="_blank">中国生态文明建设高峰论坛暨创建</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131125/2173.html" title="蒙牛募得5亿美元债券  标普给予快消品行业A-最高评级" target="_blank">蒙牛募得5亿美元债券  标普给予</a></li>
<li><a href="http://shipin.ahwang.cn/a/zixun/20131120/2170.html" title="第六届中国黄山国际温泉文化旅游节开幕" target="_blank">第六届中国黄山国际温泉文化旅游</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131119/2169.html" title="远山的呼唤, 蒙牛乡村教育公益实验在路上" target="_blank">远山的呼唤, 蒙牛乡村教育公益实</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/yinliao/20131119/2168.html" title="加多宝冠名2014央视春晚 助力“凉茶中国梦”" target="_blank">加多宝冠名2014央视春晚 助力“</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131115/2167.html" title="“3D”牛奶邂逅3D音乐，享受特别的奶特时光" target="_blank">“3D”牛奶邂逅3D音乐，享受特别</a></li>

     </ul>
    </div>
    <div class="dyclear mt10"></div>
    <div class="dyad1"><a href="http://shipin.ahwang.cn" target="_blank"><img src="http://shipin.ahwang.cn/uploads/allimg/130709/3-130F91J250W4.jpg" width="499" height="38" border="0"></a></div>
   </div>
   <div class="dyright">
    <div class="dyrtitle">
     <a href="http://shipin.ahwang.cn/a/xingye/" target="_blank"><img src="http://shipin.ahwang.cn/templets/default/image/more.gif" width="232" height="21"></a>
    </div>
    <div class="dylist">
     <ul class="d10">
      
      <li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131128/2174.html" title="卡路里换十万双手套 蒙牛乳业和小伙伴为山里的小手们织温暖" target="_blank">【乳品】卡路里换十万双手套 蒙牛乳</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/qita/20131125/2172.html" title="2014年名优地产品展销会暨池州市第二届年货节组展工作正式拉开序幕" target="_blank">【其他】2014年名优地产品展销会暨池</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/jiushui/20131125/2171.html" title="中国生态文明建设高峰论坛暨创建中国生态文明（酒企）示范基地研讨会召开" target="_blank">【酒水】中国生态文明建设高峰论坛暨</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131125/2173.html" title="蒙牛募得5亿美元债券  标普给予快消品行业A-最高评级" target="_blank">【乳品】蒙牛募得5亿美元债券  标普</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131119/2169.html" title="远山的呼唤, 蒙牛乡村教育公益实验在路上" target="_blank">【乳品】远山的呼唤, 蒙牛乡村教育公</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/yinliao/20131119/2168.html" title="加多宝冠名2014央视春晚 助力“凉茶中国梦”" target="_blank">【饮料】加多宝冠名2014央视春晚 助</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131115/2167.html" title="“3D”牛奶邂逅3D音乐，享受特别的奶特时光" target="_blank">【乳品】“3D”牛奶邂逅3D音乐，享受</a></li>
<li><a href="http://shipin.ahwang.cn/a/xingye/rupin/20131115/2166.html" title="蒙牛总裁孙伊萍回母校：孙师姐，欢迎回家" target="_blank">【乳品】蒙牛总裁孙伊萍回母校：孙师</a></li>


     </ul>
   </div>
   </div>
  </div>
 </div>
</body>
</html>