<!--{include file="library/header_admin.lbi"}-->

<script type="text/javascript">
var i = 1;
function showdiv(obj) {
    if(i == 1) {
        // $(obj).find('span').stop().removeClass('icon-angle-double-left');
        $('#span-icon').stop().removeClass('icon-angle-double-left').addClass('icon-angle-double-right');
        $('.admin').stop().css('left', '50px');
        $('.slide').stop().css('width', '50px');
        i = 0;
    } else {
        $('#span-icon').stop().removeClass('icon-angle-double-right').addClass('icon-angle-double-left');
        $('.admin').stop().css('left', '160px');
        $('.slide').stop().css('width', '160px');
        i = 1;
    }
}
</script>

<div class="lefter">
    <div class="logo">
        <a href="index.php">
            <!-- <img src="templates/assests/images/logo.jpg"/> -->
            嘻哈学车管理系统</a>
    </div>
    <p class="slide">
       <a href="javascript:showdiv(this);" id="strHref" class="btn-slide text-white text-large">
           <span id="span-icon" class="icon-angle-double-left"></span>
        </a>
    </p>
</div>
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
                <span style="color:#fff;">您好，<!--{$name}-->，欢迎您的光临。</span>
                <!-- <a class="button button-little bg-main" href="http://www.pintuer.com" target="_blank">个人信息</a> -->
                <a class="button button-lg bg-yellow" href="index.php?action=admin&op=logout">注销登录</a>
            </span>
            <ul class="nav nav-inline admin-nav">
                <!--{foreach $manage_config as $key => $value}-->
                <li <!--{if $key == 1}-->class="active"<!--{/if}-->>
                    <a href="javascript:;" class="admin-nav-a" onclick="javascript:redirecttopurl('<!--{$value['controll']}-->', '<!--{$value['function']}-->', this)" ><i class="iconfont"><!--{$value['content']}--></i> <!--{$value['bigcate_name']}--></a>
                    <ul class="cate_ul">
                        <!--{foreach $value['seccate_name'] as $k => $v}-->
                         <li>
                            <a href="javascript:;" onclick="javascript:redirecturl('<!--{$v['controll']}-->','<!--{$v['function']}-->', this)">
                                <i class="iconfont" style="padding-right:15px; color:#ccc"><!--{$v['content']}--></i> 
                                <!--{$v['cate_name']}-->
                            </a>
                            <div class="show-tips" style="display:none;">
                                <!--{$v['cate_name']}-->
                            </div>
                        </li>
                        <!--{/foreach}-->
                         <!-- <div class="collapse"><div class="panel"> <div class="panel-head"><h4>...</h4></div> <div class="panel-body">...</div> </div></div> -->
                    </ul>
                </li>
                <!--{/foreach}-->

               <!--  <li class="active">
                    <a href="javascript:;" onclick="javascript:redirecttopurl('coach', 'index', this)" class="icon-home"> 开始</a>
                    <ul>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('coach','index', this)">教练列表</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('order','index', this)">订单列表</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('car','index', this)">车辆列表</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('member','index', this)">会员列表</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" onclick="javascript:redirecttopurl('coach', 'index', this)" class="icon-user"> 教练</a>
                    <ul>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('coach', 'index', this)">教练列表</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('coach', 'add', this)">教练添加</a></li>
                    </ul>
                </li>

                <li><a href="javascript:;" onclick="javascript:redirecttopurl('order', 'index', this)" class="icon-shopping-cart"> 订单</a>
                    <ul>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('order', 'index', this)">订单列表</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('order', 'pending', this)">已付款订单</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('order', 'untreated', this)">未付款订单</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('order', 'completed', this)">已完成订单</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('order', 'cancel', this)">已取消订单</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;" onclick="javascript:redirecttopurl('car', 'index', this)" class="icon-car"> 车辆</a>
                    <ul>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('car', 'index', this)">车辆列表</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('car', 'add', this)">车辆添加</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;" onclick="javascript:redirecttopurl('member', 'index', this)" class="icon-user"> 会员</a>
                    <ul>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('member', 'index', this)">会员列表</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('member', 'add', this)">会员添加</a></li>
                    </ul> 
                </li>
                <li><a href="javascript:;" onclick="javascript:redirecttopurl('manager', 'index', this)" class="icon-user"> 管理员</a>
                    <ul>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('manager', 'index', this)">管理列表</a></li>
                        <li><a href="javascript:;" onclick="javascript:redirecturl('manager', 'add', this)">管理添加</a></li>
                    </ul> 
                </li> -->
        <!--         <li><a href="#" class="icon-file"> 文件</a></li>
                <li><a href="#" class="icon-th-list"> 栏目</a></li> -->
            </ul>
        </div>
   <!--      <div class="admin-bread">
            <ul class="bread">
                <li><a href="javascript:;" class="nav_crumbs"> 开始</a></li>
                <li class="second_nav">后台首页</li>
            </ul>
        </div> -->
    </div>
</div>

<!-- <iframe name="right" id="leftMain" src="left.html" frameborder="false" scrolling="no" style="border:none; margin-bottom:0px;" width="100%" height="100%" allowtransparency="true"></iframe> -->
<!-- <div class="righter left_bar">
    <ul>
        <li class="active"><a href="javascript:redirecturl('info.html')">系统设置</a></li>
        <li><a href="javascript:redirecturl('list.html')">内容管理</a></li>
        <li><a href="#">订单管理</a></li>
        <li class=""><a href="#">会员管理</a></li>
        <li><a href="#">文件管理</a></li>
        <li><a href="#">栏目管理</a></li>
    </ul>
</div> -->


<!-- 右侧显示区域start -->
<div class="admin">
    <iframe name="right" id="rightMain" src="index.php?action=school&op=index" frameborder="false" scrolling="auto" style="border:none; margin-bottom:0px;" width="100%" height="100%" allowtransparency="true"></iframe>
</div>
<!-- 右侧显示区域end -->
<script type="text/javascript">
// 鼠标经过分类事件
    $('.cate_ul li').on({
        'mouseenter':function() {
            if($('.slide').css('width') == '50px') {
                $(this).find('.show-tips').css('display', 'block');
            }
        },
        'mouseleave':function() {
            $(this).find('.show-tips').css('display', 'none');
        }
    })
    
</script>
<!--{include file="library/footer.lbi"}-->