<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<!-- <link href="__PUBLIC__/Admin/assets/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" /> -->
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2-bootstrap.css">
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加报名点</title>
</head>
<body>
    <div class="pd-20 row cl">
        <div class="col-6">
            <form method="post" action="{:U('School/addTrainLocation')}" class="form form-horizontal">
                <if condition = "$school_id eq 0" >
                    <div class="row cl">
                        <label  class="form-label col-2 text-r"><span class="c-red">*</span>所属驾校：</label>
                        <div class="formControls col-6" > 
                            <select select2 ng-model="b" id="school_id" class="form-control" name="school_id" placeholder="请选择驾校">
                                <foreach name="school_list"  item="value">
                                    <option value="{$value.l_school_id}" >{$value.s_school_name}</option> 
                                </foreach>s
                            </select>
                            <span class="clearfix"></span>
                        </div>
                    </div>
                </if>
                <div class="row cl">
                    <label class="form-label col-2 text-r" for="sh_title"><span class="c-red">*</span>报名点地址: </label>
                    <div class="formControls col-6">
                        <input id="tl_train_address" type="text" class="input-text" name="train_address" value="{$tl_info.tl_train_address}" required />
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2 text-r" for="sh_title"><span class="c-red">*</span>电话号码: </label>
                    <div class="formControls col-6">
                        <input id="tl_phone" type="text" class="input-text" name="phone" value="{$tl_info.tl_phone}" required />
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2 text-r" for="sh_title"><span class="c-red">*</span>设置坐标 X: </label>
                    <div class="formControls col-6">
                        <input id="tl_location_x" type="text" class="input-text" name="location_x" value="{$tl_info.tl_location_x}" required />
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2 text-r" for="sh_title"><span class="c-red">*</span>设置坐标 Y: </label>
                    <div class="formControls col-6">
                        <input id="tl_location_y" type="text" class="input-text" name="location_y" value="{$tl_info.tl_location_y}" required />
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2">排序：</label>
                    <div class="formControls col-6">
                        <input type="button" value="-" onclick="subNum(this)" class="btn btn-secondary" style="border-radius:3px;" >
                        <input type="input-text"  value="0" name="order" placeholder="请填写排序" style="width:240px;height:26px;text-align:center;border-radius:3px;" >
                        <input type="button" value="+" onclick="addNum(this)" class="btn btn-secondary" style="border-radius:3px;" >
                    </div>
                </div>
                
                <div class="row cl">
                    <div class="formControls col-10 col-offset-2">
                        <button type="submit" class="btn radius btn-primary"><i class="Hui-iconfont">&#xe632;</i>保存并提交审核</button>
                        <button onClick="layer_close()" type="button" class="btn btn-default radius">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="allmap" class="col-6" style="height: 646px;border: 1px dotted green;">
          <iframe src="http://api.map.baidu.com/lbsapi/getpoint/index.html" frameborder="false" scrolling="auto" style="border:none; width: 100%; height:90%;">
          </iframe>
        </div>
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script> 
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/webuploader/0.1.5/webuploader.min.js"></script>  -->
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>  -->
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/angular.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/selectindex.js"></script> 
<script type="text/javascript">
    // 数目增加1
    function subNum(obj){
        var temp=parseInt(obj.nextElementSibling.value);
        if(temp>0){
            temp--;
            obj.nextElementSibling.value=temp;
        }
    }
    function addNum(obj){
        var temp=parseInt(obj.previousElementSibling.value);
        temp++;
        obj.previousElementSibling.value=temp;
    }
</script> 
</body>
</html>
