<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/assets/umeditor/themes/default/css/umeditor.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2-bootstrap.css">

<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>编辑驾校场地</title>
</head>
<body>
    <div class="pd-20">
        <div class="float-left" style="width:100%">
        	<form action="{: U('School/editSchoolSite')}" enctype="multipart/form-data" method="post" class="form form-horizontal" id="editSchoolSite">
                <input type="hidden" name = "id" id="" value = "{$school_site.id}" >
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>所属驾校：</label>
                    <div class="formControls col-2">
                        <input type="text" class="input-text" value="{$school_site.s_school_name}"  readonly placeholder="" id="s_school_name" name="s_school_name"  />
                        <input type="hidden" name = "school_id" id="" value = "{$school_site.school_id}" >
                    </div>   
                </div>
        		<div class="row cl">
        			<label class="form-label col-2"><span class="c-red">*</span>驾校地址名称：</label>
        			<div class="formControls col-2">
        				<input type="text" class="input-text" value="{$school_site.site_name}"   placeholder="如:八一驾校南岗培训基地" id="site_name" name="site_name" datatype="*2-16" nullmsg="驾校名称不能为空" />
        			</div>   
        		</div>
                <div class="row cl">
                    <label class="form-label col-2">场地是否展示：</label>
                    <div class="formControls col-3 btn-group">
                        <if condition= "$school_site.site_status eq 1 " > 
                            <label class="btn radius btn-success radio show"><input name="show" value="1" type="radio" style="display:none" checked >开放</label>
                        <else/>
                            <label class="btn radius btn-primary-outline radio show"><input name="show" value="1" type="radio" style="display:none"  >开放</label>
                        </if>
                        <if condition= "$school_site.site_status eq 2 " > 
                            <label class="btn radius btn-success radio show"><input name="show" value="2" type="radio" style="display:none" checked >不开放</label>
                        <else/>
                            <label class="btn radius btn-primary-outline radio show"><input name="show" value="2" type="radio" style="display:none" >不开放</label>
                        </if>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2 text-r" for="imgurl">场地风彩图：</label>
                    <div class="formControls col-10">
                        <span class="btn-upload form-group">
                            <input class="input-text upload-url col-3" type="text" name="imgurl" id="imgurl" value="{$school_site.imgurl}"readonly>
                            <a href="javascript:void();" class="btn btn-primary"><i class="Hui-iconfont" >&#xe646;</i> 浏览图片</a>
                            <input type="file" multiple name="imgurl" class="input-file" value="{$school_site.imgurl}">
                        </span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2 text-r" for="point_texturl">场地打点文件1：</label>
                    <div class="formControls col-10">
                        <span class="btn-upload form-group">
                            <input class="input-text upload-url col-3" type="text" name="point_texturl" id="point_texturl" value="{$school_site.point_text_url1}" readonly>
                            <a href="javascript:void();" class="btn btn-primary"><i class="Hui-iconfont">&#xe646;</i> 浏览txt文件</a>
                            <input type="file" multiple name="point_texturl" class="input-file" value="{$school_site.point_text_url1}">
                        </span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2 text-r" for="point_texturl2">场地打点文件2：</label>
                    <div class="formControls col-10">
                        <span class="btn-upload form-group">
                            <input class="input-text upload-url col-3" type="text" name="point_texturl2" id="point_texturl2" value="{$school_site.point_text_url2}" readonly>
                            <a href="javascript:void();" class="btn btn-primary"><i class="Hui-iconfont">&#xe646;</i> 浏览txt文件</a>
                            <input type="file" multiple name="point_texturl2" class="input-file" value="{$school_site.point_text_url2}">
                        </span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2 text-r" for="resource_url">3D模型资源下载链接：</label>
                    <div class="formControls col-10">
                        <span class="btn-upload form-group">
                            <input class="input-text upload-url col-3" type="text" name="resource_url" id="resource_url" value="{$school_site.model_resource_url}" readonly>
                            <a href="javascript:void();" class="btn btn-primary"><i class="Hui-iconfont">&#xe646;</i> 浏览压缩包</a>
                            <input type="file" multiple name="resource_url" class="input-file" value="{$school_site.model_resource_url}">
                        </span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2" for="address"><span class="c-red">*</span>地址：</label>
                    <div class="formControls col-1" >
                          <select class="select" name="province" id="province" style="height:30px; width:128px;">
                            <if condition="$school_site.province_id neq null" >
                                <option value="{$school_site.province_id}">{$school_site.province}</option>
                                <foreach name="province_list" item="pro">
                                    <option value="{$pro.provinceid}">{$pro.province}</option>
                                </foreach>
                            <else/>
                                <option value="">请选择省份</option>
                                <foreach name="province_list" item="pro">
                                    <option value="{$pro.provinceid}">{$pro.province}</option>
                                </foreach>
                            </if>
                          </select>
                    </div>             
                    <div class="formControls col-1">  
                          <select class="select" name="city" id="city" style="height:30px; width:128px;">
                            <if condition = "$school_site.city_id neq null ">
                                <option value="{$school_site.city_id}">{$school_site.city}</option>
                            <else/>
                                <option value="">请选择城市</option>
                            </if>           
                          </select>
                    </div>
                    <div class="formControls col-1 ">
                          <select class="select" name="area" id="area" style="height:30px; width:128px;">
                            <if condition = "$school_site.area_id neq null ">
                                <option value="{$school_site.area_id}">{$school_site.area}</option>
                            <else/>
                                <option value="">请选择区域</option>
                            </if> 
                          </select> 
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>场地详细地址：</label>
                    <div class="formControls col-4">
                        <input type="text" class="input-text" value="{$school_site.address}" placeholder="请填写详细地址" id="address" name="address" datatype="*2-30" nullmsg="详细地址不能为空" />
                    </div>
                </div>
        		<div class="row cl">
        			<label class="form-label col-2">驾校场地简介：</label>
        			<div class="formControls col-4">
        				<textarea name="site_intro" style="height:400px;width:450px;" id="site_intro" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符"  dragonfly="true"  onKeyUp="textarealength(this,1000)">{$school_site.site_desc}</textarea>
                    </div>
                    <div class="row cl"><label class="col-8 col-offset-5"><spna style ="color:red">最多200个字符</span></label></div>
                </div>
                <br/> 
        		<div class="row cl">
        			<div class="col-10 col-offset-2">
        				<button class="btn btn-primary radius " id="submit" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
        				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        			</div>
        		</div>
        	</form>
        </div>
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/jquery.provincesCity.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/assets/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/assets/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/angular.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/selectindex.js"></script>
<script type= "text/javascript">
    $(function() {
        // 加载编辑器
        var um = UM.getEditor('site_intro');
        <!-- var _um = UM.getEditor('shifts_intro'); -->
    });

    // 表单验证
    $( function () {
        $('#editSchoolSite').Validform({
                tiptype:2,
                callback:function(form){
                    form[0].submit();
                }
        });
    }) 
    
    /*
    * 展示与不展示
    * 点击切换效果
    */
    $('.btn-group .show input').click(function() {
      var current = $(this).parent();
      var siblings = $(this).parent().siblings();
      current.removeClass("btn-primary-outline").addClass("btn-success");
      siblings.removeClass("btn-success").addClass("btn-primary-outline");
    });

    //城市联动
    $('#province').blur(function() {
        var province_id = $(this).val();
        $('#city').load("__URL__/getCity/province_id/"+province_id);
    });
    $('#city').blur(function() {
        var city_id = $(this).val();
        $('#area').load("__URL__/getArea/city_id/"+city_id);
        var city_html = $(this).find('option:selected').html();
        var province_html = $('#province').find('option:selected').html();
        $('#address').val(province_html+city_html);
    });
    $('#area').blur(function() {
        var city_html = $('#city').find('option:selected').html();
        var province_html = $('#province').find('option:selected').html();
        var area_html = $(this).find('option:selected').html();
        $('#address').val(province_html+city_html+area_html);
    });
</script>
</body>
</html>