<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>报名点管理</title>
</head>
<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>驾校管理<span class="c-gray en">&gt;</span> 场地管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="pd-20">
        <form method="post" action="{: U('School/searchSchoolSite')}" name="search">
        	<div class=""> 
                <label for="search_status">按场地开放状态 </label>
                <select class="" name="site_status" id="site_status" style="width:125px;height:30px">                
                    <option style="" value="" >--不限开放状态--</option>
                    <option style="" value="1" <if condition = "$site_status eq 1">selected</if>>开放</option>
                    <option style="" value="2" <if condition = "$site_status eq 2">selected</if>>不开放</option>
                </select> 
            	<label for="search_type">按场地名称</label>
            	<input id="s_keyword" class="input-text default size-M" type="text" name="s_keyword" placeholder="输入场地名称" style="width:200px;" value="{$s_keyword}"/>
            	<input type="submit" id="" class="btn btn-primary size-M default" style="width:100px" value="搜索" />
        	</div>
            <br/>
        	<div class="cl pd-5 bg-1 bk-gray">
              <a href="javascript:;" onclick="addSchoolSite('添加驾校场地','{: U('School/addSchoolSite')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加驾校场地</a></span> <span class="r"></span> 
              <span class="r">
                共有场地: <strong>{$count}</strong>个
              </span>
            </div>
        	<div class="mt-20">
            	<table class="table table-border table-bordered table-hover table-bg table-sort">
            		<thead>	
            			<tr class="text-c">
            				<th width="25"><input type="checkbox" name="" value=""></th>
            				<th width="40">ID</th>
            				<if condition = "$school_id eq 0">
            					<th width="80">驾校名称</th>
            				</if>
            				<th width="80">场地名称</th>
                            <th width="80">打点图一</th>
                            <th width="80">打点图二</th>
            				<th width="100">3D模型资源链接</th>
            				<th width="120">场地地址</th>
            				<th width="90">添加时间</th>
            				<th width="50">开放状态</th>
            				<th width="50">操作</th>
            			</tr>
            		</thead>
            		<tbody>
                		<volist name="site_list" id="v">
                			<tr class="text-c">
                				<td class="va-m"><input type="checkbox" value="1" name=""></td>
                                <td class="va-m">{$v.id}</td>
                				<if condition = "$school_id eq 0">
                					<td class="va-m">{$v.s_school_name}</td>
                				</if>
                				<td class="va-m">{$v.site_name}</td>
                                <if condition="$v.point_text_url1 neq ''">
                                    <td class="va-m">
                                        <a href="{$v.point_text_url1}" style="color:yellowgreen">浏览/下载</a>
                                    </td>
                                <else/>
                                    <td class="va-m">--</td>
                                </if>

                                <if condition="$v.point_text_url2 neq ''">
                                    <td class="va-m"> 
                                        <a href="{$v.point_text_url2}" style="color:yellowgreen">浏览/下载</a>
                                    </td>
                                <else/>
                                    <td class="va-m">--</td>
                                </if>

                                <if condition="$v.model_resource_url neq ''">
                                    <td class="va-m">
                                        <a href="{$v.model_resource_url}" style="color:yellowgreen">浏览/下载</a>
                                    </td>
                                <else/>
                                    <td class="va-m">--</td>
                                </if>
                                <td class="va-m">{$v.address}</td>
                                <td class="va-m">{$v.add_time}</td>
                                <td class="va-m setstatus">
                					<switch name="v.site_status">
                					    <case value="1"><span data-id="{$v.id}" title="1" class="btn btn-success size-S radius">开放</span></case>
                					    <case value="2"><span data-id="{$v.id}" title="2" class="btn btn-danger size-S radius">不开放</span></case>
                					    <default /><span data-id="{$v.id}" class="btn btn-danger size-S radius">不开放</span>
                					</switch>
                				</td>
                				<td class="va-m td-manage">				
                					<a title="删除" href="javascript:void(0);" onclick="javascript:member_del(this,{$v.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                					<a title="编辑" href="javascript:void(0);" onclick="member_edit('编辑报名点','{: U('School/editSchoolSite')}?id={$v.id}&school_id={$v.l_school_id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
                				</td>
                			</tr>
                		</volist>
            		</tbody>
            	</table>
            </div>
        	<div class="page pagination" style="">
        		<empty name="count">
        		  <br/><strong>暂无列表</strong><br /><br /><br />
        		</empty>
        		<p>{$page}</p>
        	</div>
        </form>
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript">
    /*图片预览*/
    function show(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /**
     * 设置驾校场地开放的状态
     *
     * @return  void
     * @author  wl
     * @date    August 08, 2016
     **/
    $('.setstatus span').click(function() {
    	    var sid = $(this).attr('data-id');
    	    var status = $(this).attr('title');
    	    switch(status){
              case '1': status = 2; break;
              case '2': status = 1; break;
    	    }
         $.ajax({
            type:"POST",
            url:"{:U('School/setSiteStatus')}",
            data: {'id':sid, 'status':status},
            dataType: "JSON",
            success: function(data){
            	if(data.code == 200){
                   location.reload();
               	} else {
                   	layer.msg(data.msg,{icon:2,time:1000});
               	}
             },
             error: function(){
             	layer.msg('网络错误，请检查网络!',{icon:2,time:1000});
             }
         })
    });

    /*用户-添加*/
    function addSchoolSite(title,url){
    	// layer_show(title,url);
    	var index = layer.open({
    		type: 2,
    		title: title,
    		content: url
    	});
    	layer.full(index);
    }

    /*用户-编辑*/
    function member_edit(title,url,id,w,h){
    	var index = layer.open({
    		type: 2,
    		title: title,
    		content: url
    	});
    	layer.full(index);

    }

    /*用户-删除*/
    function member_del(obj,id){
    	layer.confirm('确认要删除吗？',function(index){
    		$.ajax({
    			type:"POST",
    			url:"__URL__/delSchoolSite",
    			data:{'id':id},
    			dataType:'JSON',
    			success:function(data) {
    				//console.log(data);
    				if(data.code == 200) {
    					$(obj).parents("tr").remove();
    					layer.msg('已删除!',{icon:1,time:1000});
    				} else {
    					layer.msg('删除失败!',{icon:2,time:1000});
    				}
    					
    			},
    			error:function() {
    				layer.msg('网络错误，请检查网络!',{icon:2,time:1000});	
    			}
    		});
    	});
    }
</script> 
</body>
</html>
