<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/select2-bootstrap.css"> -->
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>发送新通知</title>
</head>
<body>
    <div class="pd-20">
        <form method="post" action="{:U('System/addSms')}" class="form form-horizontal" id="addSms">
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>通知标题：</label>
                <div class="formControls col-3">
                    <input type="text" class="input-text"  value="" placeholder="请填写标题，如：取消订单" id="beizhu" name="beizhu" datatype="*1-32" nullmsg="标题不能为空" />
                </div>
            </div>
           
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>通知内容：</label>
                <div class="formControls col-3 ">
                    <textarea name="content"  id="content" style=""  cols="" rows="20" class="textarea"  placeholder="请填写短信内容；注：不超过500字符"  dragonfly="true" onKeyUp="textarealength(this,1000)"  datatype="*1-500" nullmsg="短信内容不能为空"></textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>
                </div>
            </div>

            <div class="row cl">
                <label  class="form-label col-2 text-r"><span class="c-red">*</span>客户类型：</label>
                <div class="formControls col-3 btn-group"> 
                    <label class="btn radius btn-success radio show"><input name="member_type" value="1" checked type="radio" style="display:none;">学员</label>
                    <label class="btn radius btn-primary-outline radio show"><input name="member_type" value="2" type="radio" style="display:none;">教练</label>
                </div>
            </div>
            <div class="row cl">
                <label  class="form-label col-2 text-r"><span class="c-red">*</span>客户手机：</label>
                <div class="formControls col-3" > 
                    <input type="text" class="input-text"  value="" placeholder="请填写客户手机" id="user_phone" name="user_phone" datatype="*1-32" nullmsg="客户手机不能为空" />
                    <span id="phone-tips" style="color:red;"></span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>通知来源：</label>
                <div class="formControls col-3">
                    <input type="text" class="input-text"  value="嘻哈学车" placeholder="请填写来源，如：嘻哈学车" id="s_from" name="s_from" datatype="*1-32" nullmsg="来源不能为空" />
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-5 col-offset-2">
                    <button type="submit" class="btn radius btn-primary"><i class="Hui-iconfont">&#xe632;</i>发送</button>
                    <button onClick="layer_close()" type="button" class="btn btn-default radius">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>   
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/select2.min.js"></script> -->
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/assets/js/selectindex.js"></script> -->
<script type="text/javascript">
    // 表单验证
    $( function () {
        $('#addSms').Validform({
            tiptype:2,
            callback:function(form){
                form[0].submit();
            }
        });
    })

    /*
    * 展示与不展示
    * 点击切换效果
    */
    $('.btn-group .show input').click(function() {
        var current = $(this).parent();
        var siblings = $(this).parent().siblings();
        current.removeClass("btn-primary-outline").addClass("btn-success");
        siblings.removeClass("btn-success").addClass("btn-primary-outline");
    });

    // 客户手机号的检测
    $('#user_phone').blur(function () {
        var user_phone = $('#user_phone').val();
        if ( user_phone.trim() == '' ) {
            layer.msg('手机号不能为空', {icon: 6});
            return false;
        }

        if ( !parseInt( user_phone ) ) {
            layer.msg('请填写正确格式', {icon: 6});
            return false;

        } else if ( !validatePhone ( user_phone ) ) {
            layer.msg('请填写正确格式', {icon: 6});
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '__URL__/checkPhone',
            data: {'user_phone': user_phone},
            dataType: 'JSON',
            beforeSend: function () {
                $('#phone-tips').html('☛ 检测中... ...');
            },
            success: function (data) {
                $('#phone-tips').html(data.msg);
            }
        })
    });
    
    // 检测手机格式
    function validatePhone ( phone ) {
        var reg = /^0?1[3|4|5|8|7|9][0-9]\d{8}$/;
        if ( !reg.test( phone ) ) {
            return false;
        } else {
            return true;
        }
    }

</script> 
</body>
</html>
