<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/assets/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>编辑驾校时间配置</title>
</head>
<body>
	<br />
    <div id="tab_school" class="HuiTab">
		<div class="pd-20">
			<form action="{:U('System/editSchoolConfig')}" enctype="multipart/form-data" method="post" class="form form-horizontal" id="form-article-add">	
            	<input type="hidden" value="{$school_config.l_school_id}" name="school_id"  readonly/>
			   	<if condition = "$school_id eq 0" >
		            <div class="row cl">
		                <label  class="form-label col-2"><strong>驾校名称：</strong></label>
		                <div class="formControls col-2" > 
		                	<input type="text" style="background:#ccc" class="input-text" value="{$school_config.s_school_name}" name="s_school_name" readonly/>
		                </div>
		            </div>
	        	</if>
			 	<div class="row cl">
					<label class="form-label col-2" for="cancel_in_advance"><strong>取消必须提前： </strong></label>
	                <div class="formControls col-2" > 
	                	<select class="" name="cancel_in_advance" id="cancel_in_advance" style="width:215px;height:30px">              
						 	<option value="2" <if condition="$school_config.cancel_in_advance eq 2">selected</if>>2小时</option>
							<option value="4" <if condition="$school_config.cancel_in_advance eq 4">selected</if>>4小时</option>
							<option value="8" <if condition="$school_config.cancel_in_advance eq 8">selected</if>>8小时</option>
							<option value="12" <if condition="$school_config.cancel_in_advance eq 12">selected</if>>12小时</option>
							<option value="24" <if condition="$school_config.cancel_in_advance eq 24">selected</if>>1天</option>
							<option value="48" <if condition="$school_config.cancel_in_advance eq 48">selected</if>>2天</option>
							<option value="72" <if condition="$school_config.cancel_in_advance eq 72">selected</if>>3天</option>
							<option value="168" <if condition="$school_config.cancel_in_advance eq 168">selected</if>>1周</option>
						</select>
					</div>
			 	</div>
				<div class="row cl">
					<label class="form-label col-2" for="i_cancel_order_time"><strong>当天最多可取消： </strong></label>
	                <div class="formControls col-2" > 
				 		<select class="" name="i_cancel_order_time" id="i_cancel_order_time" style="width:215px;height:30px">              
						 	<option value="1" <if condition="$school_config.i_cancel_order_time eq 1">selected</if>>1次</option>
						 	<option value="2" <if condition="$school_config.i_cancel_order_time eq 2">selected</if>>2次</option>
						 	<option value="3" <if condition="$school_config.i_cancel_order_time eq 3">selected</if>>3次</option>
							<option value="4" <if condition="$school_config.i_cancel_order_time eq 4">selected</if>>4次</option>
							<option value="8" <if condition="$school_config.i_cancel_order_time eq 8">selected</if>>8次</option>
							<option value="24" <if condition="$school_config.i_cancel_order_time eq 24">selected</if>>24次</option>
						</select> 
					</div>
			 	</div>  
				<div>
                    <!--
				 	<p class="c-warning pd-15">
				 		此选项设置的是限制 预约学车 订单取消时间节点（比如提前2个小时取消订单，就选择2）	
				 	</p>
                    -->
				</div> 
				<div class="row cl">
					<label class="form-label col-2" for="i_sum_appoint_time"><strong>最多可预约一天中的： </strong></label>
	                <div class="formControls col-4" > 
						<select class="" name="i_sum_appoint_time" id="i_sum_appoint_time" style="width:215px;height:30px">              
							<option value="1" <if condition="$school_config.i_sum_appoint_time eq 1">selected</if>>1小时</option>
						 	<option value="2" <if condition="$school_config.i_sum_appoint_time eq 2">selected</if>>2小时</option>
							<option value="4" <if condition="$school_config.i_sum_appoint_time eq 4">selected</if>>4小时</option>
							<option value="8" <if condition="$school_config.i_sum_appoint_time eq 8">selected</if>>8小时</option>
						</select> 
					</div> 
				</div>
				<div>
                    <!--
				 	<p class="c-warning pd-15">
				 		此选项设置的是每个人每天 预约学车 多少小时限制（比如只能预约2个小时，就选择2, 如果不限制默认为2个小时）	
				 	</p>
                    -->
				</div>  
				<div class="row cl">
					<label class="form-label col-2"><strong>教练时间自动生成： </strong></label>
					<div class="formControls col-8">
						<input type="radio" name="is_automatic" value="1" <if condition="$school_config.is_automatic eq 1">checked</if> >是
						<input type="radio" name="is_automatic" value="2"  <if condition="$school_config.is_automatic eq 2">checked</if> >否
				 	</div>  
				</div>
				<div>
                    <!--
				 	<p class="c-warning pd-15">
				 		该项是设置教练的时间配置是否采用自动生成或者手动设置的选项（默认是自动生成）	
				 	</p>
                    -->
				</div> 
				<div class="row c1">
					<label class="form-label col-2" for="system_timeconf"><strong>系统时间设置：</strong></label>
					<div class="formControls col-8">
					    <table class="table table-border table-bordered table-hover" id="system_timeconf">
	      					  <thead>
							    <tr>
						    		<th width="20%"><input type="checkbox" name="" value="">全选</th>
							    	<th>开始时间</th>
							    	<th>结束时间</th>
							    	<th>是否可被预约</th>
							    </tr>
							  </thead>
							  <tbody>
							  	<foreach name="coach_config" item="v" key="k">
								    <tr title="{$v.id}">
								    	<td><input type="checkbox" id="checkbox_{$k+1}" value="{$v.id}" name="time_config_id[]" <eq name="v.is_set" value="1" >checked</eq>>
								    	</td>
								    	<td>{$v.final_start_time}</td>
								    	<td>{$v.final_end_time}</td>
								    	<td class="setting">
	                                        <if condition="$v.is_set eq 1">
	                                        	<span class="label label-success radius">可以</span>
	                                        <else />
	                                        	<span class="label label-default radius">不可以</span>
	                                        </if>		
	                                    </td>
								    </tr>
								</foreach>
							  </tbody>
	    				</table>
    				</div>
    			</div>
				<div class="row cl">
					<div class="col-10 col-offset-2">
						<button class="btn btn-primary radius " id="submit" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
						<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
					</div>
				</div>
			</form>
		</div>
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/H-ui.admin.js"></script> 
<script type="text/javascript">
</script> 
</body>
</html>
